<section class="about container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6 about_detail_">

                <p class="cnpy_location help_txt_">
                    نیاز به کمک بیشتری دارید
                </p>
                <p class="cnpy_location slagon_txt_">
                    کارشناسان ساتراپ
                </p>
                <a class="call_to_agent_">مرکز تماس</a>
            </div>
        </div>
    </div>
</section>