{% if all_faqs %}
<section class="faq_section">
    <div class="container">
        <h3 class="blog_sec_title">سوالات متداول</h3>
    <p class="faq_subtitle_">هر آنچه نیاز است بدانید را ما پاسخ می دهیم</p>
        <div class="row">
            <div class="col=lg-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    {% for q in all_faqs %}
                        <div class="accordion-item">
                            <p class="accordion-header" id="flush-heading-{{ forloop.counter }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapse-{{ forloop.counter }}" aria-expanded="false"
                                        aria-controls="flush-collapse-{{ forloop.counter }}">
                                    <span style="text-align: center; width: 50px"><img width="30" height="30" alt="سوال" src="/static/Homepage/faq-icon.png" loading="lazy" decoding="async"></span>
                                    {% if q.question %}
                                    {{ q.question }}
                                    {% else %}
                                    {{ q.Question }}
                                    {% endif %}
                                </button>
                            </p>
                            <div id="flush-collapse-{{ forloop.counter }}" class="accordion-collapse collapse"
                                 aria-labelledby="flush-heading-{{ forloop.counter }}"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {% if q.answer %}
                                    {{ q.answer|safe }}
                                    {% else %}
                                    {{ q.Answer|safe }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}