<section class="spacial_feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 feat-sec">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="/static/Homepage/price_gt.png">
                    </div>
                    <div class="col-lg-8 margin-top-25">
                        <h5 class="feat-title">{{ set.box_1_title}}</h5>
                        <p class="feat-text">{{ set.box_1_desc}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 feat-sec">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="/static/IconPack/PNG/bag_2x.png">
                    </div>
                    <div class="col-lg-8 margin-top-25">
                        <h5 class="feat-title">{{ set.box_2_title }}</h5>
                        <p class="feat-text">{{ set.box_2_desc }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 feat-sec">
                <div class="row">
                    <div class="col-lg-4">
                        <img width="70%" src="/static/IconPack/PNG/travel_2x.png">
                    </div>
                    <div class="col-lg-8 margin-top-25">
                        <h5 class="feat-title">{{ set.box_3_title }}</h5>
                        <p class="feat-text">{{ set.box_3_desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>