<div class="row">
    <div class="col-lg-10 search_f_">
        <p class="search_label_">نام هتل را وارد کنید</p>
        <input
                type="text" name="hotel_name" maxlength="300"
                class="text-input search-input" placeholder=" نام هتل را وارد کنید"
                onchange="search_hotel()" autocomplete="off" id="id_hotel_name">
    </div>
    <div class="col-lg-2">
        <a id="search_link" href="" class="submit-search link_search">
            <i class="fa fa-search"></i>
        </a>
    </div>
</div>