<div class="preloader">
        <div class="preloader-c shown">
            <div class="preloader-c__overlay"></div>
            <div class="preloader-c__data" style="background-image: url(&quot;&quot;);">
                <div class="preloader-c__circle">
                    <div class="preloader-c__circle-item preloader-c__circle-item_1"></div>
                    <div class="preloader-c__circle-item preloader-c__circle-item_2">
                        <div class="preloader-c__circle-item-mark"></div>
                    </div>
                    <div class="preloader-c__circle-item preloader-c__circle-item_3"></div>
                </div>
                <div class="preloader-c__logo">
{#                    <img src="/static/asset/css/images/logo-dark.svg" alt=""#}
{#                                                    class="preloader-c__logo-img">#}
                </div>
                <div class="preloader-c__part preloader-c__part_text">
                    <div class="preloader-c__title preloader-c__title_item-3-en">
                        آرزوی شما را برآورده میکنیم!
                        </div>
                </div>
                <div class="preloader-c__site">arezoosafar.com</div>
            </div>
        </div>
    </div>