<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Force non-WWW and SSL" enabled="true" stopProcessing="true">
                  <match url="(.*)" />
                  <conditions logicalGrouping="MatchAny">
                      <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
                      <add input="{HTTPS}" pattern="off" />
                  </conditions>
                  <action type="Redirect" url="https://arezoosafar.com/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>
		        <rule name="visa_redirect" stopProcessing="true">
                    <match url="blog/16/tourist-visa-russia" />
                    <action type="Redirect" redirectType="Permanent" url="https://arezoosafar.com/russia_visa" />
                </rule>
                <rule name="shafagh" stopProcessing="true">
                    <match url="tour/112/reserve-01" />
                    <action type="Redirect" url="https://arezoosafar.com/MURMANSK/39/city-tours" />
                </rule>
                <rule name="qesti" stopProcessing="true">
                    <match url="blog/356/northern-lights" />
                    <action type="Redirect" url="https://arezoosafar.com/blog/374/northern-lights" />
                </rule>
                <rule name="مورمانسک  به شفق" stopProcessing="true">
                    <match url="Murmansk-city/106/city-tours" />
                    <action type="Redirect" url="https://arezoosafar.com/MURMANSK/39/city-tours" />
                </rule>
                <rule name="آب و هوای روسیه" stopProcessing="true">
                    <match url="blog/416/ussia-weather" />
                    <action type="Redirect" url="https://arezoosafar.com/blog/416/russia-weather" />
                </rule>
                <rule name="تور مالزی" stopProcessing="true">
                    <match url="MALASSIA/9/all-tour" />
                    <action type="Redirect" url="https://arezoosafar.com/malaysia/9/all-tour" />
                </rule>
                <rule name="هتل مالزی" stopProcessing="true">
                    <match url="all-country-hotel/9/MALASSIA" />
                    <action type="Redirect" url="https://arezoosafar.com/all-country-hotel/9/malaysia" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Remove Server Header" stopProcessing="true">
                    <match serverVariable="RESPONSE_Server" pattern=".+" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
    <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
    <dynamicTypes>
      <add mimeType="text/*" enabled="true" />
      <add mimeType="application/javascript" enabled="true" />
      <add mimeType="application/json" enabled="true" />
    </dynamicTypes>
    <staticTypes>
      <add mimeType="text/*" enabled="true" />
      <add mimeType="application/javascript" enabled="true" />
      <add mimeType="application/json" enabled="true" />
    </staticTypes>
  </httpCompression>
  <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    </system.webServer>
</configuration>
