<html lang="fa-IR" dir="rtl">
<head>{% load static %}{% load humanize %}{% load jalali_tags %}{% load webp_converter %}
    {% include 'ui/mobile/base/head.html' %}
    <link rel=“canonical” href=""/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>ساتراپ | لیست آخرین تورهای نوروزی</title>
</head>
<body>
{% include 'ui/mobile/base/header.html' %}
{#<section class="mobile_filter tour_list_section">#}
{#</section>#}
<section style="height: 180px;" class="destenation_selector_ tour_list_page">
    <div class="container">
        <h5 class="sec_title">مقصد خود را انتخاب کنید:</h5>
        <div class="large-12 columns">
            <div class="owl-one owl-carousel owl-theme">
                {% if countries %}
                    {% for countries, ctry_tour_count in countries %}
                        <div class="item">
                            <div class="country_list_">
                                <div class="country_image">
                                    <a href="{% url 'all-tour-country' countries.slug countries.id %}">
                                        <img alt="{{ countries.TitleC }}" class="country_image_"
                                             src="{{ countries.Flagimg.url }}">
                                    </a>
                                </div>
                                <div class="country_name_">
                                    <a href="{% url 'all-tour-country' countries.slug countries.id %}"
                                       class="Country_name">
                                        {{ countries.TitleC }}
                                    </a>
                                    <p class="country_tours">
                                        {{ ctry_tour_count }} تور {{ countries.TitleC }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="tour_list_page {% if not cities %}margin_top{% endif %} {% if not countries %}margin_top{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 tour_list_page">
                <h5 class="tour_sec_title" style="margin-bottom: 30px;padding-right: 0;">لیست آخرین تورهای نوروزی</h5>
                {% if AllTour %}
                    {% for tours, cities, packages in AllData %}
                        <div class="row all_tour_list_">
                            <div class="row top_section">
                                <div class="col-lg-8 tour_top_right">
                                    <div class="tlt"><span>{{ tours.Title }}</span></div>
                                </div>
                                <div class="col-lg-4 tour_top_left">
                                    <div class="installment">
                                        {% if tours.Installment %}
                                            <p class="instm"> اقساطی</p>
                                        {% endif %}
                                        {% if tours.Cash %}
                                            <p class="cash">نقدی</p>
                                        {% endif %}
                                        {% if tours.satrap_gte %}
                                            <p class="grt_">گارانتی ساتراپ</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-4 tour_bottom right">
                                            <div class="time-text">
                                                <span> {{ tours.NightCount }} شب و {{ tours.DayCount }} روز</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 tour_bottom center">
                                            <p class="airline_tlt_">ایرلاین</p>
                                            <p class="airline_name">{{ cities.0.Airline.AirLineTitle }}</p>
                                        </div>
                                        <div class="col-lg-4 tour_bottom left">
                                            <p class="airline_tlt_">رفت</p>
                                            <p class="airline_name">{{ tours.StartDate | to_jalali:'%Y/%m/%d' }}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row bottom_section">
                                <div class="col-lg-8 tour_top_right price_section">
                                    {% if packages.0.DollerPrice %}
                                        <p class="main_price_">{{ packages.0.DoubleBedPrice | floatformat:0 | intcomma }}
                                            {% if packages.0.Pcry %}
                                                {{ packages.0.Pcry }}
                                            {% endif %}
                                        </p>
                                        <p class="doller-price">
                                            + {{ packages.0.DollerPrice | floatformat:0 | intcomma }}  </p>
                                    {% else %}
                                        <p class="singel-price">{{ packages.0.DoubleBedPrice | floatformat:0 | intcomma }}
                                            {% if packages.0.Pcry %}
                                                {{ packages.0.Pcry }}
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 tour_top_left price_section">
                                    <a class="" href="{% url 'tour-detail' tours.id tours.Slug %}" target="_blank">
                                        <div class="tour-more"><span>جزئیات بیشتر</span></div>
                                    </a>
                                    {% if not tours.pdfAvb and tours.TourPdf %}
                                        <a href="{{ tours.TourPdf.url }}" target="_blank">
                                            <div class="tour-more pdf"><span>ذخیره PDF</span></div>
                                        </a>
                                    {% elif tours.pdfAvb %}
                                        <a href="{% url 'pdf-download' tours.id %}" target="_blank">
                                            <div class="tour-more pdf"><span>ذخیره PDF</span></div>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="pagination">
                        <ul class="pagination tour_list_">
                            {% if AllTour.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">begin</span>
                                    </a>
                                </li>   {% endif %}

                            {% for n in AllTour.paginator.page_range %}
                                {% if AllTour.number == n %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                    </li>
                                {% elif n > AllTour.number|add:'-10' and n < AllTour.number|add:'10' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if AllTour.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ AllTour.paginator.num_pages }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">end</span>
                                    </a>
                                </li>
                            {% endif %}   </ul>
                    </div>
                {% else %}
                    <p class="no-tours_">
                        متاسفانه در این بخش تور ثبت نشده است.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% include 'ui/mobile/base/feature.html' %}
{% include 'ui/mobile/base/slagon.html' %}
<section class="mobile_footer">
    <div class="col-lg-12">
        <div class="mobile_footer_inner">
            <div class="col-lg-2">
                <a href="/" class="logo-link mobile_view_"><img src="/static/Homepage/logo.png"></a>
            </div>
        </div>
    </div>
</section>
</body>
{% include 'ui/base/plugins.html' %}
</html>