<html lang="fa-IR" dir="rtl">
<head>{% load static %}{% load humanize %}{% load jalali_tags %}{% load webp_converter %}
    {% include 'ui/mobile/base/head.html' %}
    <link rel=“canonical” href=""/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>گندم تراول | سامانه رزرو آنلاین تور</title>
</head>
<body>
{% include 'ui/mobile/base/header.html' %}
{#<section class="mobile_filter">#}
{#    <div class="mobile_filter_container">#}
{#        <div class="tab-content" id="myTabContent">#}
{#            <div class="tab-pane fade show active" id="tour" role="tabpanel" aria-labelledby="home-tab">#}
{#                {% include 'ui/mobile/base/search.html' %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{#<section class="tour_origins">#}
{#    <div class="container">#}
{#        <h5 class="blog_sec_title">مبداء خود را انتخاب کنید:</h5>#}
{#        <div class="row">#}
{#            {% if origins %}#}
{#                {% for origins, origin_tours in origins %}#}
{#                    <div class="col-lg-4">#}
{#                        <a href="{% url 'all_tour_list_origins' origins.slug origins.id %}">#}
{#                            <div class="origin_list_">#}
{#                                <div class="row">#}
{#                                    <div class="col-lg-6 origin_name_section">#}
{#                                        <p class="origin_name">#}
{#                                            <i class="fa fa-map-pin"></i>#}
{#                                            <span class="location_name_">{{ origins.Name }}</span>#}
{#                                        </p>#}
{#                                    </div>#}
{#                                    <div class="col-lg-6 origin_count_section">#}
{#                                        <p class="origin_tours">#}
{#                                            تعداد#}
{#                                            {{ origin_tours }}#}
{#                                            تور از مبداء#}
{#                                            {{ origins.Name }}#}
{#                                        </p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{#<section style="height: 180px;" class="destenation_selector_">#}
{#    <div class="container">#}
{#        <h5 class="sec_title">مقصد خود را انتخاب کنید:</h5>#}
{#        <div class="large-12 columns">#}
{#            <div class="owl-one owl-carousel owl-theme">#}
{#                {% if countries %}#}
{#                    {% for countries, ctry_tour_count in countries %}#}
{#                        <div class="item">#}
{#                            <div class="country_list_">#}
{#                                <div class="country_image">#}
{#                                    <a href="{% url 'all-tour-country' countries.slug countries.id %}">#}
{#                                        <img alt="{{ countries.TitleC }}" class="country_image_"#}
{#                                             src="{{ countries.Flagimg.url }}">#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="country_name_">#}
{#                                    <a href="{% url 'all-tour-country' countries.slug countries.id %}"#}
{#                                       class="Country_name">#}
{#                                        {{ countries.TitleC }}#}
{#                                    </a>#}
{#                                    <p class="country_tours">#}
{#                                        {{ ctry_tour_count }} تور {{ countries.TitleC }}#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{#<section class="spacial_tour">#}
{#    <div class="container">#}
{#        <h5 class="sec_title">{{ set.st_title }}</h5>#}
{#        <div class="large-12 columns">#}
{#            <div class="owl-two owl-carousel owl-theme">#}
{#                {% if SpacialData %}#}
{#                    {% for spacialtour, scities, spackages in SpacialData %}#}
{#                        <div class="item tour">#}
{#                            <div class="spacial-tour ">#}
{#                                <div class="spacial-tour-img">#}
{#                                    <a href="{% url 'tour-detail' spacialtour.id spacialtour.Slug %}" target="_blank">#}
{#                                        {% if spacialtour.TourImage %}#}
{#                                            <img alt="{{ spacialtour.Title }}" class="item-image tour"#}
{#                                                 src="{{ MEDIA_ROOT }}{{ spacialtour.TourImage.url }}">#}
{#                                        {% endif %}#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="spacial-tour-detail">#}
{#                                    <div class="spacial-tour-title">#}
{#                                        <a href="{% url 'tour-detail' spacialtour.id spacialtour.Slug %}"#}
{#                                           target="_blank">#}
{#                                            <p> {{ spacialtour | truncatechars:40 }}</p>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="spacial-tour-price">#}
{#                                    <div class="price-text">#}
{#                                        {{ spacialtour.DayCount }} روزه#}
{#                                        |#}
{#                                        تاریخ رفت :#}
{#                                        {{ spacialtour.StartDate |to_jalali:'%Y/%m/%d' }}#}
{#                                        |#}
{#                                        {{ scities.0.Airline.AirLineTitle }}#}
{##}
{#                                        </span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{#<section class="about container">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-6">#}
{#            </div>#}
{#            <div class="col-lg-6 about_detail_">#}
{##}
{#                <p class="cnpy_location help_txt_">#}
{#                    نیاز به کمک بیشتری دارید#}
{#                </p>#}
{#                <p class="cnpy_location slagon_txt_">#}
{#                    کارشناسان ساتراپ#}
{#                </p>#}
{#                <a href="{% url 'contact-us' %}" class="call_to_agent_">مرکز تماس</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{#{% include 'ui/mobile/base/feature.html' %}#}
{#{% include 'ui/mobile/base/slagon.html' %}#}
{#<section class="blog_slider">#}
{#    <div class="container">#}
{#        <h5 class="sec_title">{{ set.blog_title }}</h5>#}
{#        <div class="large-12 columns">#}
{#            <div class="owl-tree owl-carousel owl-theme">#}
{#                    {% for i in Posts %}#}
{#                        <div class="item tour">#}
{#                            <div class="spacial-tour ">#}
{#                                <div class="spacial-tour-img">#}
{#                                    <a href="" target="_blank">#}
{#                                        {% if i.Image %}#}
{#                                            <img alt="{{ i.Title }}" class="item-image tour"#}
{#                                                 src="{{ MEDIA_ROOT }}{{ i.Image.url }}">#}
{#                                        {% endif %}#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="spacial-tour-detail">#}
{#                                    <div class="spacial-tour-title">#}
{#                                        <a href=""#}
{#                                           target="_blank">#}
{#                                            <p> {{ i.Title | truncatechars:40 }}</p>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="spacial-tour-price">#}
{#                                    <div class="price-text">#}
{#                                        {{i.ShortDesc|truncatechars:60|safe}}#}
{#                                        </span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{#{% include 'ui/mobile/base/faq.html' %}#}
{#{% include 'ui/mobile/base/footer.html' %}#}
</body>
{% include 'ui/base/plugins.html' %}
</html>