{% extends 'admin-dashboard/base/base.html' %}
{% block Main %}
    <div class="row m-t-40">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-inner border-bottom">
                    <div class="card-title-group">
                        <div class="card-title">
                            <h6 class="title">
                                تغییر گذرواژه حساب کاربری
                                <span class="change down"> {{ user_data.get_full_name }}</span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-20">
        <div class="col-lg-6">
            <div class="inner_section">
                {% if messages %}
                    {% for message in messages %}
                        <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
                    {% endfor %}
                {% endif %}
                <form method="POST" novalidate="novalidate" class="prof_update">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12 ">
                            <p class="label-text">گذرواژه</p>
                            <input type="text"
                                   name="password1"
                                   class="text-input"
                                   placeholder="رمز عبور">
                        </div>
                        <div class="col-lg-12">
                            <p class="label-text">تکرار گذرواژه</p>
                            <input type="text"
                                   name="password2"
                                   class="text-input"
                                   placeholder="تکرار رمز عبور">
                        </div>
                        <div class="col-lg-12">
                            <button id="save-button-hd" type="submit" class="btn btn-lg btn-info btn-block"
                                    style="width: 100%;">
                                <i class="fa fa-check btn-icon font-20 edit-btn"></i><span
                                    id="save-button-title"> ذخیره تغییرات  </span>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="inner_section">
                <p class="pass_reset_head">
                گذارواژه انتخابی باید دارای ویژگی های زیر باشد:
            </p>
            <ul class="pass_condition_list">
                <li class="condition">
                    حداقل دارای 8 کاراکتر باشد.
                </li>
                <li class="condition">
                    دارای حروف انگلیسی غیر تکراری باشد.
                </li>
                <li class="condition">
                    دارای اعداد انگلیسی باشد.
                </li>
                <li class="condition">
                    استفاده از کاراکترهای خاص بلامانع می باشد.
                </li>
            </ul>
            </div>
        </div>
    </div>
{% endblock %}