<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>{% load static %}{% load humanize %}{% load jalali_tags %}{% load webp_converter %}
    {% include 'ui/base/head.html' %}
    <meta name="enamad" content="746303">
    <link rel=“canonical” href=“https://arezoosafar.com”/>
    <meta name="description"
          content="شرکت آرزوی سفر پارسیان برگزار کننده  تور ارزان قیمت خارجی به صورت نقد و اقساط | مجری تخصصی تور روسیه">
    <meta name="keywords" content="،تور اقساطی، تور خارجی، تور روسیه">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-35DTMEQBTC"></script>
    <script async>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-35DTMEQBTC');
    </script>
    <script>
        !function (t, e, n) {
            t.yektanetAnalyticsObject = n, t[n] = t[n] || function () {
                t[n].q.push(arguments)
            }, t[n].q = t[n].q || [];
            var a = new Date,
                r = a.getFullYear().toString() + "0" + a.getMonth() + "0" + a.getDate() + "0" + a.getHours(),
                c = e.getElementsByTagName("script")[0], s = e.createElement("script");
            s.id = "ua-script-WnTehyfw";
            s.dataset.analyticsobject = n;
            s.async = 1;
            s.type = "text/javascript";
            s.src = "https://cdn.yektanet.com/rg_woebegone/scripts_v3/WnTehyfw/rg.complete.js?v=" + r, c.parentNode.insertBefore(s, c)
        }(window, document, "yektanet");
    </script>
    <title> آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (مجری تخصصی تور روسیه) | درباره ما</title>
</head>
<body>
{% include 'ui/base/header.html' %}
<div class="warp">
    {% include 'ui/base/preloader.html' %}
    <section class="col-lg-12 about-us_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="about-us-heade">
                        <h1 class="main-headline about-page">
                            نگاهی به
                            <span class="headline-color">
                                آرزوی سفر پارسیان
                            </span>
                        </h1>
                        <div class="contact-sub-title">
                            <p dir="rtl" style="text-align:justify">ما فعالیت خود را از سال 1390 آغاز کرده&zwnj;ایم و با افتخار توانسته&zwnj;ایم به یکی از پیشگامان صنعت گردشگری تبدیل شویم. هدف ما از همان ابتدا ارائه بهترین خدمات مسافرتی با مناسب&zwnj;ترین قیمت و ساده&zwnj;ترین شرایط بوده است. ما به&zwnj;عنوان مجری مستقیم تور روسیه و کارگزار تور تایلند مفتخریم که تجربه&zwnj;های بی&zwnj;نظیری را برای شما رقم بزنیم. با تکیه بر دانش و تخصص تیم حرفه&zwnj;ای خود، تلاش می&zwnj;کنیم تا با ارائه خدمات جامع و متنوع، تمامی نیازهای سفر شما را برآورده کنیم.</p>

                            <p dir="rtl" style="text-align:justify">خدمات ما شامل:</p>

                                <ul dir="rtl">
	                              <li style="text-align: justify;">برگزاری تورهای داخلی و خارجی</li>
	                              <li style="text-align: justify;">امکان خرید اقساطی تورها</li>
	                              <li style="text-align: justify;">رزرو تور آنلاین</li>
	                              <li style="text-align: justify;">صدور بلیط هواپیمایی</li>
	                              <li style="text-align: justify;">رزرو هتل</li>
                            	  <li style="text-align: justify;">خدمات اخذ ویزا</li>
                                </ul>

                            <p dir="rtl" style="text-align:justify">شعار ما:</p>

                             <p dir="rtl" style="text-align:justify">ما معتقدیم که هر سفر یک رؤیا است و مأموریت ما این است که این رویای شما را به حقیقت تبدیل کنیم. به همین دلیل، شعار ما این است: <strong>&quot;آرزوی شما را برآورده می&zwnj;کنیم&quot;</strong>.</p>

                            {{ Text.0.TextAbout|safe }}
                        </div>
                        <div class="contact-us-btn">
                            <a class="contact-us-link" href="/contact-us">تماس با ما
                                <span class="phone-image"
                                      style=" width: 20px;height: 20px;display: inline-block;z-index: 100;position: relative;right: 9px;">
                                <img loading="lazy" alt="تلفن" src="/media/phone.png"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col order-sm-first order-lg-last">
                    <div class="about-gallery">
                        <img loading="lazy" src="/static/asset/css/images/office-1.jpg">
                    </div>
                    <div class="gallery-about-box">
                        <div class="owl-about-us owl-carousel owl-theme">
                            <div class="about-image">
                                <img loading="lazy" src="/static/asset/css/images/office-2.png">
                            </div>
                            <div class="about-image">
                                <img loading="lazy" src="/static/asset/css/images/office-3.png">
                            </div>
                            <div class="about-image">
                                <img loading="lazy" src="/static/asset/css/images/office-4.png">
                            </div>
                            <div class="about-image">
                                <img loading="lazy" src="/static/asset/css/images/office-5.png">
                            </div>
                            <div class="about-image">
                                <img loading="lazy" src="/static/asset/css/images/office-1.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    {% include 'ui/base/footer.html' %}
    <script>
        var country = '{{ contry.slug }}'
        var country_id = '{{ contry.id }}'
        var city = '{{ city.slug }}'
        var city_id = '{{ city.id }}'
        var tour_id = '{{ Tour.id }}'
        var tour_slug = '{{ Tour.Slug }}'
        var tour_menu = '{{ Menu.slug }}'
    </script>
</div>
</body>
{% include 'ui/base/plugins.html' %}
</html>