<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    {% load static %}
    {% load humanize %}
    {% load jalali_tags %}
    <meta charset="UTF-8">
    <link href="{% static 'asset/plyr/plyr.css' %}" rel="stylesheet">
    <script src="{% static 'asset/plyr/plyr.polyfilled.js' %}"></script>
    <link href="{% static 'assets/css/city-country-media.css' %}" rel="stylesheet">

    {% if city %}
        <meta name="description" content="{{ city.tourmd }}">
        <meta name="keywords" content="{{ city.tourmk }}">
        <link rel="canonical" href="https://arezoosafar.com{% url 'city-tours' city.slug city.id  %}"/>
    {% elif country %}
        <meta name="description" content="{{ country.tourmd }}">
        <meta name="keywords" content="{{ country.tourmk }}">
        <link rel="canonical" href="https://arezoosafar.com{% url 'all-tour-country' country.slug country.id  %}"/>
    {% else %}
        <meta name="description"
              content=" رزرو تور اقساطی بدون ضامن | آرزوی سفر پارسیان ارائه دهنده تورهای قسطی با پایین ترین کارمزد– مشاوره و رزرو تور قسطی تماس با 02145128">
        <meta name="keywords" content="تور اقساطی, تور قسطی, تور, خرید تور قسطی, تور ارزان اقساطی, تور ارزان قسطی, تور ارزان, شرایط تور اقساطی">
        <link rel="canonical" href="https://arezoosafar.com/all-tour"/>
    {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if country and country.country_iamge %}
    <link rel="preload"
          as="image"
          href="{{ country.country_iamge.url }}"
          fetchpriority="high">
    {% elif city and city.cityImg %}
    <link rel="preload"
          as="image"
          href="{{ city.cityImg.url }}"
          fetchpriority="high">
    {% endif %}
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "uw4rum37lz");
    </script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Arezoo Safar Parsian.",
          "alternateName": "آرزوی سفر پارسیان",
          "url": "https://arezoosafar.com/",
          "logo": "https://arezoosafar.com/static/asset/images/logo-horzental.png",
          "contactPoint": [
            {
              "@type": "ContactPoint",
              "telephone": "+982145128000",
              "contactType": "customer service",
              "areaServed": "IR",
              "availableLanguage": "Persian"
            },
            {
              "@type": "ContactPoint",
              "telephone": "+982145128000",
              "contactType": "sales",
              "areaServed": "IR",
              "availableLanguage": "Persian"
            }
          ],
          "sameAs": ["https://www.instagram.com/arezooyesafarparsian/"]
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            {% if city %}
            "@graph": [
                {
                    "@type": [
                        "WebPage",
                        "FAQPage"
                    ],
                    "@id": "https://arezoosafar.com{% url 'city-tours' city.slug city.id %}",
                    "url": "https://arezoosafar.com{% url 'city-tours' city.slug city.id %}",
                    "name": "{{ city.tltitle }}",
                    "isPartOf": {
                        "@id": "https://arezoosafar.com/#website"
                    },
                    "primaryImageOfPage": {
                        "@id": "https://arezoosafar.com{% url 'city-tours' city.slug city.id %}#primaryimage"
                    },
                    "image": {
                        "@id": "https://arezoosafar.com{% url 'city-tours' city.slug city.id %}#primaryimage"
                    },
                    "thumbnailUrl": "https://arezoosafar.com{{ city.cityImg.url }}",
                    "description": "{{ city.tourmd }}",
                    "breadcrumb": {
                        "@id": "https://arezoosafar.com{% url 'city-tours' city.slug city.id %}#breadcrumb"
                    },
                    "mainEntity": [
                    {% for q in all_faqs %}
                        {
                            "@id": "https://arezoosafar.com{% url 'city-tours' city.slug city.id %}#faq-question-{{forloop.counter}}"
                        }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                    ],
                    "inLanguage": "fa-IR",
                    "potentialAction": [
                        {
                            "@type": "ReadAction",
                            "target": [
                                "https://arezoosafar.com{% url 'city-tours' city.slug city.id %}"
                            ]
                        }
                    ]
                },
                {
                    "@type": "ImageObject",
                    "@id": "https://arezoosafar.com{% url 'city-tours' city.slug city.id %}#primaryimage",
                    "inLanguage": "fa-IR",
                    "url": "https://arezoosafar.com{{ city.cityImg.url }}",
                    "contentUrl": "https://arezoosafar.com{{ city.cityImg.url }}",
                    "width": 1211,
                    "height": 400,
                    "caption": "تور {{ city.Name }}"
                },
                {
                    "@type": "BreadcrumbList",
                    "@id": "https://arezoosafar.com{% url 'city-tours' city.slug city.id %}#breadcrumb",
                    "itemListElement": [
                        {
                            "@type": "ListItem",
                            "position": 1,
                            "name": " آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (کارگزار رسمی تور روسیه)",
                            "item": "https://arezoosafar.com/"
                        },
                        {
                            "@type": "ListItem",
                            "position": 2,
                            "name": " تور اقساطی بدون ضامن | خرید تور قسطی12 ماهه✈️ ! ",
                            "item": "https://arezoosafar.com/all-tour"
                        },
                        {
                            "@type": "ListItem",
                            "position": 3,
                            "name": "{{city.CountryName.TitleC}}",
                            "item": "https://arezoosafar.com{% url 'all-tour-country' city.CountryName.slug city.CountryName.id %}"
                        },
                        {
                            "@type": "ListItem",
                            "position": 4,
                            "name": "{{ city.tltitle }}"
                        }
                    ]
                },
                {
                    "@type": "WebSite",
                    "@id": "https://arezoosafar.com/#website",
                    "url": "https://arezoosafar.com/",
                    "name": " آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (کارگزار رسمی تور روسیه)",
                    "description": "شرکت آرزوی سفر پارسیان برگزار کننده  تور ارزان قیمت خارجی به صورت نقد و اقساط | مجری تور روسیه و کارگزار تور تایلند",
                    "publisher": {
                        "@id": "https://arezoosafar.com/#organization"
                    }
                },
                {% for q in all_faqs %}
                {
                    "@type": "Question",
                    "@id": "https://arezoosafar.com{% url 'city-tours' city.slug city.id %}#faq-question-{{forloop.counter}}",
                    "position": {{forloop.counter}},
                    "url": "https://arezoosafar.com{% url 'city-tours' city.slug city.id %}#faq-question-{{forloop.counter}}",
                    {% if q.question %}
                    "name": "{{ q.question }}",                   
                    {% else %}
                    "name": "{{ q.Question }}",                    
                    {% endif %}
                    "answerCount": {{forloop.counter}},
                    "acceptedAnswer": {
                        "@type": "Answer",
                        {% if q.answer %}
                        "text": "{{ q.answer|safe }}",                
                        {% else %}
                        "text": "{{ q.Answer|safe }}",               
                        {% endif %}
                        "inLanguage": "fa-IR"
                    },
                    "inLanguage": "fa-IR"
                }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
        {% elif country %}
        "@graph": [
        {
            "@type": [
                "WebPage",
                "FAQPage"
            ],
            "@id": "https://arezoosafar.com{% url 'all-tour-country' country.slug country.id %}",
            "url": "https://arezoosafar.com{% url 'all-tour-country' country.slug country.id %}",
            "name": " تور {{ country.TitleC }}",
            "isPartOf": {
                "@id": "https://arezoosafar.com/#website"
            },
            "primaryImageOfPage": {
                "@id": "https://arezoosafar.com{% url 'all-tour-country' country.slug country.id %}#primaryimage"
            },
            "image": {
                "@id": "https://arezoosafar.com{% url 'all-tour-country' country.slug country.id %}#primaryimage"
            },
            "thumbnailUrl": "https://arezoosafar.com{{ country.country_iamge.url }}",
            "description": "{{ country.tourmd }}",
            "breadcrumb": {
                "@id": "https://arezoosafar.com{% url 'all-tour-country' country.slug country.id %}#breadcrumb"
            },
            "mainEntity": [
            {% for q in all_faqs %}
                {
                    "@id": "https://arezoosafar.com{% url 'all-tour-country' country.slug country.id %}#faq-question-{{forloop.counter}}"
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
            ],
            "inLanguage": "fa-IR",
            "potentialAction": [
                {
                    "@type": "ReadAction",
                    "target": [
                        "https://arezoosafar.com{% url 'all-tour-country' country.slug country.id %}"
                    ]
                }
            ]
        },
        {
            "@type": "ImageObject",
            "@id": "https://arezoosafar.com{% url 'all-tour-country' country.slug country.id %}#primaryimage",
            "inLanguage": "fa-IR",
            "url": "https://arezoosafar.com{{ country.country_iamge.url }}",
            "contentUrl": "https://arezoosafar.com{{ country.country_iamge.url }}",
            "width": 387,
            "height": 192,
            "caption": "تور {{ country.TitleC }}"
        },
        {
            "@type": "BreadcrumbList",
            "@id": "https://arezoosafar.com{% url 'all-tour-country' country.slug country.id %}#breadcrumb",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": " آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (کارگزار رسمی تور روسیه)",
                    "item": "https://arezoosafar.com/"
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": " تور اقساطی بدون ضامن | خرید تور قسطی12 ماهه✈️ ! ",
                    "item": "https://arezoosafar.com/all-tour"
                },
                {
                    "@type": "ListItem",
                    "position": 3,
                    "name": "{{country.TitleC}}",
                    "item": "https://arezoosafar.com{% url 'all-tour-country' country.slug country.id %}"
                }
            ]
        },
        {
            "@type": "WebSite",
            "@id": "https://arezoosafar.com/#website",
            "url": "https://arezoosafar.com/",
            "name": " آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (کارگزار رسمی تور روسیه)",
            "description": "شرکت آرزوی سفر پارسیان برگزار کننده  تور ارزان قیمت خارجی به صورت نقد و اقساط | مجری تور روسیه و کارگزار تور تایلند",
            "publisher": {
                "@id": "https://arezoosafar.com/#organization"
            }
        },
        {% for q in all_faqs %}
        {
            "@type": "Question",
            "@id": "https://arezoosafar.com{% url 'all-tour-country' country.slug country.id %}#faq-question-{{forloop.counter}}",
            "position": {{forloop.counter}},
            "url": "https://arezoosafar.com{% url 'all-tour-country' country.slug country.id %}#faq-question-{{forloop.counter}}",
            {% if q.question %}
            "name": "{{ q.question }}",                   
            {% else %}
            "name": "{{ q.Question }}",                    
            {% endif %}
            "answerCount": {{forloop.counter}},
            "acceptedAnswer": {
                "@type": "Answer",
                {% if q.answer %}
                "text": "{{ q.answer|safe }}",                
                {% else %}
                "text": "{{ q.Answer|safe }}",               
                {% endif %}
                "inLanguage": "fa-IR"
            },
            "inLanguage": "fa-IR"
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
        ]
        {% else %}
        "@graph": [
        {
            "@type": [
                "WebPage",
                "FAQPage"
            ],
            "@id": "https://arezoosafar.com/all-tour",
            "url": "https://arezoosafar.com/all-tour",
            "name": "تور اقساطی بدون ضامن | خرید تور قسطی12 ماهه✈️ ! ",
            "isPartOf": {
                "@id": "https://arezoosafar.com/#website"
            },
            "primaryImageOfPage": {
                "@id": "https://arezoosafar.com/all-tour#primaryimage"
            },
            "image": {
                "@id": "https://arezoosafar.com/all-tour#primaryimage"
            },
            "thumbnailUrl": "https://arezoosafar.com/static/asset/css/images/world-map.png",
            "description": "رزرو تور اقساطی بدون ضامن | آرزوی سفر پارسیان ارائه دهنده تورهای قسطی با پایین ترین کارمزد– مشاوره و رزرو تور قسطی تماس با 02145128",
            "breadcrumb": {
                "@id": "https://arezoosafar.com/all-tour#breadcrumb"
            },
            "mainEntity": [
            {% for q in all_faqs %}
                {
                    "@id": "https://arezoosafar.com/all-tour#faq-question-{{forloop.counter}}"
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
            ],
            "inLanguage": "fa-IR",
            "potentialAction": [
                {
                    "@type": "ReadAction",
                    "target": [
                        "https://arezoosafar.com/all-tour"
                    ]
                }
            ]
        },
        {
            "@type": "ImageObject",
            "inLanguage": "fa-IR",
            "@id": "https://arezoosafar.com/all-tour#primaryimage",
            "url": "https://arezoosafar.com/all-tour",
            "contentUrl": "https://arezoosafar.com/static/asset/css/images/world-map.png",
            "width": 387,
            "height": 192
        },
        {
            "@type": "BreadcrumbList",
            "@id": "https://arezoosafar.com/all-tour#breadcrumb",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": " آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (کارگزار رسمی تور روسیه)",
                    "item": "https://arezoosafar.com/"
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": " تور اقساطی بدون ضامن | خرید تور قسطی12 ماهه✈️ ! ",
                    "item": "https://arezoosafar.com/all-tour"
                }
            ]
        },
        {
            "@type": "WebSite",
            "@id": "https://arezoosafar.com/#website",
            "url": "https://arezoosafar.com/",
            "name": " آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (کارگزار رسمی تور روسیه)",
            "description": "شرکت آرزوی سفر پارسیان برگزار کننده  تور ارزان قیمت خارجی به صورت نقد و اقساط | مجری تور روسیه و کارگزار تور تایلند",
            "publisher": {
                "@id": "https://arezoosafar.com/#organization"
            }
        },
        {% for q in all_faqs %}
        {
            "@type": "Question",
            "@id": "https://arezoosafar.com/all-tour#faq-question-{{forloop.counter}}",
            "position": {{forloop.counter}},
            "url": "https://arezoosafar.com/all-tour#faq-question-{{forloop.counter}}",
            {% if q.question %}
            "name": "{{ q.question }}",                   
            {% else %}
            "name": "{{ q.Question }}",                    
            {% endif %}
            "answerCount": {{forloop.counter}},
            "acceptedAnswer": {
                "@type": "Answer",
                {% if q.answer %}
                "text": "{{ q.answer|safe }}",                
                {% else %}
                "text": "{{ q.Answer|safe }}",               
                {% endif %}
                "inLanguage": "fa-IR"
            },
            "inLanguage": "fa-IR"
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
        ]
        {% endif %}
        }
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-35DTMEQBTC"></script>    
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-35DTMEQBTC');
    </script>
    {% include 'ui/base/head.html' %}
    {% if city.tltitle %}
        <title> {{ city.tltitle }} </title>
    {% elif country.tltitle %}
        <title> {{ country.tltitle }} </title>
    {% else %}
        <title> تور اقساطی بدون ضامن | خرید تور قسطی12 ماهه✈️ ! </title>
    {% endif %}

</head>
<body>
{% include 'ui/base/header.html' %}
<main>
{% if country.id == 4 %}
<div class="col-sm-12 d-lg-none d-sm-block">
    <a href="https://arezoosafar.com/visa/request" class="visa-link-mobile">درخواست ویزای آنلاین روسیه</a>
</div>
{% endif %}
{% if country.id == 8 %}
<div class="col-sm-12 d-lg-none d-sm-block">
    <a href="https://arezoosafar.com/visa/request" class="visa-link-mobile">درخواست ویزای آنلاین تایلند</a>
</div>
{% endif %}
<div class="warp">
    {% csrf_token %}
    {% if cities or countries %}
        <section class="destinaton_selector">
            <div class="container">
                <div class="row country_box">
                    <div class="col-sm-12 col-lg-4">
                        {% if country %}
                            {% if country.country_iamge %}
                                <img class="country_main_image" src="{{ country.country_iamge.url }}" alt="تورهای {{ country.TitleC }}" fetchpriority="high" loading="eager" decoding="async" width="387" height="192">
                            {% endif %}
                        {% else %}
                            <img loading="lazy" class="country_main_image d-sm-none d-lg-block" src="/static/asset/css/images/world-map.png">
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-lg-8">
                        {% if not cities %}
                            <h1 class="blog_sec_title">تور اقساطی</h1>
                        {% else %}
                            <h1 class="blog_sec_title"> تور
                                {{ country.TitleC }}
                                </h1>
                        {% endif %}
                        {% if not cities %}
                            <p class="spacial_tour_subtitle_">
                                کشور و شهر مورد نظرت رو انتخاب کن و تورهاش رو ببین
                            </p>
                        {% else %}
                            <p class="spacial_tour_subtitle_">
                                کدوم شهر از
                                {{ country.TitleC }}
                                میخوای بری ؟
                            </p>
                        {% endif %}
                        <div class="row">
                            {% if cities %}
                                <div class="owl-dest-city owl-carousel owl-theme">
                                {% for country_cities, country_cities_tours in cities %}
                                    {% if country_cities.CountryName == country %}
                                    <div class=" text-center">
                                        <a href="{% url 'city-tours' country_cities.slug country_cities.id %}">
                                            <div class="pdest_image">
                                                {% if country_cities.cityIcon %}
                                                  <img src="{{ country_cities.cityIcon.url }}" alt="تور {{ country_cities.Name }}" width="84" height="84" loading="lazy" style="width:84px !important;height:84px !important;max-width:84px !important;display:block;margin-left:auto;margin-right:auto;">
                                                {% endif %}
                                            </div>
                                            <div class="pdest_name">
                                                <p>تور
                                                    {{ country_cities.Name }}
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endif %}
                            {% if not cities %}
                                {% if not city %}
                                    <div class="owl-dest owl-carousel owl-theme">
                                    {% for i in spacialDest_tour %}
                                        <div class="text-center spacial-distenation">
                                            {% if i.country %}
                                                <a href="{% url 'all-tour-country' i.country.slug i.country.id %}">
                                            {% else %}
                                                <a href="{% url 'city-tours' i.city.slug i.city.id %}">{% endif %}
                                            <div class="pdest_image">
                                                <img loading="lazy" src="{{ i.tourpage_icon.url }}">
                                            </div>
                                            <div class="pdest_name">
                                                <p>تور
                                                    {% if i.country %}
                                                        {{ i.country }}
                                                    {% else %}
                                                        {{ i.city }}
                                                    {% endif %}
                                                </p>
                                            </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <section>
        <div class="container">
            <div class="row">
                {% if not country and not city %}
                    <h2 class="blog_sec_title">مـزایای خـرید تور قسطـی از آرزوی سفـر</h2>
                    <div class="col-lg-12 installment-section">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="row section-box">
                                    <div class="col-sm-4 col-lg-4">
                                        <div class="icon-box">
                                            <img loading="lazy" class="icon-img" src="/media/installment/1.png">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-lg-8 no-padding">
                                        <h4 class="section-heading">بدون نیاز به ضامن</h4>
                                        <p class="section-desc">تنها با داشتن چک صیادی بدون نیاز به ضامن</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="row section-box">
                                    <div class="col-sm-4 col-lg-4">
                                        <div class="icon-box">
                                            <img loading="lazy" class="icon-img" src="/media/installment/2.png">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-lg-8 no-padding">
                                        <h4 class="section-heading">اقساط بلند مدت</h4>
                                        <p class="section-desc">باز پرداخت اقساط 2 تا 12 ماهه</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="row section-box">
                                    <div class="col-sm-4 col-lg-4">
                                        <div class="icon-box">
                                            <img loading="lazy" class="icon-img" src="/media/installment/3.png">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-lg-8 no-padding">
                                        <h4 class="section-heading">دریافت آسان </h4>
                                        <p class="section-desc">فرایند خرید آسان و بی دردسر</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="tour_list_page
        {% if not cities or not countries %}margin_top{% endif %}
        {% if origins %}origin_top{% endif %}">
        <div class="container">
            {% if city %}
                <div class="row">
                    <div class="col-lg-12" style="margin-top: 90px;">
                        {% if city.cityImg %}
                            <img loading="lazy" class="city-full-img" src="{{ city.cityImg.url }}"   alt="تور {{ city.Name }}">
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    {% if city %}
                        <h1 class="blog_sec_title" style="margin-bottom: 30px;padding-right: 0;">تور
                           {{ city.Name }}</h1>
                    {% elif country %}
                        <h2 class="blog_sec_title" style="margin-bottom: 30px;padding-right: 0;">لیست آخرین
                            تورهای {{ country.TitleC }}</h2>
                    {% else %}
                        <h3 class="blog_sec_title" style="margin-bottom: 30px;padding-right: 0;">لیست آخرین تورهای
                            اقساطی</h3>
                    {% endif %}
                    <div class="row">
                        <div class="order-sm-last col-lg-3 order-lg-first">
                            <div id="sidebar" class="sticky_menu">
                                <!-- Media -->
                                {% if media_list %}
                                    {% for media in media_list %}
                                        <div class="media-item" data-src="{{ media.file.url }}" data-type="{{ media.media_type }}" data-title="{{ media.title }}"></div>
                                        <div class="sidebar-audio-container">
                                            <div class="accordion">
                                                <p class="audio-accordion-header">{{ media.title }}</p>
                                                <div class="audio-content-wrapper">
                                                    {% if city and city.cityImg %}
                                                        <img class="audio-city-image" src="{{ city.cityImg.url }}" alt="تور {{ city.Name }}" loading="lazy">
                                                    {% elif country and country.country_iamge %}
                                                        <img class="audio-city-image" src="{{ country.country_iamge.url }}" alt="تور {{ country.Name }}" loading="lazy">
                                                    {% endif %}
                                                    <div class="audio-wave-box">
                                                        <img class="audio-wave-img" src="/media/media/tour_media/voicewave.svg" alt="voice wave" loading="lazy">
                                                        <button class="audio-play-btn" data-audio-url="{{ media.file.url }}" data-audio-title="{{ media.title }}">
                                                            <i class="fa fa-play"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="contact-banner">
                                    <p class="reseve-title">
                                        دریافت مشاوره و رزرو تور
                                    </p>
                                    <p class="reseve-phone">
                                        021-45128
                                    </p>
                                    <p class="reseve-desc">
                                        کارشناسان ما پاسخگوی شما خواهند بود
                                    </p>
                                </div>
                                <div class="sidebar-container">
                                    <div class="accordion" id="accordionExample">
                                        <div class="accordion-item">
                                            <p class="accordion-header" id="headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#collapseOne" aria-expanded="true"
                                                        aria-controls="collapseOne">
                                                    محدوده قیمت
                                                </button>
                                            </p>
                                            <div id="collapseOne" class="accordion-collapse collapse show"
                                                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body filter-side">
                                                    <div class="range-input">
                                                        <div class="range_container">
                                                            <div class="sliders_control">
                                                                <input id="toSlider" onchange="SidebarFilter()"
                                                                       type="range" value="100000000"
                                                                       min="0"
                                                                       max="100000000"
                                                                       aria-label="حداکثر قیمت"/>
                                                                <input id="fromSlider" onchange="SidebarFilter()"
                                                                       type="range" value="0"
                                                                       min="5000000"
                                                                       max="100000000"
                                                                       aria-label="حداقل قیمت"/>
                                                                <div class="row label-box">
                                                                    <div class="col-sm-6 col-lg-6 no-padding right-label">
                                                                        <span class="range-label">ارزان ترین</span>
                                                                    </div>
                                                                    <div class="col-sm-6 col-lg-6 no-padding left-label">
                                                                        <span class="range-label">گران ترین</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <span class="from-input-text">از</span>
                                                                    <input disabled
                                                                           class="form-control placeholder-left"
                                                                           type="text" id="fromInput"
                                                                           value="5,000,000"
                                                                           aria-label="حداقل قیمت"/>
                                                                    <span class="from-input-cry">تومان</span>
                                                                    <span class="to-input-text">تا</span>
                                                                    <input disabled
                                                                           class="form-control placeholder-left"
                                                                           type="text" id="toInput"
                                                                           value="100,000,000"
                                                                           aria-label="حداکثر قیمت"/>
                                                                    <span class="to-input-cry">تومان</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if countries %}
                                            <div class="accordion-item">
                                                <p class="accordion-header" id="headingTwo">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseCountry"
                                                            aria-expanded="false" aria-controls="collapseCountry">
                                                        کشور مقصد
                                                    </button>
                                                </p>
                                                <div id="collapseCountry" class="accordion-collapse collapse"
                                                     aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body filter-side">
                                                        {% for countries, countries_tours in countries %}
                                                            <div class="checkbox-city">
                                                                <span class="input-check"><input
                                                                    onclick="SidebarFilter(); get_cities()"
                                                                    name="country-checkbox"
                                                                    class="city-checkbox"
                                                                    type="checkbox"
                                                                    data-ctry-id="{{ countries.id }}">
                                                                </span>
                                                                {{ countries }}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if countries %}
                                            <div class="accordion-item">
                                                <p class="accordion-header" id="headingTwo">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                        شهر مقصد
                                                    </button>
                                                </p>
                                                <div id="collapseTwo" class="accordion-collapse collapse"
                                                     aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body filter-side">
                                                        <div id="filter-city">
                                                            {% for city in dest_cities %}
                                                                <div class="checkbox-city">
                                                                <span class="input-check">
                                                                    <input onclick="SidebarFilter()"
                                                                           name="city-checkbox"
                                                                           class="city-checkbox"
                                                                           type="checkbox"
                                                                           data-city-id="{{ city.id }}"></span>
                                                                    {{ city }}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if not countries and dest_cities %}
                                            <div class="accordion-item">
                                                <p class="accordion-header" id="headingTwo">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                        شهر مقصد
                                                    </button>
                                                </p>
                                                <div id="collapseTwo" class="accordion-collapse collapse"
                                                     aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div id='filter-city' class="accordion-body filter-side">
                                                        {% for city in dest_cities %}
                                                            <div class="checkbox-city">
                                                        <span class="input-check"><input onclick="SidebarFilter()"
                                                                                         name="city-checkbox"
                                                                                         class="city-checkbox"
                                                                                         type="checkbox"
                                                                                         data-city-id="{{ city.id }}"></span>
                                                                {{ city }}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="accordion-item">
                                            <p class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                    هتل
                                                </button>
                                            </p>
                                            <div id="collapseThree" class="accordion-collapse collapse"
                                                 aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                <div class="accordion-body filter-side">
                                                    <div class="checkbox-city">
                                                    <span class="input-check"><input onclick="SidebarFilter()"
                                                                                     name="hotel-rate"
                                                                                     class="city-checkbox"
                                                                                     type="checkbox"
                                                                                     data-rate="3"></span>
                                                        <img loading="lazy" class="rating-hotel" src="/media/rating/rating-3.png"   alt="هتل ۳ ستاره">
                                                    </div>
                                                    <div class="checkbox-city">
                                                    <span class="input-check"><input onclick="SidebarFilter()"
                                                                                     name="hotel-rate"
                                                                                     class="city-checkbox"
                                                                                     type="checkbox"
                                                                                     data-rate="4"></span>
                                                        <img loading="lazy" class="rating-hotel" src="/media/rating/rating-4.png" alt="هتل ۴ ستاره">
                                                    </div>
                                                    <div class="checkbox-city">
                                                    <span class="input-check"><input onclick="SidebarFilter()"
                                                                                     name="hotel-rate"
                                                                                     class="city-checkbox"
                                                                                     type="checkbox"
                                                                                     data-rate="5"></span>
                                                        <img loading="lazy" class="rating-hotel" src="/media/rating/rating-5.png" alt="هتل ۵ ستاره">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <p class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsefour"
                                                        aria-expanded="false" aria-controls="collapsefour">
                                                    مدت اقامت
                                                </button>
                                            </p>
                                            <div id="collapsefour" class="accordion-collapse collapse"
                                                 aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                <div class="accordion-body filter-side">
                                                    <div class="trip-period">
                                                        <input onchange="SidebarFilter()" id="day-Count" type="number"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <p class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsefive"
                                                        aria-expanded="false" aria-controls="collapsefive">
                                                    هواپیمایی
                                                </button>
                                            </p>
                                            <div id="collapsefive" class="accordion-collapse collapse"
                                                 aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                <div class="accordion-body filter-side">
                                                    {% for airline in airlines %}
                                                        <div class="checkbox-city">
                                                        <span class="input-check"><input onclick="SidebarFilter()"
                                                                                         name="airline-checkbox"
                                                                                         class="city-checkbox"
                                                                                         type="checkbox"
                                                                                         data-airline="{{ airline.id }}"></span>
                                                            {{ airline }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 no-padding">
                            <div id="all-tours" class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'ui/base/slagon.html' %}
    {% if  cities or not countries %}
        <section>
            <div class="container">
                <div class="insta">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="insta-box">
                                <div class="col-lg-12">
                                    <div class="insta-motion">
                                        <img loading="lazy" alt="گیف اینستا" src="/media/instaarezoosafar.gif">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <h3 class="about_title">
                                معرفی تورهای جذاب و شگفت انگیـــز
                            </h3>
                            <p>با ما در اینستاگرام همراه شو تا از پیشنهادات لحظه آخری و تورهای جذاب مطلع بشی!</p>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-section">
                                <div class="row">
                                    <div class="col-lg-12 t-center">
                                        <a href="https://www.instagram.com/arezooyesafarparsian/" class="btn-insta-subscribe">
                                        <span class="logo-insta">
                                            <img loading="lazy" alt="اینستاگرام" src="/static/asset/css/images/insta-logo.webp">
                                        </span>
                                            ایــنستاگـــرام</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% include 'ui/base/faq.html' %}
    {% include 'ui/base/footer.html' %}
    {% include 'ui/base/plugins.html' %}
    <script>
        var country = {% if country %}
            '{{ country.slug }}'
        {% else %}
            '{{ city.CountryName.slug }}'
        {% endif %}
        var country_id = {% if country %}
            '{{ country.id }}'
        {% else %}
            '{{ city.CountryName.id }}'
        {% endif %}
        var city = '{{ city.slug }}'
        var city_id = '{{ city.id }}'
        var tour_id = '{{ Tour.id }}'
        var tour_slug = '{{ Tour.Slug }}'
        var tour_menu = '{{ Menu.slug }}'
    </script>
    <script>
        function controlFromInput(fromSlider, fromInput, toInput, controlSlider) {
            const [from, to] = getParsed(fromInput, toInput);
            fillSlider(fromInput, toInput, '#0d6efd', '#0d6efd', controlSlider);
            if (from > to) {
                fromSlider.value = to;
                fromInput.value = to.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                ;
            } else {
                fromSlider.value = from;
            }
        }

        function controlToInput(toSlider, fromInput, toInput, controlSlider) {
            const [from, to] = getParsed(fromInput, toInput);
            fillSlider(fromInput, toInput, '#0d6efd', '#0d6efd', controlSlider);
            setToggleAccessible(toInput);
            if (from <= to) {
                toSlider.value = to;
                toInput.value = to.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                ;
            } else {
                toInput.value = from.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                ;
            }
        }

        function controlFromSlider(fromSlider, toSlider, fromInput) {
            const [from, to] = getParsed(fromSlider, toSlider);
            fillSlider(fromSlider, toSlider, '#C6C6C6', '#0d6efd', toSlider);
            if (from > to) {
                fromSlider.value = to;
                fromInput.value = to.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                ;
            } else {
                fromInput.value = from.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                ;
            }
        }

        function controlToSlider(fromSlider, toSlider, toInput) {
            const [from, to] = getParsed(fromSlider, toSlider);
            fillSlider(fromSlider, toSlider, '#C6C6C6', '#0d6efd', toSlider);
            setToggleAccessible(toSlider);
            if (from <= to) {
                toSlider.value = to;
                toInput.value = to.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            } else {
                toInput.value = from.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                ;
                toSlider.value = from;
            }
        }

        function getParsed(currentFrom, currentTo) {
            const from = parseInt(currentFrom.value, 10);
            const to = parseInt(currentTo.value, 10);
            return [from, to];
        }

        function fillSlider(from, to, sliderColor, rangeColor, controlSlider) {
            const rangeDistance = to.max - to.min;
            const fromPosition = from.value - to.min;
            const toPosition = to.value - to.min;
            controlSlider.style.background = `linear-gradient(
                                                              to left,
                                                              ${sliderColor} 0%,
                                                              ${sliderColor} ${(fromPosition) / (rangeDistance) * 100}%,
                                                              ${rangeColor} ${((fromPosition) / (rangeDistance)) * 100}%,
                                                              ${rangeColor} ${(toPosition) / (rangeDistance) * 100}%, 
                                                              ${sliderColor} ${(toPosition) / (rangeDistance) * 100}%, 
                                                              ${sliderColor} 100%)`;
        }

        function setToggleAccessible(currentTarget) {
            const toSlider = document.querySelector('#toSlider');
            if (Number(currentTarget.value) <= 0) {
                toSlider.style.zIndex = 2;
            } else {
                toSlider.style.zIndex = 1;
            }
        }

        const fromSlider = document.querySelector('#fromSlider');
        const toSlider = document.querySelector('#toSlider');
        const fromInput = document.querySelector('#fromInput');
        const toInput = document.querySelector('#toInput');
        fillSlider(fromSlider, toSlider, '#C6C6C6', '#0d6efd', toSlider);
        setToggleAccessible(toSlider);

        fromSlider.oninput = () => controlFromSlider(fromSlider, toSlider, fromInput);
        toSlider.oninput = () => controlToSlider(fromSlider, toSlider, toInput);
        fromInput.oninput = () => controlFromInput(fromSlider, fromInput, toInput, toSlider);
        toInput.oninput = () => controlToInput(toSlider, fromInput, toInput, toSlider);
    </script>
</div>
</main>
<script src="{% static 'assets/js/city-country-media.js' %}"></script>
</body>
</html>