{% load humanize %}
{% load static %}
{% load jalali_tags %}
{% load responsive_img %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    {% if country %}
        <link rel="canonical" href="https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}{% if request.GET.page %}?page={{ request.GET.page|urlencode }}{% endif %}">
    {% elif city %}
        <link rel="canonical" href="https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}">
    {% else %}
        <link rel="canonical" href="https://arezoosafar.com/all-hotel/">
    {% endif %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if country %}
        <meta name="description" content="{{ country.hotelmd }}">
        <meta name="keywords" content="{{ country.hotelmk }}">
    {% elif city %}
        <meta name="description" content="{{ city.hotelmd }}">
        <meta name="keywords" content="{{ city.hotelmk }}">
    {% else %}
        <meta name="description" content=" رزرو بهترین هتل های خارجی و داخلی با کمترین نرخ در آرزوی سفر پارسیان">
        <meta name="keywords"
              content="لیست هتل های داخلی,لیست هتل های خارجی,هتل های روسیه,هتل های ترکیه,هتل های دبی,هتل های ارزان قیمت,رزرو هتل,آرزوی سفر">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if country.country_iamge %}
    {% srcset_budget country.country_iamge '480,768' as banner_srcset %}
    <link rel="preload" as="image" href="{{ country.country_iamge.url }}" imagesrcset="{{ banner_srcset }}" imagesizes="(max-width: 991px) calc(100vw - 32px), 1230px" fetchpriority="high">
    {% elif city.cityImg %}
    {% srcset_budget city.cityImg '480,768' as banner_srcset %}
    <link rel="preload" as="image" href="{{ city.cityImg.url }}" imagesrcset="{{ banner_srcset }}" imagesizes="(max-width: 991px) calc(100vw - 32px), 1230px" fetchpriority="high">
    {% endif %}
    {% include 'ui/base/head.html' with skip_base_meta=1 skip_material_icons=1 skip_fontawesome=1 delay_third_party=1 late_scripts=1 skip_popup_css=1 %}
    <style>
        @font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:900;font-display:block;src:url("/static/asset/css/webfonts/fa-hotel-solid.woff") format("woff")}
        @font-face{font-family:"Font Awesome 6 Brands";font-style:normal;font-weight:400;font-display:block;src:url("/static/asset/css/webfonts/fa-blog-brands.woff") format("woff")}
        @font-face{font-family:FontAwesome;font-display:block;src:url("/static/asset/css/webfonts/fa-hotel-solid.woff") format("woff")}
        .fa{font-family:var(--fa-style-family,"Font Awesome 6 Free");font-weight:var(--fa-style,900)}
        .fa,.fa-brands,.fa-solid,.fab,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:var(--fa-display,inline-block);font-style:normal;font-variant:normal;line-height:1;text-rendering:auto}
        .fa-solid,.fas{font-family:"Font Awesome 6 Free";font-weight:900}
        .fa-brands,.fab{font-family:"Font Awesome 6 Brands";font-weight:400}
        .fa-bars:before{content:"\f0c9"}
        .fa-user-circle:before{content:"\f2bd"}
        .fa-calendar:before{content:"\f133"}
        .fa-money-check-dollar:before{content:"\f53d"}
        .fa-money-bill:before{content:"\f0d6"}
        .fa-calendar-week:before{content:"\f784"}
        .fa-map-marker:before{content:"\f041"}
        .fa-phone-volume:before{content:"\f2a0"}
        .fa-whatsapp:before{content:"\f232"}
        .fa-instagram:before{content:"\f16d"}
        .fa-telegram:before{content:"\f2c6"}
        img.city-full-img, .country_image img, .cat-img img{object-fit:cover}
        .cat-img img{height:auto}
        .warp h5.blog_sec_title{color:#306f95}
        #hotels-list p.title-cat.hotel_list.en-title{color:#757575}
        #hotels-list .hotel_list.hotel_data_{color:#747474}
        p.head-desc{color:#007da6}
        .country-desc [style*="color:#f39c12"], .country-desc [style*="color: #f39c12"], .country-desc [style*="color:#F39C12"], .country-desc [style*="color: rgb(243, 156, 18)"]{color:#9a6108!important}
        .country-desc [style*="color:#e67e22"], .country-desc [style*="color: #e67e22"], .country-desc [style*="color:#E67E22"], .country-desc [style*="color: rgb(230, 126, 34)"]{color:#a85913!important}
        p.footer_menu_header{color:#0088b5}
        .owl-one:not(.owl-loaded){display:block;overflow:hidden;white-space:nowrap}
        .owl-one:not(.owl-loaded) > .item{display:inline-block;vertical-align:top;white-space:normal;position:relative;min-height:1px;width:calc((100% - 30px) / 4);margin-left:10px}
        .owl-one:not(.owl-loaded) > .item:last-child{margin-left:0}
        .owl-one:not(.owl-loaded) > .item img{display:block;width:100%;border-radius:15px 15px 0 0}
        .owl-one.pre-dots-lg:not(.owl-loaded){padding-bottom:36px}
        @media (max-width:999.98px){
        .owl-one:not(.owl-loaded) > .item{width:calc((100% - 5px) / 1.5)}
        .owl-one.pre-dots-sm:not(.owl-loaded){padding-bottom:36px}
        }
    </style>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            {% if city %}
            "@graph": [
                {
                    "@type": [
                        "WebPage",
                        "FAQPage"
                    ],
                    "@id": "https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}",
                    "url": "https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}",
                    "name": "{{ city.hltitle }}هتل",
                    "isPartOf": {
                        "@id": "https://arezoosafar.com/#website"
                    },
                    "primaryImageOfPage": {
                        "@id": "https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}#primaryimage"
                    },
                    "image": {
                        "@id": "https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}#primaryimage"
                    },
                    "thumbnailUrl": "https://arezoosafar.com{{ city.cityImg.url }}",
                    "description": "{{ city.hotelmd }}",
                    "breadcrumb": {
                        "@id": "https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}#breadcrumb"
                    },
                    {% if all_faqs %}
                    "mainEntity": [
                        {% for q in all_faqs %}
                        {
                            "@id": "https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}#faq-question-{{ forloop.counter }}"
                        }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    {% endif %}
                    "inLanguage": "fa-IR",
                    "potentialAction": [
                        {
                            "@type": "ReadAction",
                            "target": [
                                "https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}"
                            ]
                        }
                    ]
                },
                {
                    "@type": "ImageObject",
                    "inLanguage": "fa-IR",
                    "@id": "https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}#primaryimage",
                    "url": "https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}",
                    "contentUrl": "https://arezoosafar.com{{ city.cityImg.url }}",
                    "width": 1211,
                    "height": 400,
                    "caption": "{{ city.hltitle }}"
                },
                {
                    "@type": "BreadcrumbList",
                    "@id": "https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}#breadcrumb",
                    "itemListElement": [
                        {
                            "@type": "ListItem",
                            "position": 1,
                            "name": " آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (کارگزار رسمی تور روسیه)",
                            "item": "https://arezoosafar.com/"
                        },
                        {
                            "@type": "ListItem",
                            "position": 2,
                            "name": "لیست هتل ها | شرکت خدمات مسافرت هوایی و گردشگری آرزو سفر پارسیان",
                            "item": "https://arezoosafar.com/all-hotel"
                        },
                        {
                            "@type": "ListItem",
                            "position": 3,
                            "name": "{{city.CountryName.TitleC}}",
                            "item": "https://arezoosafar.com{% url 'all-hotel-list' city.CountryName.id city.CountryName.slug %}"
                        },
                        {
                            "@type": "ListItem",
                            "position": 4,
                            "name": "{{ city.hltitle }}"
                        }
                    ]
                },
                {
                    "@type": "WebSite",
                    "@id": "https://arezoosafar.com/#website",
                    "url": "https://arezoosafar.com/",
                    "name": " آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (کارگزار رسمی تور روسیه)",
                    "description": "شرکت آرزوی سفر پارسیان برگزار کننده  تور ارزان قیمت خارجی به صورت نقد و اقساط | مجری تور روسیه و کارگزار تور تایلند",
                    "publisher": {
                        "@id": "https://arezoosafar.com/#organization"
                    }
                }{% if all_faqs %},{% endif %}
                {% if all_faqs %}
                {% for q in all_faqs %}
                {
                    "@type": "Question",
                    "@id": "https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}#faq-question-{{ forloop.counter }}",
                    "position": {{ forloop.counter }},
                    "url": "https://arezoosafar.com{% url 'all-hotel-city-list' city.id city.slug %}#faq-question-{{ forloop.counter }}",
                    "name": "{% if q.question %}{{ q.question|escapejs }}{% else %}{{ q.Question|escapejs }}{% endif %}",
                    "answerCount": 1,
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "{% if q.answer %}{{ q.answer|escapejs }}{% else %}{{ q.Answer|escapejs }}{% endif %}",
                        "inLanguage": "fa-IR"
                    },
                    "inLanguage": "fa-IR"
                }{% if not forloop.last %},{% endif %}
                {% endfor %}
                {% endif %}
            ]
        {% elif country %}
        "@graph": [
        {
            "@type": [
                "WebPage",
                "FAQPage"
            ],
            "@id": "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}",
            "url": "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}",
            "name": "{{ country.TitleC }} هتل ",
            "isPartOf": {
                "@id": "https://arezoosafar.com/#website"
            },
            "primaryImageOfPage": {
                "@id": "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}#primaryimage"
            },
            "image": {
                "@id": "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}#primaryimage"
            },
            "thumbnailUrl": "https://arezoosafar.com{{ country.country_iamge.url }}",
            "description": "{{ country.hotelmd }}",
            "breadcrumb": {
                "@id": "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}#breadcrumb"
            },
            {% if all_faqs %}
            "mainEntity": [
                {% for q in all_faqs %}
                {
                    "@id": "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}#faq-question-{{ forloop.counter }}"
                }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            {% endif %}
            "inLanguage": "fa-IR",
            "potentialAction": [
                {
                    "@type": "ReadAction",
                    "target": [
                        "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}"
                    ]
                }
            ]
        },
        {
            "@type": "ImageObject",
            "inLanguage": "fa-IR",
            "@id": "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}#primaryimage",
            "url": "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}",
            "contentUrl": "https://arezoosafar.com{{ country.country_iamge.url }}",
            "width": 387,
            "height": 192,
            "caption": "هتل های {{ country.TitleC }}"
        },
        {
            "@type": "BreadcrumbList",
            "@id": "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}#breadcrumb",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": " آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (کارگزار رسمی تور روسیه)",
                    "item": "https://arezoosafar.com/"
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "لیست هتل ها | شرکت خدمات مسافرت هوایی و گردشگری آرزو سفر پارسیان",
                    "item": "https://arezoosafar.com/all-hotel"
                },
                {
                    "@type": "ListItem",
                    "position": 3,
                    "name": "{{country.TitleC}}",
                    "item": "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}"
                }
            ]
        },
        {
            "@type": "WebSite",
            "@id": "https://arezoosafar.com/#website",
            "url": "https://arezoosafar.com/",
            "name": " آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (کارگزار رسمی تور روسیه)",
            "description": "شرکت آرزوی سفر پارسیان برگزار کننده  تور ارزان قیمت خارجی به صورت نقد و اقساط | مجری تور روسیه و کارگزار تور تایلند",
            "publisher": {
                "@id": "https://arezoosafar.com/#organization"
            }
        }{% if all_faqs %},{% endif %}
        {% if all_faqs %}
        {% for q in all_faqs %}
        {
            "@type": "Question",
            "@id": "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}#faq-question-{{ forloop.counter }}",
            "position": {{ forloop.counter }},
            "url": "https://arezoosafar.com{% url 'all-hotel-list' country.id country.slug %}#faq-question-{{ forloop.counter }}",
            "name": "{% if q.question %}{{ q.question|escapejs }}{% else %}{{ q.Question|escapejs }}{% endif %}",
            "answerCount": 1,
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "{% if q.answer %}{{ q.answer|escapejs }}{% else %}{{ q.Answer|escapejs }}{% endif %}",
                "inLanguage": "fa-IR"
            },
            "inLanguage": "fa-IR"
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
        {% endif %}
        ]
        {% else %}
        "@graph": [
        {
            "@type": [
                "WebPage",
                "FAQPage"
            ],
            "@id": "https://arezoosafar.com/all-hotel",
            "url": "https://arezoosafar.com/all-hotel",
            "name": "لیست هتل ها | شرکت خدمات مسافرت هوایی و گردشگری آرزو سفر پارسیان",
            "isPartOf": {
                "@id": "https://arezoosafar.com/#website"
            },
            "primaryImageOfPage": {
                "@id": "https://arezoosafar.com/all-hotel#primaryimage"
            },
            "image": {
                "@id": "https://arezoosafar.com/all-hotel#primaryimage"
            },
            "thumbnailUrl": "https://arezoosafar.com/static/asset/css/images/world-map.png",
            "description": "رزرو بهترین هتل های خارجی و داخلی با کمترین نرخ در آرزوی سفر پارسیان",
            "breadcrumb": {
                "@id": "https://arezoosafar.com/all-hotel#breadcrumb"
            },
            {% if all_faqs %}
            "mainEntity": [
                {% for q in all_faqs %}
                {
                    "@id": "https://arezoosafar.com/all-hotel#faq-question-{{ forloop.counter }}"
                }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            {% endif %}
            "inLanguage": "fa-IR",
            "potentialAction": [
                {
                    "@type": "ReadAction",
                    "target": [
                        "https://arezoosafar.com/all-hotel"
                    ]
                }
            ]
        },
        {
            "@type": "ImageObject",
            "inLanguage": "fa-IR",
            "@id": "https://arezoosafar.com/all-hotel#primaryimage",
            "url": "https://arezoosafar.com/all-hotel",
            "contentUrl": "https://arezoosafar.com/static/asset/css/images/world-map.png",
            "width": 1211,
            "height": 400
        },
        {
            "@type": "BreadcrumbList",
            "@id": "https://arezoosafar.com/all-hotel#breadcrumb",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": " آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (کارگزار رسمی تور روسیه)",
                    "item": "https://arezoosafar.com/"
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "لیست هتل ها | شرکت خدمات مسافرت هوایی و گردشگری آرزو سفر پارسیان",
                    "item": "https://arezoosafar.com/all-hotel"
                }
            ]
        },
        {
            "@type": "WebSite",
            "@id": "https://arezoosafar.com/#website",
            "url": "https://arezoosafar.com/",
            "name": " آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (کارگزار رسمی تور روسیه)",
            "description": "شرکت آرزوی سفر پارسیان برگزار کننده  تور ارزان قیمت خارجی به صورت نقد و اقساط | مجری تور روسیه و کارگزار تور تایلند",
            "publisher": {
                "@id": "https://arezoosafar.com/#organization"
            }
        }{% if all_faqs|length > 0 %},{% endif %}
        {% if all_faqs %}
        {% for q in all_faqs %}
        {
            "@type": "Question",
            "@id": "https://arezoosafar.com/all-hotel#faq-question-{{ forloop.counter }}",
            "position": {{ forloop.counter }},
            "url": "https://arezoosafar.com/all-hotel#faq-question-{{ forloop.counter }}",
            "name": "{% if q.question %}{{ q.question|escapejs }}{% else %}{{ q.Question|escapejs }}{% endif %}",
            "answerCount": 1,
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "{% if q.answer %}{{ q.answer|escapejs }}{% else %}{{ q.Answer|escapejs }}{% endif %}",
                "inLanguage": "fa-IR"
            },
            "inLanguage": "fa-IR"
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
        {% endif %}
        ]
        {% endif %}
        }
    </script>
    {% if city.hltitle %}
        <title> {{ city.hltitle }} </title>
    {% elif country.hltitle %}
        <title> {{ country.hltitle }} </title>
    {% else %}
        <title>لیست هتل ها | شرکت خدمات مسافرت هوایی و گردشگری آرزو سفر پارسیان</title>
    {% endif %}
</head>
<body>
{% include 'ui/base/header.html' %}
<div class="warp">
   {# {% include 'ui/base/preloader.html' %} #}
    {% csrf_token %}
    <main>
    {% if countries or cities or city %}
        <section class="country_list hotel_list_">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 hotel-list-filter" style="margin-top: 90px;">
                        {% if country.country_iamge %}
                            <img class="city-full-img" src="{{ country.country_iamge.url }}" alt="هتل های {{ country }}" {% img_dimensions country.country_iamge %}{% if banner_srcset %} srcset="{{ banner_srcset }}" sizes="(max-width: 991px) calc(100vw - 32px), 1230px"{% endif %} fetchpriority="high" decoding="async">
                        {% elif city %}
                            <img class="city-full-img" src="{{ city.cityImg.url }}" alt="هتل های {{ city }}" {% img_dimensions city.cityImg %}{% if banner_srcset %} srcset="{{ banner_srcset }}" sizes="(max-width: 991px) calc(100vw - 32px), 1230px"{% endif %} fetchpriority="high" decoding="async">
                        {% else %}
                            <img class="city-full-img" src="/media/hotels.jpg" alt="هتل ها" fetchpriority="high" decoding="async">
                        {% endif %}
                    </div>
                    <div class="hotel-filter hotel-list">
                        <form method="get" action="/hotel_search">
                            {% if country %}
                                <input type="hidden" name="countryname" value="{{ country.id }}">
                            {% elif city %}
                                <input type="hidden" name="cityname" value="{{ city.id }}">
                            {% endif %}
                            <div class="row filter">
                                <div class="col-lg-3">
        }{% if all_faqs %},{% endif %}
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" class="form-control" placeholder="نام انگلیسی هتل"
                                           name="hotelnameen" aria-label="نام انگلیسی هتل">
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-select" name="rating" style="padding-right: 35px;" aria-label="انتخاب ستاره هتل">
                                        <option value="">انتخاب ستاره هتل</option>
                                        <option value="3">3 ستاره</option>
                                        <option value="4">4 ستاره</option>
                                        <option value="5">5 ستاره</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <button type="submit" class="btn-primary-search">جستجو هتل</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                {% if countries %}
                    <h5 class="blog_sec_title">کشور مورد نظرت رو انتخاب کن:</h5>
                    <p class="spacial_tour_subtitle_">سفر هیجان انگیز شما از اینجا شروع میشود. کافی است یک کشور را
                        انتخاب
                        کنید</p>
                {% endif %}
                {% if cities %}
                    <h5 class="blog_sec_title">شهر مورد نظرت رو انتخاب کن:</h5>
                    <p class="spacial_tour_subtitle_">
                        با انتخاب هر شهری از کشور
                        {{ country }}
                        میتونی هتل هاش رو ببینی.
                    </p>
                {% endif %}
                <div class="owl-one owl-carousel owl-theme{% if cities|length > 4 %} pre-dots-lg{% endif %}{% if cities|length > 1 %} pre-dots-sm{% endif %}">{% spaceless %}
                    {% if countries %}
                        {% for countries,hotel_ctry in countries %}
                            <div class="item">
                                <div class="country_list_">
                                    <div class="country_image">
                                        <a href="{% url 'all-hotel-list' countries.id countries.slug %}">
                                            <img loading="lazy" alt="{{ countries.TitleC }}" class="country_image_"
                                                 src="{{ countries.Flagimg.url }}">
                                        </a>
                                    </div>
                                    <div class="country_name_">
                                        <a href="{% url 'all-hotel-list' countries.id countries.slug %}"
                                           class="Country_name">
                                            {{ countries.TitleC }}
                                        </a>
                                        <p class="country_tours">
                                            {{ hotel_ctry }} هتل
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if cities %}
                        {% for ctys, hotel_cty_count in cities %}
                            <div class="item">
                                <div class="country_list_">
                                    <div class="country_image">
                                        <a href="{% url 'all-hotel-city-list' ctys.id ctys.slug %}">
                                            <img loading="lazy" decoding="async" alt="{{ ctys.Name }}" class=""
                                                 src="{{ ctys.cityImg.url }}" {% img_dimensions ctys.cityImg %} srcset="{% srcset_budget ctys.cityImg '480,768' %}" sizes="(max-width: 999px) 70vw, 310px">
                                        </a>
                                    </div>
                                    <div class="country_name_">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6">
                                                <a href="{% url 'all-hotel-city-list' ctys.id ctys.slug %}"
                                                   class="Country_name">
                                                    {{ ctys.Name }}
                                                </a>
                                            </div>
                                            <div class="col-sm-6 col-lg-6">
                                                <p class="country_tours">
                                                    {{ hotel_cty_count }} هتل
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endspaceless %}</div>
            </div>
        </section>
    {% endif %}
    <div class="container col-sm-12 col-lg-12">
        <div class="hotel_list_title_">
            {% if country %}
                <div class="tour-title-breadcrumb-row">
                    <div class="tour-page-title-box">
                        <h1 class="blog_sec_title tour-page-title">هتل های {{ country }}</h1>
                        <p class="spacial_tour_subtitle_">
                            لیست تمام هتل های کشور
                            {{ country }}
                            رو هم اینجا میتونی ببینی.
                        </p>
                    </div>
                    {% include 'ui/base/hotel-breadcrumb.html' with crumb_country=country %}
                </div>
            {% elif city %}
                <div class="tour-title-breadcrumb-row">
                    <div class="tour-page-title-box">
                        <h1 class="blog_sec_title tour-page-title">هتل های {{ city }}</h1>
                        <p class="spacial_tour_subtitle_">
                            لیست تمام هتل های شهر
                            {{ city }}
                            رو هم اینجا میتونی ببینی.
                        </p>
                    </div>
                    {% include 'ui/base/hotel-breadcrumb.html' with crumb_country=city.CountryName crumb_city=city %}
                </div>
            {% else %}
                <h5 class="blog_sec_title">معرفی هتل ها</h5>
                <p class="spacial_tour_subtitle_">سفر هیجان انگیز شما از اینجا شروع میشود. کافی است یک مقصد را انتخاب
                    کنید</p>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="hotels-list" class="row">
                    {% if Hotels and Hotels.number == 1 %}{% include 'ajax/country-hotel-list.html' with hotels=Hotels %}{% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'ui/base/hotel-slagon.html' %}
    {% include 'ui/base/faq.html' %}
    </main>
    {% include 'ui/base/footer.html' %}
</div>
<script>
    var country = {% if country %}
        '{{ country.slug }}'
    {% else %}
        '{{ city.CountryName.slug }}'
    {% endif %}
    var country_id = {% if country %}
        '{{ country.id }}'
    {% else %}
        '{{ city.CountryName.id }}'
    {% endif %}
    var city = '{{ city.slug }}'
    var city_id = '{{ city.id }}'
    var tour_id = '{{ Tour.id }}'
    var tour_slug = '{{ Tour.Slug }}'
    var tour_menu = '{{ Menu.slug }}'
    var category_slug = '{{ category.slug|default:"" }}'
</script>
<script>
    window.__afterJquery = window.__afterJquery || [];
    window.__afterJquery.push(function () {
        var box = document.getElementById('hotels-list');
        if (!box || !box.querySelector('.hotel-cat')) return;
        var skipped = false;
        jQuery.ajaxPrefilter(function (options, original, xhr) {
            if (skipped) return;
            var body = String(original.data || options.data || '');
            if (/\/(country|city)_hotels_ajax$/.test(options.url || '') && /"page":1[,}]/.test(body)) {
                skipped = true;
                xhr.abort();
            }
        });
    });
</script>
{% include 'ui/base/plugins.html' with late_scripts=1 %}
</body>
</html>