{% load humanize %}
{% load static %}
{% load jalali_tags %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    {% include 'ui/base/head.html' %}
    <link rel="canonical" href="https://arezoosafar.com/blog{% if request.GET.page %}?page={{ request.GET.page|urlencode }}{% endif %}"/>
    <meta name="description" content="مجله گردشگری آرزوی سفر پارسیان: راهنمای سفر، جاذبه‌های دیدنی، هزینه سفر، شرایط ویزا و بهترین زمان سفر به روسیه، تایلند، ارمنستان، چین و سایر مقاصد.">
    <title>مجله گردشگری | شرکت خدمات مسافرت هوایی و گردشگری آرزوی سفر پارسیان</title>
</head>
<body>
{% include 'ui/base/header.html' %}
{% include 'ui/base/preloader.html' %}
<div class="warp">
    <section class="blog_intro_posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a style="height:305px;" class="blog_post_index" href="{% url 'post-detail' visa_post.id visa_post.slug %}">
                        <div class="_blog_page_post_cat">
                            <p class="_blog_cat">
                                {{ visa_post.Category }}
                            </p>
                        </div>
                        <div>
                            <img alt="{{ visa_post.Title }}" class="post_image_index feat" src="{{ visa_post.Image.url }}" fetchpriority="high" decoding="async">
                        </div>
                        <div class="post_title_index">
                            <p class="_index_title blog_page">
                                {{ visa_post.Title|truncatechars:40 }}
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    {% for post in Posts %}
                        {% if forloop.counter < 3 %}
                            <a class="blog_post_index blog_page" href="{% url 'post-detail' post.id post.slug %}">
                                <div class="_blog_page_post_cat">
                                    <p class="_blog_cat">
                                        {{ post.Category }}
                                    </p>
                                </div>
                                <div>
                                    <img loading="lazy" alt=" {{ post.Title }}" class="post_image_index" src="{{ post.Image.url }}">
                                </div>
                                <div class="post_title_index">
                                    <p class="_index_title blog_page mini_blog">
                                        {{ post.Title|truncatechars:35 }}
                                    </p>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-sm-6 col-lg-3">
                    {% for post in Posts %}
                        {% if forloop.counter > 2 and forloop.counter < 5 %}
                            <a class="blog_post_index blog_page" href="{% url 'post-detail' post.id post.slug %}">
                                <div class="_blog_page_post_cat">
                                    <p class="_blog_cat">
                                        {{ post.Category }}
                                    </p>
                                </div>
                                <div>
                                    <img alt="{{ post.Title }}" class="post_image_index" src="{{ post.Image.url }}">
                                </div>
                                <div class="post_title_index">
                                    <p class="_index_title blog_page mini_blog">
                                        {{ post.Title|truncatechars:35 }}
                                    </p>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="all_post_list">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 list_post_">
                    <h5 class="_all_post_list_header{% if search_query %} search-active{% endif %}">
                        <span><i class="fa fa-bars"></i></span>
                        {% if search_query %}
                            نتایج جستجو برای «{{ search_query }}»
                        {% else %}
                            مطالب وبلاگ گردشگری
                        {% endif %}
                    </h5>
                    <form method="get" action="{% url 'blog' %}" class="blog_search_form_">
                        <input type="text" name="q" value="{{ search_query }}" placeholder="جستجو در مقالات..." class="blog_search_input_" autocomplete="off">
                        <button type="submit" class="blog_search_btn_">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                    {% if search_query and not data %}
                        <p class="blog_search_empty_">مقاله‌ای مطابق با جستجوی شما پیدا نشد.</p>
                    {% endif %}
                    {% for post in data %}
                        <div class="post_body_">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="post_image_">
                                        <a href="{% url 'post-detail' post.id post.slug %}">
                                            <img loading="lazy" alt="{{ post.Title }}" src="{{ post.Image.url }}">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="post_title_body">
                                        <h3 class="post_title_">
                                            <a href="{% url 'post-detail' post.id post.slug %}" class="post-title-link">
                                                {{ post.Title }}
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="post_desc_short">
                                        {{ post.ShortDesc|safe|truncatechars:260 }}
                                    </div>
                                    <div class="col-lg-2 view-detail" style="width: 100px">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap" style="padding-right: 11px;">
                                            <div class="sender-name" style="color: black">
                                                <i class="fa fa-eye memories-page"></i>
                                                {{ post.viewCount }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post_read_more_">
                                        <a href="{% url 'post-detail' post.id post.slug %}" class="read_more_btn_">
                                            مطالعه بیشتر
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="pagination">
                        <ul class="pagination">
                            {% if data.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1{% if search_query %}&q={{ search_query|urlencode }}{% endif %}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">begin</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for n in data.paginator.page_range %}
                                {% if data.number == n %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                    </li>
                                {% elif n > data.number|add:'-10' and n < data.number|add:'10' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ n }}{% if search_query %}&q={{ search_query|urlencode }}{% endif %}">{{ n }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if data.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ data.paginator.num_pages }}{% if search_query %}&q={{ search_query|urlencode }}{% endif %}"aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">end</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 category_list">
                    <div class="container">
                        <div class="fav_box">
                            <h5 class="_all_fav_list_header">
                                <span><i class="fa fa-podcast"></i></span>
                                دسته بندی ها
                            </h5>
                            <nav class='animated bounceInDown bg-white'>
                                <ul class="post_menu">
                                    {% for i , k in categories %}
                                        {% if not i.parentCat %}
                                            <li class="main-category sub-menu">
                                                <a href='{% url 'blog-category' i.slug i.id %}'>{{ i.CatName }}
                                                </a>
                                                {% if k != 0 %}
                                                    <div class='menu-toggle-box left'>
                                                        <img loading="lazy" src="/media/down-arrow.png">
                                                    </div>
                                                {% endif %}
                                                <ul class="post_menu">
                                                    {% for j in ch_categories %}
                                                        {% if j.parentCat == i %}
                                                            <li>
                                                                <a href='{% url 'blog-category' j.slug j.id %}'>{{ j.CatName }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'ui/base/footer.html' %}
    {% include 'ui/base/plugins.html' %}
    <script>
        $('.sub-menu ul').hide();
        $(".menu-toggle-box").click(function () {
            $(this).parent(".sub-menu").children("ul").slideToggle("100");
            $(this).find(".left").toggleClass("fa-caret-up fa-caret-down");
        });
    </script>
</div>
</body>
</html>