<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>{% load static %}{% load humanize %}{% load jalali_tags %}{% load webp_converter %}
    {% include 'ui/base/head.html' %}
    <meta name="enamad" content="746303">
    <link rel="canonical" href="https://arezoosafar.com{{ request.path }}{% if request.GET.page %}?page={{ request.GET.page|urlencode }}{% endif %}"/>
    <meta name="description"
          content="شرکت آرزوی سفر پارسیان برگزار کننده  تور ارزان قیمت خارجی به صورت نقد و اقساط | مجری تخصصی تور روسیه">
    <script>
        !function (t, e, n) {
            t.yektanetAnalyticsObject = n, t[n] = t[n] || function () {
                t[n].q.push(arguments)
            }, t[n].q = t[n].q || [];
            var a = new Date,
                r = a.getFullYear().toString() + "0" + a.getMonth() + "0" + a.getDate() + "0" + a.getHours(),
                c = e.getElementsByTagName("script")[0], s = e.createElement("script");
            s.id = "ua-script-WnTehyfw";
            s.dataset.analyticsobject = n;
            s.async = 1;
            s.type = "text/javascript";
            s.src = "https://cdn.yektanet.com/rg_woebegone/scripts_v3/WnTehyfw/rg.complete.js?v=" + r, c.parentNode.insertBefore(s, c)
        }(window, document, "yektanet");
    </script>
    <title> آژانس مسافرتی و گردشگری آرزوی سفر پارسیان (مجری تخصصی تور روسیه) | تماس با ما</title>
</head>
<body>
{% include 'ui/base/header.html' %}
<div class="warp">
    {% include 'ui/base/preloader.html' %}
    <section class="col-lg-12 contact-us_section">
        <div class="container">
            <div class="row">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
                <div class="col-lg-12">
                    <div class="contact-us-heade">
                        <h1 class="main-headline">
                            با آرزوی سفر پارسیان در تماس باشید.
                        </h1>
                        <p class="contact-sub-title">
                            آرزوی شما را برآورده میکنیم!
                        </p>
                        <p class="contact-sub-title">
                            بااستفاده از روش های زیر و یا تکمیل فرم ارسال پیام با ما در ارتباط باشید.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="contact-box-section">
                        <div class="contact-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xmlns:xodm="http://www.corel.com/coreldraw/odm/2003" xml:space="preserve" width="190px"
                                 height="218px" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 222.69 255.92"> <g
                                    id="Layer_x0020_1">  <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                <g id="_1619370314816">   <path fill="none" stroke="#63BCE5" stroke-width="12.19"
                                                                stroke-miterlimit="2.61313"
                                                                d="M111.21 145.46c21.01,-0.01 38.05,-17.04 38.05,-38.05 0,-21 -17.04,-38.04 -38.05,-38.04 -21,0 -38.04,17.04 -38.04,38.04 0,21.01 17.04,38.04 38.04,38.04l0 0.01z"></path>
                                    <path fill="none" stroke="#0F2557" stroke-width="12.19" stroke-miterlimit="2.61313"
                                          d="M9.03 85.22c24.15,-105.6 180.47,-105.45 204.61,0.15 14.05,61.94 -24.39,114.37 -58.53,146.81 -11.79,11.31 -27.54,17.65 -43.9,17.65 -16.35,0 -32.1,-6.34 -43.89,-17.65 -33.8,-32.44 -72.29,-85.02 -58.29,-146.96z"></path>  </g> </g></svg>
                        </div>
                        <div class="contact-headline">
                            <p>نشانی شرکت</p>
                        </div>
                        <div class="contact-desc">
                            <p>
                                تهران، بلوار مرزداران بین خیابان نارون و سپهر پلاک 143 ساختمان دیپلمات طبقه چهارم
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="contact-box-section">
                        <div class="contact-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="1.85cm"
                                 height="1.85cm" viewBox="0 0 52.5 52.5">
                                <defs>
                                    <style>      .cls-1, .cls-2 {
                                        fill: none;
                                        stroke-width: 2.5px;
                                    }

                                    .cls-1 {
                                        stroke: #0f2557;
                                        stroke-miterlimit: 10;
                                    }

                                    .cls-2 {
                                        stroke: #63bce5;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                    }    </style>
                                </defs>
                                <path class="cls-1"
                                      d="M54.92,45.82a6.45,6.45,0,0,1-.62,2.73,10,10,0,0,1-1.7,2.55,11.25,11.25,0,0,1-4.1,2.95,12.63,12.63,0,0,1-4.88,1,20.81,20.81,0,0,1-8.15-1.83,43.49,43.49,0,0,1-8.59-5,71,71,0,0,1-8.21-7,70.94,70.94,0,0,1-7-8.17,44.45,44.45,0,0,1-4.9-8.53A21,21,0,0,1,5,16.35a13,13,0,0,1,.9-4.83A11.58,11.58,0,0,1,8.77,7.35,7.33,7.33,0,0,1,14,5a4.66,4.66,0,0,1,2,.45,4,4,0,0,1,1.67,1.4L23.48,15a9.48,9.48,0,0,1,1,1.75,4.07,4.07,0,0,1,.35,1.53,3.37,3.37,0,0,1-.53,1.77,8.24,8.24,0,0,1-1.4,1.78l-1.9,2a1.36,1.36,0,0,0-.4,1,2.3,2.3,0,0,0,.07.58c.08.2.16.35.21.5a20.89,20.89,0,0,0,2.32,3.2c1.13,1.3,2.32,2.62,3.63,3.95s2.65,2.55,4,3.67A18.79,18.79,0,0,0,34,39l.44.2a1.67,1.67,0,0,0,.63.1,1.36,1.36,0,0,0,1-.42L38,37a7.6,7.6,0,0,1,1.8-1.4,3.28,3.28,0,0,1,1.77-.52,4,4,0,0,1,1.52.32,10,10,0,0,1,1.76,1l8.27,5.87a3.87,3.87,0,0,1,1.38,1.6A5.14,5.14,0,0,1,54.92,45.82Z"
                                      transform="translate(-3.75 -3.75)"></path>
                                <path class="cls-2"
                                      d="M46.25,22.5c0-1.5-1.17-3.8-2.92-5.68-1.61-1.72-3.73-3.07-5.83-3.07"
                                      transform="translate(-3.75 -3.75)"></path>
                                <path class="cls-2" d="M55,22.5A17.49,17.49,0,0,0,37.5,5"
                                      transform="translate(-3.75 -3.75)"></path>
                            </svg>
                        </div>
                        <div class="contact-headline">
                            <p>شماره تماس</p>
                        </div>
                        <div class="contact-desc">
                            <p class="phone-text">
                                021-45128
                            </p>
                            <p class="phone-text">
                                021-4422&hairsp;&hairsp;44&hairsp;&hairsp;44
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="contact-box-section">
                        <div class="contact-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="1.85cm"
                                 height="1.59cm" viewBox="0 0 52.5 45">
                                <defs>
                                    <style>      .cls-1, .cls-2 {
                                        fill: none;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                        stroke-width: 2.5px;
                                    }

                                    .cls-1 {
                                        stroke: #0f2557;
                                    }

                                    .cls-2 {
                                        stroke: #63bce5;
                                    }    </style>
                                </defs>
                                <path class="cls-1"
                                      d="M42.5,51.25h-25C10,51.25,5,47.5,5,38.75V21.25c0-8.75,5-12.5,12.5-12.5h25C50,8.75,55,12.5,55,21.25v17.5C55,47.5,50,51.25,42.5,51.25Z"
                                      transform="translate(-3.75 -7.5)"></path>
                                <path class="cls-2" d="M42.5,22.5l-7.83,6.25a7.91,7.91,0,0,1-9.37,0L17.5,22.5"
                                      transform="translate(-3.75 -7.5)"></path>
                            </svg>
                        </div>
                        <div class="contact-headline">
                            <p>آدرس ایمیل</p>
                        </div>
                        <div class="contact-desc">
                            <p class="email-text">
                                arezooyesafar@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="contact-box-section">
                        <div class="contact-icon" style="width: 55px">
                            <img loading="lazy" src="/media/social.png">
                        </div>
                        <div class="contact-headline">
                            <p>شبکه های اجتماعی</p>
                        </div>
                        <div class="contact-desc">
                            <div class="social-contact">
                                <div class="social-main-container">
                                    <div class="social-box-contact">
                                        <a href="https://www.instagram.com/arezooyesafarparsian/">
                                            <img loading="lazy" src="/media/social-icon-contact/insta.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="social-main-container">
                                    <div class="social-box-contact">
                                        <a href="https://chat.whatsapp.com/GIskiohLjv63Zbqu3PM3vx/">
                                            <img loading="lazy" src="/media/social-icon-contact/whatsapp.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="social-main-container">
                                    <div class="social-box-contact">
                                        <a href="https://t.me/Arezouyesafar/">
                                            <img loading="lazy" src="/media/social-icon-contact/telegram.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-box">
                        <p class="form-headline">
                            ارسال
                            <span class="headline-color">پیام</span>
                            به ما
                        </p>

                        <form method="post">
                            {% csrf_token %}
                            <div class="col-lg-12">
                                {{ form.FirstName }}
                            </div>
                            <div class="col-lg-12">
                                {{ form.LastName }}
                            </div>
                            <div class="col-lg-12">
                                {{ form.Mobile }}
                            </div>
                            <div class="col-lg-12">
                                {{ form.Message }}
                            </div>
                            <div class="col-lg-12">
                                <button class="btn-primary-search contact-form" type="submit">ارسال پیام</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="map-box">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12954.616426341812!2d51.3540115!3d35.7347244!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e07c3016414b1%3A0x3e8e97c6c81f6c4!2sArezooye%20Safar%20Parsian!5e0!3m2!1sen!2s!4v1723382522503!5m2!1sen!2s"
                                width="100%" height="330px" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'ui/base/footer.html' %}
    <script>
        var country = '{{ contry.slug }}'
        var country_id = '{{ contry.id }}'
        var city = '{{ city.slug }}'
        var city_id = '{{ city.id }}'
        var tour_id = '{{ Tour.id }}'
        var tour_slug = '{{ Tour.Slug }}'
        var tour_menu = '{{ Menu.slug }}'
        var category_slug = '{{ category.slug|default:"" }}'
    </script>
</div>
</body>
{% include 'ui/base/plugins.html' %}
</html>