<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>{% load static %}{% load humanize %}{% load jalali_tags %}{% load webp_converter %}
    {% include 'ui/base/head.html' %}
    <link rel=“canonical” href=""/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>گندم تراول | سامانه رزرو آنلاین تور</title>
</head>
<body>
<div class="warp" style="height: 1000px;">
    <section>
        <div class="container">
            <div class="col-sm-12 col-lg-12 about" style="margin-top: 200px;">
            <h2 class="about_title">
                اسکریپت تور و گردشگری گندم
            </h2>
            <p class="about_text">
                اسکریپت فروش آنلاین تور و گردشگری گندم با قابلیت تعریف فرودگاه، ایرلاین، مقاصد شامل کشور و شهر، تعریف تور، 
                برنامه زمانی، پکیج، هتل، مطلب تحت عنوان مجله گردشگری، سفرنامه و روز آنلاین تور و رزرو آفلاین تور 
                سیستمی  جامع جهت آنلاین نمودن فرآیند فروش تور میباشد. شما در حال حاضر دسترسی به بخش مدیریت سامانه را دارید و امکان مشاهده رابط کاربری برای شما مقدور نیست.
                شایان ذکر است رابط کاربری با توجه به طراحی مورد تایید کارفرما 
            اجرا و ئیاده سازی میگردد جهت مشاهده نمونه های رابط کاربری میتوانید به سایت شرکت آرزوی سفر پارسیان(arezoosafar.com) و همچنین 
                سایت مجموعه شرکت های ساتراپ(satraptravel.com) مراجعه نمایید.
            </p>
        </div>
        </div>
    </section>
</div>
</body>
{% include 'ui/base/plugins.html' %}
</html>