{% load humanize %}
{% load static %}
{% load jalali_tags %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    {% include 'ui/base/head.html' %}
    <link rel="canonical" href="https://arezoosafar.com/memories{% if request.GET.page %}?page={{ request.GET.page|urlencode }}{% endif %}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="آرزوی سفر ارائه دهنده انواع تورهای مسافرتی (داخلی، خارجی، لوکس و نمایشگاهی) به صورت نقد و اقساط، اخذ و مشاوره انواع ویزای توریستی، رزرو بلیط و هتل. آرزوی شما را برآورده میکنیم">
    <meta name="keywords" content="تورهای داخلی,تورهای خارجی,تورهای نمایشگاهی,تورهای ارزان قیمت,تور ترکیه,تور روسیه,تور قسطی,تور اقساطی,آرزوی سفر">
    <title>سفرنامه | شرکت خدمات مسافرت هوایی و گردشگری آرزوی سفر پارسیان</title>
</head>
<body>
{% include 'ui/base/header.html' %}
<div class="warp">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                {% for msg in messages %}
                    <p style="position: relative;top: 85px;" class="success">{{ msg }}</p>
                {% endfor %}
                <section class="memories">
                    {% for memory in Memories %}
                        <div class="memo-list-card">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="memories-image">
                                        {% if memory.img1 %}
                                        <img loading="lazy" src="{{ memory.img1.url }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="memory-detail list">
                                        <div class="memory-detail-info">
                                            {% if memory.headline %}
                                            <h2 class="memories-headline">
                                                {{ memory.headline }}
                                            </h2>
                                            {% endif %}
                                            <div class="memo-message">
                                                <p> {{ memory.Message|safe|truncatechars:200}}</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="view-detail">
                                                        <div class="d-flex align-items-center justify-content-between flex-wrap" style="padding-right: 11px;">
                                                            <div class="sender-name">
                                                                <i class="fa fa-user memories-page"></i>
                                                                {{ memory.Name }} {{ memory.Family }}
                                                            </div>
                                                        
                                                            <div class="sender-name mx-auto text-center">
                                                                <i class="fa fa-eye memories-page"></i>
                                                                {{ memory.viewCount }}
                                                            </div>
                                                        
                                                            <div class="sender-name ms-auto text-end">
                                                                <i class="fa fa-pen memories-page"></i>
                                                                {{ memory.created_date|to_jalali:'%Y/%m/%d' }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="read-more-memo">
                                                        <a class="read-more-m"
                                                           href="{% url 'read-jounery' memory.id %}">مطالعه کامل
                                                            سفرنامه</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if Memories.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ Memories.previous_page_number }}" aria-label="Previous">
                                        «
                                    </a>
                                </li>
                            {% endif %}
                    
                            {% for page_num in Memories.paginator.page_range %}
                                {% if page_num == Memories.number %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ page_num }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                    
                            {% if Memories.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ Memories.next_page_number }}" aria-label="Next">
                                        »
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>                    
                    <div class="post-list-card">
                        <p class="memo-form-heading">ارسال سفرنامه</p>
                        <form method="POST" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">{{ Form.Name }}</div>
                                <div class="col-lg-6">{{ Form.Family }}</div>
                                <div class="col-lg-6">{{ Form.Mobile }}</div>
                                <div class="col-lg-6">{{ Form.Email }}</div>
                                <div class="col-lg-6">{{ Form.img1 }}</div>
                                <div class="col-lg-6">{{ Form.img2 }}</div>
                                <div class="col-lg-12">{{ Form.Message }}
                                    <p class="char-validate">میزان کاراکترهای باقی مانده <span id='info'></span></p>
                                    <button id="save-button-hd" type="submit" class="btn btn-lg btn-info btn-block">
                                        <i class="fa fa-check btn-icon font-20 edit-btn"></i><span
                                            id="save-button-title">ارسال</span>
                                    </button>
                                    <script>
                                        var max = 10000;
                                        var textarea = document.querySelector('textarea');
                                        var info = document.querySelector('#info');

                                        //Init the count for the first time
                                        info.textContent = max - textarea.value.length;

                                        textarea.addEventListener('input', function () {
                                            info.textContent = max - this.value.length;
                                        })
                                    </script>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>

            </div>
            <div class="col-lg-3 memo_category_list">
                <div class="container" style="margin-top: 90px">
                    <div class="fav_box">
                        <h5 class="_all_fav_list_header">
                            <span><i class="fa fa-podcast"></i></span>
                            دسته بندی ها
                        </h5>
                        <nav class='animated bounceInDown bg-white'>
                            <ul class="memo_menu" style="padding-right: 0rem !important;">
                                {% for i , k in categories %}
                                    {% if not i.parentCat %}
                                        <li class="main-category sub-menu">
                                            <a href='{% url 'memory-category' i.slug%}'>{{ i.CatName }}
                                            </a>
                                            {% if k != 0 %}
                                                <div class='menu-toggle-box left'>
                                                    <img loading="lazy" src="/media/down-arrow.png">
                                                </div>
                                            {% endif %}
                                            <ul class="memo_menu" style="padding-right: 0rem !important;">
                                                {% for j in ch_categories %}
                                                    {% if j.parentCat == i %}
                                                        <li>
                                                            <a href='{% url 'memory-category' j.slug %}'>{{ j.CatName }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="contact-banner">
    {% include 'ui/base/contact-banner.html' %}
                </div>
                <div class="spacial-tours">
                    {% for tours, cities, packages in pubTours %}
                        {% if forloop.counter < 5 %}
                            <div class="col-lg-12 tour_grid">
                                <div class="row tour_data_box">
                                    <div class="col-lg-12 tour image no-padding">
                                        {% if tours.Feature %}
                                            <div class="spacial_baget">
                                                <p>
                                                    تور ویژه
                                                </p>
                                            </div>
                                        {% endif %}
                                        {% if tours.TourImage %}
                                            <img loading="lazy" class="tour-main-img" src="{{ tours.TourImage.url }}">
                                        {% else %}
                                            <img loading="lazy" class="tour-main-img"
                                                 src="/static/asset/css/images/No_Image_Available.jpg">
                                        {% endif %}
                                        <span class="country_flag_list">
                                            <img loading="lazy" src="{{ tours.Tcountry.Flagimg.url }}" alt="پرچم {{ tours.Tcountry.TitleC }}" width="30" height="30" loading="lazy">
                                            {{ tours.Tcountry.TitleC }}
                                        </span>
                                        {% if tours.satrap_gte %}
                                            <span class="grte_">
                                        گارانتی هتل
                                    </span>
                                        {% endif %}
                                        {% if tours.Cash %}
                                            <span class="cashe_">
                                        نقدی
                                    </span>
                                        {% endif %}
                                        {% if tours.Installment %}
                                            <span class="installment_">
                                        اقساطی
                                    </span>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12 no-padding">
                                        <div class="row">
                                            <div class="col-lg-12 no-padding">
                                                <p class="tour_title_">
                                                    {{ tours.Title }}
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-padding">
                                                <p class="duration_">
                                                    <img loading="lazy" class="day_icon" alt="روز" src="/static/asset/css/images/icon/day.png">
                                                    {{ tours.DayCount }}
                                                    روز و
                                                    {{ tours.NightCount }}
                                                    شب
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-padding">
                                                <p class="duration_">
                                                    <img loading="lazy" class="day_icon" alt="تاریخ" src="/static/asset/css/images/icon/date.png">
                                                    {{ tours.StartDate|to_jalali:'%Y/%m/%d' }}
                                                </p>
                                            </div>
                                            <div class="col-sm-12 col-lg-12 no-padding">
                                                <div class="row">
                                                    {#                            <div class="col-sm-6 col-lg-6 no-padding">#}
                                                    {#                                <p class="duration_">#}
                                                    {#                                    {% if cities.0.QTransfer or cities.0.GTransfer  %}#}
                                                    {#                                        ساعت حرکت: #}
                                                    {#                                {{ cities.0.FlightTime }}#}
                                                    {#                                        {% else %}#}
                                                    {#                                ساعت پرواز: #}
                                                    {#                                {{ cities.0.FlightTime }}#}
                                                    {#                                        {% endif %}#}
                                                    {#                                </p>#}
                                                    {#                            </div>#}
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-lg-12 no-padding ir_price">
                                                <p class="irprice">
                                                    {{ packages.0.DoubleBedPrice | floatformat:0 | intcomma }}
                                                    {{ packages.0.Pcry }}
                                                            {% if packages.0.DollerPrice and not packages.0.DoubleBedPrice_doller %}
                                                                + {{ packages.0.DollerPrice | floatformat:0 | intcomma }}
                                                                {{ packages.0.fr_Pcry }}
                                                            {% endif %}
                                                    {% if not packages.0.DollerPrice and packages.0.DoubleBedPrice_doller %}
                                                        + {{ packages.0.DoubleBedPrice_doller | floatformat:0 | intcomma }}
                                                        {{ packages.0.fr_Pcry }}
                                                    {% endif %}
                                                    {% if packages.0.DollerPrice and packages.0.DoubleBedPrice_doller %}
                                                        + {{ packages.0.DoubleBedPrice_doller | floatformat:0 | intcomma }}
                                                        {{ packages.0.fr_Pcry }}
                                                    {% endif %}
                                                    {% if not packages.0.DollerPrice and not packages.0.DoubleBedPrice_doller %}
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-padding">
                                                <p class="more_detail">
                                                    <a class="more_detail_link"
                                                       href="{% url 'tour-detail' tours.id tours.Slug %}">
                                                        مشاهده جزئیات
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-padding">
                                                <p class="pdf_download">
                                                    <a class="pdf_download_link"
                                                       href="{% url 'pdf-download' tours.id %}">
                                                        دریافت پکیج ها
                                                    </a>

                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include 'ui/base/footer.html' %}
    {% include 'ui/base/plugins.html' %}
    <script>
        $('.sub-menu ul').hide();
        $(".menu-toggle-box").click(function () {
            $(this).parent(".sub-menu").children("ul").slideToggle("100");
            $(this).find(".left").toggleClass("fa-caret-up fa-caret-down");
        });
    </script>
</div>
</body>
</html>
