<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    {% load static %}
    {% load humanize %}
    {% load jalali_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel=“canonical” href=“https://arezoosafar.com/memories{% url 'memory-detail' PMemories.id PMemories.slug %}”/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ PMemories.metaKeyword }}">
    <meta name="description" content="{{ PMemories.metaDescription }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-35DTMEQBTC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-35DTMEQBTC');
    </script>

    {% include 'ui/base/head.html' %}
    {% if PMemories.headline %}
        <title>{{ PMemories.headline }}</title>
    {% else %}
        <title>{{ PMemories.headline }} | آژانس مسافرتی و گردشگری آرزوی سفر پارسیان</title>
    {% endif %}
</head>
<body style="background: #efefef">
{% include 'ui/base/header.html' %}
{% include 'ui/base/preloader.html' %}
<section class="memory_detail">
    <div class="container">
        <div class="row">
            <div id="memo-body" class="col-lg-9">
                <div class="memo_page_image">
                    <img alt="{{ PMemories.headline }}" class="_memo_image" src="{{ PMemories.img1.url }}">
                    <div class="memo-header-blure">
                        <h1 class="_memo_page_title">{{ PMemories.headline }}</h1>
                    </div>
                </div>
                <div class="_memo_page_cat">
                    <span class="_memo_cat">
                        {% if PMemories.modified_date %}
                          {% if PMemories.modified_date|date:"Y-m-d" != PMemories.PubDate|date:"Y-m-d" %}
                            آخرین بروزرسانی:
                            {{ PMemories.modified_date|to_jalali:"%Y/%m/%d" }}
                          {% else %}
                            تاریخ انتشار:
                            {{ PMemories.PubDate|to_jalali:"%Y/%m/%d" }}
                          {% endif %}
                        {% elif PMemories.PubDate %}
                          تاریخ انتشار:
                          {{ PMemories.PubDate|to_jalali:"%Y/%m/%d" }}
                        {% else %}
                          -
                        {% endif %}
                    </span>           
                </div>
                <div class="memo_page_body">
                    <div class="_memo_page_title">

                    </div>
                    <div class="_memo_page_short_desc">
                        {{ PMemories.ShortDesc|safe }}
                    </div>
                    <div class="_memo_page_full_desc">
                        {{ PMemories.Description|safe }}
                    </div>
                </div>
                <div class="comment-form">
                    {% for message in messages %}
                        <p class="success">{{ message }}</p>
                    {% endfor %}
                    {% csrf_token %}
                    <div class="col-lg-12">
                        <div class="row">
                            <h2 class="comments_headline">ثبت دیدگاه برای این مطلب</h2>
                            <p id="success-cm" class="success-send"></p>
                            <p id="invalid-cm" class="invalid-data-cm"></p>
                            <div class="col-lg-6">
                                <input type="text" name="full_name" maxlength="300" class="form-control"
                                       placeholder=" نام و نام خانوادگی را وارد کنید" required="" id="id_full_name">
                            </div>
                            <div class="col-lg-6">
                                <input type="email" name="email" maxlength="254" placeholder="ایمیل را وارد کنید"
                                       class="form-control" required="" id="id_email">
                            </div>
                            <div class="col-lg-12">
                                <textarea name="desc" cols="40" rows="10" maxlength="5000"
                                          placeholder="توضیحات را وارد کنید" class="form-control" required=""
                                          id="id_desc"></textarea>
                            </div>
                            <div class="col-lg-12 m-t-10">
                                <button onclick="submitComment({{ PMemories.id }})" name="submit_comment"
                                        class="btn-primary-comment">ارسال نظر
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments" id="comments">
                    {% for i in all_comments %}
                        <div class="comments_body">
                            <div class="comments_info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p class="comment_athour"><i
                                                class="fa fa-user comment-user"></i> {{ i.full_name }}
                                            <span class="cooment_date">در تاریخ :
                                                {{ i.create_date|to_jalali:'%Y/%m/%d'}}</span></p>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="reply-box">
                                            <button onclick="sendReply({{ i.id }})" class="comments-replay">پاسخ به
                                                کامنت
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cooments_message">
                                {{ i.desc }}
                            </div>
                            {% for j in all_comments_reply %}
                                {% if j.comment == i %}
                                    <div class="cm-reply-box">
                                        <div class="comments_info">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <p class="comment_athour"><i
                                                            class="fa fa-user comment-user"></i> {{ j.full_name }}
                                                        <span class="cooment_date">در تاریخ :
                                                            {{ j.create_date|to_jalali:'%Y/%m/%d'}}</span></p>
                                                </div>
                                                <div class="col-lg-6">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cooments_message">
                                            {{ j.desc }}
                                        </div>
                                    </div>

                                {% endif %}
                            {% endfor %}
                            <div class="comment-reply cm-{{ i.id }}">
                                <div class="row">
                                    <p id="success-msg-{{ i.id }}" class="success-send"></p>
                                    <p id="invalid-cm-{{ i.id }}" class="invalid-data-cm"></p>
                                    <div class="col-lg-6">
                                        <input id="nameData-{{ i.id }}" type="text" class="form-control "
                                               placeholder="نام و نام خانوادگی">
                                    </div>
                                    <div class="col-lg-6">
                                        <input id="emailData-{{ i.id }}" type="email" class="form-control"
                                               placeholder="آدرس ایمیل">
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea id="desc-{{ i.id }}" class="form-control" rows="3"></textarea>
                                    </div>
                                    <div class="col-lg-12">
                                        <button class="reply-btn" onclick="sendReplyData({{ i.id }})">ارسال پاسخ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if all_comments.has_next %}
                        <div class="more-comments" style="text-align:center; margin:25px 0;">
                            <a class="social-head-memo"
                            href="?page={{ all_comments.next_page_number }}#comments"
                             style="position:static; display:inline-block;font-family:'IranSans';background:#ffffff;padding:10px 5px;border:1px solid #0000;border-radius:15px;">
                            نظرات قدیمی تر
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-3">
                {% if PMemories %}
                        <div id="fav-box" class="fav_box _memo_page">
                            <h5 class="_all_fav_list_header _memo_page">
                                <span><i class="fa fa-podcast"></i></span>
                                پربازدیدها
                            </h5>
                            {% for i in PMemories %}
                        
                            <a href="{% url 'memory-detail' i.related_memo.id i.related_memo.slug %}">
                                <div class="fav_body">
                                    <div class="row">
                                        <div class="col-lg-3 no-padding">
                                            <img alt="{{ i.related_memo.headlinePMemories.headline }}" class="fav_memo_image_"
                                                src="{{ i.related_memo.img1.url }}">
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="fav_memo_title_">
                                                <h6 class="fav_title_">{{ i.related_memo.headlinePMemories.headline }}</h6>
                                                <span class="categoryname"><i
                                                        class="fa fa-archive"></i>{{ i.related_memo.category }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                <div class='memo-sidebar'>
                    <div class="contact-banner">
                        <p class="reseve-title">
                            دریافت مشاوره و رزرو تور
                        </p>
                        <p class="reseve-phone">
                            021-45128
                        </p>
                        <p class="reseve-desc">
                            کارشناسان ما پاسخگوی شما خواهند بود
                        </p>
                    </div>
                    {% if PMemories.memo_links %}
                        <div class="anchor-links margin-top-25">
                            <p class="head-text">
                                فهرست مطالب
                            </p>
                            <div class="anchor-box-inner">
                                {{ PMemories.memo_links|safe }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="social-share">
                        <p class="social-head-memo">
                            لینک اشتراک گذاری
                        </p>
                        <div class="share-box">
                            <a id="memo-link" data-link="https://arezoosafar.com{% url 'memory-detail' PMemories.id PMemories.slug %}" onclick="CopMemoLink()">
                                <i class="fa-solid fa-link memo-social"></i>
                            </a>
                        </div>
                        <div class="share-box">
                            <a href="https://api.whatsapp.com/send?text={% url 'memory-detail' PMemories.id PMemories.slug %}">
                                <i class="fa-brands fa-whatsapp memo-social"></i>
                            </a>
                        </div>
                        <div class="share-box">
                            <a href="https://www.instagram.com/direct/new/?text={% url 'memory-detail' PMemories.id PMemories.slug %}">
                                <i class="fa-brands fa-instagram memo-social"></i>
                            </a>
                        </div>
                        <div class="share-box">
                            <a href="https://t.me/share/url?url={% url 'memory-detail' PMemories.id PMemories.slug %}&text={{ PMemories.headline }}">
                                <i class="fa-brands fa-telegram memo-social"></i>
                            </a>
                        </div>
                        <p id="success-link-copy" class="success-copy"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var country = '{{ contry.slug }}'
    var country_id = '{{ contry.id }}'
    var city = '{{ city.slug }}'
    var city_id = '{{ city.id }}'
    var tour_id = '{{ Tour.id }}'
    var tour_slug = '{{ Tour.Slug }}'
    var tour_menu = '{{ Menu.slug }}'
</script>
<script>
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        var tourBox = document.getElementById('memo-body')
        console.log()
        var bottomHeight = tourBox.offsetHeight
        var favBox = document.getElementById('fav-box')
        var fromTop = favBox.offsetHeight
        if (bottomHeight > 700) {
            if (scroll >= fromTop) {
                $(".memo-sidebar").addClass("fixed_pos");
            }
            if (scroll > bottomHeight - 960) {
                $(".memo-sidebar").addClass("new_pos_memo");
                $(".memo-sidebar").removeClass("fixed_pos");
            }
            if (scroll <= fromTop) {
                $(".memo-sidebar").removeClass("fixed_pos");
                $(".memo-sidebar").removeClass("new_pos_memo");
            }
        }
    })
    function CopMemoLink() {
        var copyText = document.getElementById("memo-link");
        copyTextData = copyText.getAttribute('data-link')
        navigator.clipboard.writeText(copyTextData);
        var message = document.getElementById('success-link-copy')
        message.innerText = 'لینک با موفقیت کپی شد.'
        message.style.display = 'block'

    }
</script>

{% include 'ui/base/footer.html' %}
{% include 'ui/base/plugins.html' %}
</body>
</html>