<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>{% load static %}{% load humanize %}{% load jalali_tags %}{% load webp_converter %}
    {% include 'ui/base/head.html' %}
    <meta name="description" content="">
    <title>نتایج جستجوی تور | آرزوی سفر پارسیان</title>
</head>
<body>
{% include 'ui/base/header.html' %}
<div class="warp">
    {% csrf_token %}
    <section class="col -lg-12 filter_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% comment %} <div class="header-banner">
                        <img loading="lazy" src="/static/homepage-banner.webp">
                    </div> {% endcomment %}
                    <div class="header-background"></div>
                    <div class="filter-box">
                        <form method="post" action="/search-result">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12 col-lg-3 margin-b-5">
                                    <select name="country_id" id="country-select" class="select-input"
                                            onchange="getCountryId()">
                                        <option value="">کشور مقصد...</option>
                                        {% for i in select_countries %}
                                            <option {% if country == i.id %} selected {% endif %}
                                                                             value="{{ i.id }}">{{ i.TitleC }}</option>
                                        {% endfor %}
                                    </select>
                                    <input id="country-id" type="text" hidden="">
                                </div>
                                <div id="city" class="col-sm-12 col-lg-3 margin-b-5">
                                    <select name="city_id" id="city-select" class="select-input">
                                        <option value="">شهر مقصد...</option>
                                        {% for i in cities %}
                                            <option {% if city == i.id %} selected {% endif %}
                                                                          value="{{ i.id }}">{{ i }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <div class="col-lg-3 stay margin-b-5">
                                    <input name="day_count" value="{{ day }}" type="number" min="0" max="10"
                                           class="form-control" placeholder="تعداد روز اقامت"/>
                                    <span class="plus">+</span>
                                    <span class="minus">-</span>
                                </div>
                                <div class="col-lg-3">
                                    <button type="submit" class="btn-primary-search">جستجو</button>
                                </div>
                            </div>
                        </form>
                        <script>
                            $(document).ready(function () {
                                {#$('#country-select').selectize();#}
                                {#$('#city-select').selectize();#}
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="tour_origins">

        </section>
    </div>
    <section class="tour_list">
        <div class="container">
            <h5 class="blog_sec_title">نتایج جستجو</h5>
            <p class="blog_subtitle_">لیست تورهایی که جستجو کردی رو اینجا ببین</p>
            <div id="tous-a" class="row">
                {% if pubTours %}
                {% for pubTours, packages in pubTours %}
                        <div class="col-lg-3 tour_grid">
                            <div class="row tour_data_box">
                                <div class="col-lg-12 tour image no-padding">
                                    {% if pubTours.Feature %}
                                        <div class="spacial_baget">
                                            <p>
                                                تور ویژه
                                            </p>
                                        </div>
                                    {% endif %}
                                    {% if pubTours.TourImage %}
                                        <img loading="lazy" class="tour-main-img" src="{{ pubTours.TourImage.url }}">
                                    {% else %}
                                        <img loading="lazy" class="tour-main-img"
                                             src="/static/asset/css/images/No_Image_Available.jpg">
                                    {% endif %}
                                    <span class="country_flag_list">
                                            <img loading="lazy" src="{{ pubTours.Tcountry.Flagimg.url }}" alt="پرچم {{ tours.Tcountry.TitleC }}" width="30" height="30" loading="lazy">
                                            {{ pubTours.Tcountry.TitleC }}
                                        </span>
                                    {% if pubTours.satrap_gte %}
                                        <span class="grte_">
                                        گارانتی هتل
                                    </span>
                                    {% endif %}
                                    {% if pubTours.Cash %}
                                        <span class="cashe_">
                                        نقدی
                                    </span>
                                    {% endif %}
                                    {% if pubTours.Installment %}
                                        <span class="installment_">
                                        اقساطی
                                    </span>
                                    {% endif %}
                                </div>
                                <div class="col-lg-12 no-padding">
                                    <div class="row">
                                        <div class="col-lg-12 no-padding">
                                            <p class="tour_title_">
                                                {{ pubTours.Title }}
                                            </p>
                                        </div>
                                        <div class="col-sm-6 col-lg-6 no-padding">
                                            <p class="duration_">
                                                <img loading="lazy" class="day_icon" alt="روز" src="/static/asset/css/images/icon/day.png">
                                                {{ pubTours.DayCount }}
                                                روز و
                                                {{ pubTours.NightCount }}
                                                شب
                                            </p>
                                        </div>
                                        <div class="col-sm-6 col-lg-6 no-padding">
                                            <p class="duration_">
                                                <img loading="lazy" class="day_icon" alt="تاریخ" src="/static/asset/css/images/icon/date.png">
                                                {{ pubTours.StartDate|to_jalali:'%Y/%m/%d' }}
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-lg-12 no-padding">
                                            <div class="row">
                                                {#                            <div class="col-sm-6 col-lg-6 no-padding">#}
                                                {#                                <p class="duration_">#}
                                                {#                                    {% if cities.0.QTransfer or cities.0.GTransfer  %}#}
                                                {#                                        ساعت حرکت: #}
                                                {#                                {{ cities.0.FlightTime }}#}
                                                {#                                        {% else %}#}
                                                {#                                ساعت پرواز: #}
                                                {#                                {{ cities.0.FlightTime }}#}
                                                {#                                        {% endif %}#}
                                                {#                                </p>#}
                                                {#                            </div>#}
                                            </div>

                                        </div>
                                        <div class="col-sm-12 col-lg-12 no-padding ir_price">
                                            <p class="irprice">
                                                {{ packages.0.DoubleBedPrice | floatformat:0 | intcomma }} {{ packages.0.Pcry }}
                                                    {% if packages.0.DollerPrice and not packages.0.DoubleBedPrice_doller %}
                                                        + {{ packages.0.DollerPrice | floatformat:0 | intcomma }}
                                                        {{ packages.0.fr_Pcry }}
                                                    {% endif %}
                                                {% if not packages.0.DollerPrice and packages.0.DoubleBedPrice_doller %}
                                                    + {{ packages.0.DoubleBedPrice_doller | floatformat:0 | intcomma }}
                                                    {{ packages.0.fr_Pcry }}
                                                {% endif %}
                                                {% if packages.0.DollerPrice and packages.0.DoubleBedPrice_doller %}
                                                    + {{ packages.0.DoubleBedPrice_doller | floatformat:0 | intcomma }}
                                                    {{ packages.0.fr_Pcry }}
                                                {% endif %}
                                                {% if not packages.0.DollerPrice and not packages.0.DoubleBedPrice_doller %}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col-sm-6 col-lg-6 no-padding">
                                            <p class="more_detail">
                                                <a class="more_detail_link"
                                                   href="{% url 'tour-detail' pubTours.id pubTours.Slug %}">
                                                    مشاهده جزئیات
                                                </a>
                                            </p>
                                        </div>
                                        <div class="col-sm-6 col-lg-6 no-padding">
                                            <p class="pdf_download">
                                                <a class="pdf_download_link" href="{% url 'pdf-download' pubTours.id %}">
                                                    دریافت پکیج ها
                                                </a>

                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                {% endfor %}
                <ul class="pagination">
                    {% for n in tours_list.paginator.page_range %}
                        {% if tours_list.number == n %}
                            <li data-page='{{ n }}' class="page-item {% if tours_list.number == n %}active{% endif %}">
                                <a class="page-link">{{ n }}</a></li>
                        {% elif n > tours_list.number|add:'-10' and n < tours_list.number|add:'10' %}
                            <li data-page='{{ n }}' class="page-item {% if tours_list.number == n %}active{% endif %}">
                                <a class="page-link">{{ n }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                <p class="no-search-result-txt">جستجوی شما دارای نتیجه نمیباشد.</p>
            {% endif %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="insta">
                <div class="row">
                    {% comment %} <div class="col-lg-2">
                        <div class="insta-box">
                            <div class="insta-motion">
                                <img loading="lazy" alt="گیف اینستا" src="/media/instaarezoosafar.gif">
                            </div>
                        </div>
                    </div> {% endcomment %}
                    <div class="col-lg-7">
                        <h4 class="about_title">
                            معرفی تورهای جذاب و شگفت انگیـــز
                        </h4>
                        <p>با ما در اینستاگرام همراه شو تا از پیشنهادات لحظه آخری و تورهای جذاب مطلع بشی!</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-section">
                            <div class="row">
                                <div class="col-lg-12 t-center">
                                    <a href="#" class="btn-insta-subscribe">
                                        <span class="logo-insta">
                                            <img loading="lazy" alt="اینستاگرام" src="/static/asset/css/images/insta-logo.webp">
                                        </span>
                                        ایــنستاگـــرام</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="blog_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h5 class="blog_sec_title">مجله گردشگری</h5>
                    <p class="blog_subtitle_">جدیدترین های مجله گردشگری را اینجا بخوانید.</p>
                </div>
                <div class="col-lg-4">
                    <a class="blog_post_list" href="{% url 'blog' %}">خواندنی های بیشتر در مجله گردشگری</a>
                </div>
            </div>
            <div id="posts-a" class="row">

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="about">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="about_title">
                            دوست داری از جدیدترین تورها با خبر بشی؟
                        </h4>
                        <p>با عضویت در خبرنامه پیامکی آرزوی سفر پارسیان از جدیدترین تورها با خبر شو!</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-section">
                            <div class="row">
                                <div class="col-lg-9">
                                    <input type="text" class="form-control index-input"
                                           placeholder="شماره موبایل خود را وارد کنید">
                                </div>
                                <div class="col-lg-3">
                                    <button type="submit" class="btn-primary-subscribe">عضویت</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="office-img">
                        <img loading="lazy" src="/static/asset/css/images/office-1.webp">
                        <div class="image-list">
                            <div class="row">
                                <div class="office-gallery">
                                    <img loading="lazy" class="mini-images" src="/static/asset/css/images/office-2.webp">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="contact-us-section">
                        <p class="headline">ارتباط با آرزوی سفر پارسیان</p>
                        <p class="sub-headline">کارشناسان ما در آرزوی سفر پارسیان آماده پاسخگویی به سوالات شما
                            هستند.</p>
                        <div class="row">
                            <div class="col-lg-8 no-padding">
                                <p class="phone-title">
                                    شماره تماس :
                                </p>
                                <p class="phone-number">
                                    45128 021
                                </p>
                                <p class="address-headline">تهران، بلوار مرزداران بین خیابان نارون و سپهر پلاک 143
                                    ساختمان دیپلمات طبقه چهارم</p>
                            </div>
                            <div class="col-lg-4 no-padding">
                                <div class="row social-container">
                                    <div class="col-sm-2 col-lg-2 mrg-l-5">
                                        <div class="social-box">
                                            <a href="https://www.instagram.com/arezooyesafarparsian/">
                                                <img loading="lazy" src="/media/social-icon/insta.png">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-lg-2 mrg-l-5">
                                        <div class="social-box">
                                            <a href="https://t.me/Arezouyesafar/">
                                                <img loading="lazy" src="/media/social-icon/telegram.png">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-lg-2 mrg-l-5">
                                        <div class="social-box">
                                            <a href="https://chat.whatsapp.com/GIskiohLjv63Zbqu3PM3vx/">
                                                <img loading="lazy" src="/media/social-icon/whatsapp.png">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <p class="phone-title">
                                    شبکه های اجتماعی
                                </p>
                                <p class="address-headline">ما در فضای مجازی همراهی کنید</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    {% include 'ui/base/footer.html' %}
    <script>
        var country = '{{ contry.slug }}'
        var country_id = '{{ contry.id }}'
        var city = '{{ city.slug }}'
        var city_id = '{{ city.id }}'
        var tour_id = '{{ Tour.id }}'
        var tour_slug = '{{ Tour.Slug }}'
        var tour_menu = '{{ Menu.slug }}'
        var category_slug = '{{ category.slug|default:"" }}'
    </script>
</div>
</body>
{% include 'ui/base/plugins.html' %}
</html>