{% load humanize %}
{% load static %}
{% load jalali_tags %}
{% load responsive_img %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    {% include 'ui/base/head.html' with skip_material_icons=1 delay_third_party=1 %}
    <link rel="canonical" href="https://arezoosafar.com/read-jounery/{{ Memo.id }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
          content="{% if Memo.metaDescription %}{{ Memo.metaDescription }}{% elif Memo.headline %}{{ Memo.headline }}{% else %}سفرنامه {{ Memo.Name }} {{ Memo.Family }} از سفر با آرزوی سفر پارسیان{% endif %}">
    <meta name="keywords"
          content="تورهای داخلی,تورهای خارجی,تورهای نمایشگاهی,تورهای ارزان قیمت,تور ترکیه,تور روسیه,تور قسطی,تور اقساطی,آرزوی سفر">
    <title> سفرنامه - {{ Memo.Name }} {{ Memo.Family }} | شرکت خدمات مسافرت هوایی و گردشگری آرزوی سفر پارسیان</title>
</head>
<body>
{% include 'ui/base/header.html' %}
<main>
<div class="warp">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <section class="memories">
                    <div class="memo-list-card">
                        <div class="memories-image view-page">
                            {% if Memo.img1 %}
                                <img src="{% img_url_at Memo.img1 768 %}"
                                     srcset="{% srcset_for Memo.img1 "480,768" %}"
                                     sizes="(max-width: 991px) calc(100vw - 40px), 700px"
                                     alt="سفرنامه {{ Memo.headline }}" {% img_dimensions Memo.img1 %}
                                     fetchpriority="high" decoding="async">
                            {% endif %}
                        <div class="data-box">
                            <div class="row">
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="memo-sender">
                                            <div class="row">
                                                <div class="col-sm-7 col-lg-4">
                                                    <div class="memo-sender-info">
                                                        {{ Memo.Name }} {{ Memo.Family }}
                                                    </div>
                                                </div>
                                                <div class="d-sm-none col-lg-4 d-lg-block">
                                                    <div class="view-counter">
                                                <span><i class="fa fa-eye memories-page"></i> </span>
                                                {{ Memo.viewCount }}
                                            </div>
                                                </div>
                                                <div class="col-sm-5 col-lg-4">
                                                    <div class="date-time-box">
                                                <span><i class="fa fa-pen memories-page"></i> </span>
                                                {{ Memo.created_date|to_jalali:'%Y/%m/%d'}}
                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                        <div class="memory-detail list">
                            <div class="memory-detail-info">
                                <h1 class="headline-memo">
                                    {{ Memo.headline }}
                                </h1>
                                <div class="memo-message">
                                    <p> {{ Memo.Message|responsive_html|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-lg-3">
                <div class="contact-banner" style="margin-top: 100px">
    {% include 'ui/base/contact-banner.html' %}
                </div>
                <div class="spacial-tours">
                    {% for tours, cities, packages in pubTours %}
                        {% if forloop.counter < 5 %}
                            <div class="col-lg-12 tour_grid">
                                <div class="row tour_data_box">
                                    <div class="col-lg-12 tour image no-padding">
                                        {% if tours.Feature %}
                                            <div class="spacial_baget">
                                                <p>
                                                    تور ویژه
                                                </p>
                                            </div>
                                        {% endif %}
                                        {% if tours.TourImage %}
                                            <img loading="lazy" decoding="async" class="tour-main-img" src="{% img_url_at tours.TourImage 480 %}" alt="{{ tours.Title }}" {% img_dimensions tours.TourImage %}>
                                        {% else %}
                                            <img loading="lazy" decoding="async" class="tour-main-img" alt="{{ tours.Title }}"
                                                 src="/static/asset/css/images/No_Image_Available.jpg">
                                        {% endif %}
                                        <span class="country_flag_list">
                                            <img loading="lazy" src="{{ tours.Tcountry.Flagimg.url }}" alt="پرچم {{ tours.Tcountry.TitleC }}" width="30" height="30" loading="lazy">
                                            {{ tours.Tcountry.TitleC }}
                                        </span>
                                        {% if tours.satrap_gte %}
                                            <span class="grte_">
                                        گارانتی هتل
                                    </span>
                                        {% endif %}
                                        {% if tours.Cash %}
                                            <span class="cashe_">
                                        نقدی
                                    </span>
                                        {% endif %}
                                        {% if tours.Installment %}
                                            <span class="installment_">
                                        اقساطی
                                    </span>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12 no-padding">
                                        <div class="row">
                                            <div class="col-lg-12 no-padding">
                                                <p class="tour_title_">
                                                    {{ tours.Title }}
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-padding">
                                                <p class="duration_">
                                                    <img loading="lazy" class="day_icon" alt="روز" src="/static/asset/css/images/icon/day.png">
                                                    {{ tours.DayCount }}
                                                    روز و
                                                    {{ tours.NightCount }}
                                                    شب
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-padding">
                                                <p class="duration_">
                                                    <img loading="lazy" class="day_icon" alt="تاریخ" src="/static/asset/css/images/icon/date.png">
                                                    {{ tours.StartDate|to_jalali:'%Y/%m/%d' }}
                                                </p>
                                            </div>
                                            <div class="col-sm-12 col-lg-12 no-padding">
                                                <div class="row">
                                                    {#                            <div class="col-sm-6 col-lg-6 no-padding">#}
                                                    {#                                <p class="duration_">#}
                                                    {#                                    {% if cities.0.QTransfer or cities.0.GTransfer  %}#}
                                                    {#                                        ساعت حرکت: #}
                                                    {#                                {{ cities.0.FlightTime }}#}
                                                    {#                                        {% else %}#}
                                                    {#                                ساعت پرواز: #}
                                                    {#                                {{ cities.0.FlightTime }}#}
                                                    {#                                        {% endif %}#}
                                                    {#                                </p>#}
                                                    {#                            </div>#}
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-lg-12 no-padding ir_price">
                                                <p class="irprice">
                                                    {{ packages.0.DoubleBedPrice | floatformat:0 | intcomma }}
                                                    {{ packages.0.Pcry }}
                                                    {% if packages.0.DollerPrice and not packages.0.DoubleBedPrice_doller %}
                                                        + {{ packages.0.DollerPrice | floatformat:0 | intcomma }}
                                                        {{ packages.0.fr_Pcry }}
                                                    {% endif %}
                                                    {% if not packages.0.DollerPrice and packages.0.DoubleBedPrice_doller %}
                                                        + {{ packages.0.DoubleBedPrice_doller | floatformat:0 | intcomma }}
                                                        {{ packages.0.fr_Pcry }}
                                                    {% endif %}
                                                    {% if packages.0.DollerPrice and packages.0.DoubleBedPrice_doller %}
                                                        + {{ packages.0.DoubleBedPrice_doller | floatformat:0 | intcomma }}
                                                        {{ packages.0.fr_Pcry }}
                                                    {% endif %}
                                                    {% if not packages.0.DollerPrice and not packages.0.DoubleBedPrice_doller %}
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-padding">
                                                <p class="more_detail">
                                                    <a class="more_detail_link"
                                                       href="{% url 'tour-detail' tours.id tours.Slug %}">
                                                        مشاهده جزئیات
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-padding">
                                                <p class="pdf_download">
                                                    <a class="pdf_download_link"
                                                       href="{% url 'pdf-download' tours.id %}">
                                                        دریافت پکیج ها
                                                    </a>

                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</main>
    {% include 'ui/base/footer.html' %}
    {% include 'ui/base/plugins.html' %}
    <script>
        $('.sub-menu ul').hide();
        $(".menu-toggle-box").click(function () {
            $(this).parent(".sub-menu").children("ul").slideToggle("100");
            $(this).find(".left").toggleClass("fa-caret-up fa-caret-down");
        });
    </script>
</div>
</body>
</html>
