{% load jalali_tags %}
<div class="col-xl-6 col-xxl-6">
    <div class="card card-bordered card-full">
        <div class="card-inner border-bottom">
            <div class="card-title-group">
                <div class="card-title">
                    <h6 class="title">
                        لیست آخرین
                        <span class="change down">برداشت های</span>
                        کیف پول
                    </h6>
                </div>
                <div class="card-tools">
                    <a href="#" class="link">مشاهده همه</a>
                </div>
            </div>
        </div>
        <div class="card card-preview">
            <div id="wallet_withdrawal" style="padding: 15px;">

            </div>
        </div>
    </div>
</div>