@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

:root {
  --primary: rgb(0, 15, 128);
}

@font-face {
  font-family: "yekan";
  src: url("../fonts/Yekan_Bakh_Regular.woff") format("woff");
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

p {
  line-height: 27px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  max-width: 100%;
  border-color: #c0c0c0;
  border-width: 1px;
  margin: 30px auto;
  display: block;
}

input,
select {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: "Mulish";
  font-weight: 700;
}

:focus {
  outline: 0;
}

a {
  transition: all 0.3s ease-in-out;
}

body {
  direction: ltr;
  font-family: "Mulish";
}

header nav .top-header {
  background-color: #1d1d4e;
  padding: 25px 0;
}
header nav .top-header img {
  width: 90px;
}
header nav .top-header ul {
  display: flex;
  justify-content: flex-end;
  gap: 0 16px;
  margin-top: 8px;
}
header nav .top-header ul a {
  color: #fff;
}
header nav .top-header ul a:hover {
  color: #f8f8f8;
}
header nav .bottom-header {
  background: #435eb6;
  padding: 15px 0;
}
header nav .bottom-header span {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

section .box-main {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0;
}
section .box-main p {
  font-family: "yekan";
  direction: rtl;
  font-size: 16px;
  margin-top: 4px;
  color: rgba(0, 15, 128, 0.965);
  text-align: right;
  font-weight: bold;
}
section .box-main h5 {
  color: rgb(0, 15, 128);
  font-size: 17px;
  margin-bottom: 10px;
}
section .box-main ul {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 992px) {
  .child {
    padding-right: 15px;
    width: 100% !important;
}
  section .box-main ul {
    gap: 10px 0;
  }
}
section .box-main ul li {
  grid-column: span 3/span 12;
  list-style: none;
}
@media screen and (max-width: 992px) {
  section .box-main ul li {
    grid-column: span 12/span 12;
  }
}
section .box-main ul li.grid-col-full {
  grid-column: span 12/span 12;
}
section .box-main b {
  display: block;
  padding: 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 19px;
  border-bottom: 1px solid #e4e4e4;
}
section .box-main .upload-holder {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 20px;
}
@media screen and (max-width: 992px) {
  section .box-main .upload-holder {
    gap: 20px 0;
  }
}
section .box-main .upload-holder img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
section .box-main .upload-holder span {
  position: relative;
  top: 2px;
  font-family: "yekan";
  font-size: 13px;
  margin-left: 4px;
  vertical-align: middle;
}
section .box-main .upload-holder .child-upload:nth-child(1) {
  grid-column: span 5/span 12;
}
@media screen and (max-width: 992px) {
  section .box-main .upload-holder .child-upload:nth-child(1) {
    grid-column: span 12/span 12;
  }
}
section .box-main .upload-holder .child-upload:nth-child(2) {
  grid-column: span 7/span 12;
}
@media screen and (max-width: 992px) {
  section .box-main .upload-holder .child-upload:nth-child(2) {
    grid-column: span 12/span 12;
  }
}
section .box-main .upload-holder label {
  position: relative;
  inset: 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 50px;
  min-height: 350px;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  section .box-main .upload-holder label {
    flex-flow: column;
    gap: 15px 0;
  }
}
section .box-main .upload-holder label svg {
  width: 30px;
  height: auto;
  margin-right: 8px;
}
section .box-main .upload-holder label p {
  direction: ltr;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: block;
  width: 300px !important;
  color: #fff !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0 auto !important;
}
section .box-main .btn-theme {
  width: 100%;
  background-color: var(--primary);
  color: #fff;
  padding: 10px;
  margin-top: 30px;
  transition: filter 0.2s ease-in-out;
}
section .box-main .btn-theme:hover {
  filter: brightness(140%);
  color: #fff;
}
section .box-main label {
  position: relative;
  top: 10px;
  left: 10px;
  display: inline-block;
  padding: 5px;
  background: #fff;
  font-size: 13px;
  color: #464646;
  z-index: 1;
}
section .box-main input {
  padding: 10px;
  box-shadow: none !important;
}
section .box-main input:disabled {
  background-color: #fff;
  font-weight: 700;
  color: var(--primary);
  cursor: not-allowed;
  opacity: 0.7;
}
section .box-main .form-check {
  display: inline-block;
  margin-top: 10px;
}
section .box-main .form-check label {
  position: relative;
  top: 3px;
  left: auto;
  font-size: 14px;
}
section .box-main .form-check input {
  cursor: pointer;
}
section .box-main > .child:first-child {
  width: 25%;
  padding: 0 15px;
}
@media screen and (max-width: 992px) {
  section .box-main > .child:first-child {
    width: 100%;
    padding: 10px 0;
  }
}
section .box-main > .child:last-child {
  width: 75%;
  padding: 0 15px;
  border-left: 3px dotted var(--primary);
}
@media screen and (max-width: 992px) {
  section .box-main > .child:last-child {
    width: 100%;
    padding: 10px 0;
    border-left: none;
  }
}
section .box-main > .child > div {
  border-bottom: 3px dotted var(--primary);
  padding: 15px 0 25px;
}
section .box-main > .child > div:last-child {
  border-bottom: none;
}
section .auth-section .box {
  width: 800px;
  max-width: 100%;
  margin: 20px auto;
}
section .auth-section span {
  font-family: "yekan";
  text-align: 14px;
  margin-left: 4px;
}
section .auth-section label {
  position: absolute;
  top: -10px;
  left: 10px;
  display: inline-block;
  padding: 5px;
  background: #fff;
  font-size: 13px;
  color: #464646;
  z-index: 1;
}
section .auth-section input {
  padding: 10px;
  box-shadow: none !important;
}
section .auth-section input:disabled {
  background-color: #fff;
  font-weight: 700;
  color: var(--primary);
  cursor: not-allowed;
  opacity: 0.7;
}
section .auth-section div {
  position: relative;
}
section .auth-section .btn-theme {
  background-color: var(--primary);
  color: #fff;
  padding: 8px 15px;
  transition: filter 0.2s ease-in-out;
}
section .auth-section .btn-theme:hover {
  filter: brightness(140%);
  color: #fff;
}
@media screen and (max-width: 992px) {
  section .auth-section .btn-theme {
    width: 100%;
  }
}
section .auth-section .flex > div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
section .auth-section .flex > div > div, section .auth-section .flex > div > p {
  width: 50%;
}
@media screen and (max-width: 992px) {
  section .auth-section .flex > div > div, section .auth-section .flex > div > p {
    width: 100%;
  }
}
section .auth-section .flex > div > div p, section .auth-section .flex > div > p p {
  font-family: "yekan";
  direction: rtl;
  font-size: 14px;
  margin-top: 4px;
  color: rgba(0, 15, 128, 0.965);
  text-align: right;
}
section .auth-section .flex > div > p {
  font-size: 14px;
  padding-left: 10px;
  opacity: 0.8;
}
section .profile-section .box {
  width: 800px;
  max-width: 100%;
  margin: 20px auto;
}
section .profile-section span {
  font-family: "yekan";
  text-align: 14px;
  margin-left: 4px;
}
section .profile-section label {
  position: absolute;
  top: -10px;
  left: 10px;
  display: inline-block;
  padding: 5px;
  background: #fff;
  font-size: 13px;
  color: #464646;
  z-index: 1;
}
section .profile-section input {
  padding: 10px;
  box-shadow: none !important;
}
section .profile-section input:disabled {
  background-color: #fff;
  font-weight: 700;
  color: var(--primary);
  cursor: not-allowed;
  opacity: 0.7;
}
section .profile-section div {
  position: relative;
}
section .profile-section .btn-theme {
  background-color: var(--primary);
  color: #fff;
  padding: 8px 15px;
  transition: filter 0.2s ease-in-out;
}
section .profile-section .btn-theme:hover {
  filter: brightness(140%);
  color: #fff;
}
@media screen and (max-width: 992px) {
  section .profile-section .btn-theme {
    width: 100%;
  }
}
section .profile-section .flex > div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
section .profile-section .flex > div > div, section .profile-section .flex > div > p {
  width: 50%;
}
@media screen and (max-width: 992px) {
  section .profile-section .flex > div > div, section .profile-section .flex > div > p {
    width: 100%;
  }
}
section .profile-section .flex > div > div p, section .profile-section .flex > div > p p {
  font-family: "yekan";
  direction: rtl;
  font-size: 14px;
  margin-top: 4px;
  color: rgba(0, 15, 128, 0.965);
  text-align: right;
}
section .profile-section .flex > div > p {
  font-size: 14px;
  padding-left: 10px;
  opacity: 0.8;
}
section .panel-section hr {
  width: 800px;
  max-width: 100%;
}
section .panel-section ul {
  width: 800px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
  gap: 15px 0;
  margin: 20px auto;
}
section .panel-section ul li a {
  display: block;
  background-color: var(--primary);
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  transition: filter 0.2s ease-in-out;
  text-align: center;
}
section .panel-section ul li a span {
  font-family: "yekan";
  font-size: 14px;
  margin-left: 4px;
}
section .panel-section ul li a:hover {
  filter: brightness(140%);
}
section .panel-details-section hr {
  width: 800px;
  max-width: 100%;
}
section .panel-details-section ul {
  width: 800px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
  gap: 15px 0;
  margin: 20px auto;
}
section .panel-details-section ul li {
  display: block;
  background-color: rgba(49, 81, 184, 0.8745098039);
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  transition: filter 0.2s ease-in-out;
  text-align: center;
}
section .panel-details-section ul li span {
  font-family: "yekan";
  font-size: 14px;
  margin-left: 4px;
}
section .panel-details-section ul li b {
  display: inline-block;
  margin-left: 5px;
}
section .your-applications-section {
  margin-top: 30px;
}
section .your-applications-section .pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}
section .your-applications-section .pagination li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  min-width: 30px;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
}
section .your-applications-section .pagination li a:hover {
  background-color: var(--primary);
  color: #fff;
}
section .your-applications-section .pagination li.active a {
  background-color: var(--primary);
  color: #fff;
}
section .your-applications-section .table-responsive {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
@media screen and (max-width: 992px) {
  section .your-applications-section .table-responsive table {
    width: 950px;
  }
}
section .your-applications-section .table-responsive thead {
  background-color: var(--primary);
  color: #fff;
  text-align: center;
}
section .your-applications-section .table-responsive thead th {
  padding: 15px 0;
}
section .your-applications-section .table-responsive thead span {
  display: block;
  font-family: "yekan";
  margin-top: 10px;
  font-size: 13px;
  opacity: 0.8;
}
section .your-applications-section .table-responsive .btn-theme {
  background-color: var(--primary);
  color: #fff;
  padding: 8px 15px;
  height: 42px;
  transition: filter 0.2s ease-in-out;
}
section .your-applications-section .table-responsive .btn-theme span {
  position: relative;
  top: -1px;
  font-family: "yekan";
  font-size: 14px;
  margin-left: 4px;
}
section .your-applications-section .table-responsive .btn-theme:hover {
  filter: brightness(140%);
  color: #fff;
}
section .your-applications-section .table-responsive tr {
  border: 1px solid #d9d9d9;
}
section .your-applications-section .table-responsive tr td > span {
  display: inline-flex;
  min-height: 42px !important;
  align-items: center;
}
section .your-applications-section .table-responsive tr td > span span {
  position: relative;
  top: 3px;
  font-family: "yekan";
  font-size: 14px;
  margin-left: 4px;
}
section .your-applications-section .table-responsive tr:last-child {
  border: none;
}
.child {
    padding-right: 15px;
    width: 25%;
}
.hide {
    display: none;
}
td {
    text-align: center;
}
p.error-body.ap {
    text-align: center;
    font-family: 'yekan';
    line-height: 50px;
    background: #ffc107;
    margin-bottom: 30px;
    border-radius: 10px;
}
input#id_address {
    font-family: 'yekan';
}
input {
    font-family: 'yekan';
}
.approve_tome {
  color: #35c635;
}
.developer {
  text-align: center;
}
.developer a {
  line-height: 15px;
  position: relative;
  top: 12px;
  font-size: 11px;
  color: #efefef !important;
}
/*# sourceMappingURL=style.css.map */