{% extends 'admin-dashboard/base/base.html' %}
{% block Main %}
    <div class="row m-t-40">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-inner border-bottom">
                    <div class="card-title-group">
                        <div class="card-title">
                            <h6 class="title">
                                لیست مطالب مجله گردشگری
                            </h6>
                        </div>
                        <div class="card-tools">
                            <a href="{% url 'create-post' %}" class="link">ایجاد مطلب جدید </a>
                        </div>
                    </div>
                </div>
                    <div class="row m-20">
                        <div class="col-lg-4">
                            <input id="post_title" type="text" name="post_title" class="text-input search-input" placeholder="عنوان پست را وارد کنید">
                        </div>
                        <div class="col-lg-3">
                            <select id="post_cat" name="post_category" class="text-input search-input">
                            <option value="">دسته بندی مطلب را انتخاب کنید</option>
                            {% for i in cats %}
                            <option value="{{i.id}}">{{i.CatName}}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <div class="col-lg-3">
                            <select id="post_stat" class="text-input search-input" name="active">
                                   <option value="">انتخاب وضعیت مطلب</option>
                                   <option value="1">منتشر شده</option>
                                   <option value="0">منتشر نشده</option>
                               </select>
                        </div>
                        <div class="col-lg-2">
                            <button id="searchBtn" type="submit"
                                        class="btn btn-lg btn-info btn-block">
                                    <i class="fa fa-check btn-icon font-20 edit-btn"></i><span
                                        id="save-button-title">جستجو مطلب </span>
                                </button>
                            {{ forms.media }}
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="row m-t-40">
        <div class="col-sm-12 col-lg-12">
            <div class="">
                <div id="post_list">

                </div>
            </div>
        </div>
    </div>
{% endblock %}