{% load humanize %}
{% load static %}
{% load jalali_tags %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    {% include 'ui/base/head.html' %}
    <link rel=“canonical” href="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ category.meta_desc }}">
    <meta name="keywords" content="{{ category.meta_keyword }}">
    <meta name="robots" content="{{ meta_robots|default:'INDEX,FOLLOW' }}">
    {% if category.page_title %}
        <title>{{ category.page_title }}</title>
    {% else %}
        <title>سفرنامه | {{ category }} |شرکت خدمات مسافرت هوایی و گردشگری آرزوی سفر پارسیان</title>
    {% endif %}
</head>
<body>
{% include 'ui/base/header.html' %}
{% include 'ui/base/preloader.html' %}
<div class="warp">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                {% if data %}
                    <section class="memories">
                        {% for memo in data %}
                            <div class="memo-list-card">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="memories-image">
                                            {% if memo.img1 %}
                                                <img loding="lazy" alt="{{ memo.headline }}" src="{{ memo.img1.url }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="memory-detail list"> 
                                            <div class="memory-detail-info">
                                                {% if memo.headline %}
                                                    <h2 class="memories-headline">{{ memo.headline }}</h2>
                                                {% endif %}
                                                <div class="memo-message">
                                                    {{memo.Message|safe|truncatechars:200}}
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="view-detail">
                                                            <div class="d-flex align-items-center justify-content-between flex-wrap" style="padding-right: 11px;">
                                                                <div class="sender-name">
                                                                    <i class="fa fa-user memories-page"></i>
                                                                    {{ memo.Name }} {{ memo.Family }}
                                                                </div>
                                                            
                                                                <div class="sender-name mx-auto text-center">
                                                                    <i class="fa fa-eye memories-page"></i>
                                                                    {{ memo.viewCount }}
                                                                </div>
                                                                <div class="sender-name ms-auto text-end">
                                                                    <i class="fa fa-pen memories-page"></i>
                                                                    {{ memo.created_date|to_jalali:'%Y/%m/%d' }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="read-more-memo">
                                                            <a class="read-more-m"
                                                            href="{% url 'read-jounery' memo.id %}">مطالعه کامل
                                                            سفرنامه</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                    <div class="pagination">
                        <ul class="pagination">
                            {% if data.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">begin</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for n in data.paginator.page_range %}
                                {% if data.number == n %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                    </li>
                                {% elif n > data.number|add:'-10' and n < data.number|add:'10' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if data.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ data.paginator.num_pages }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">end</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% else %}
                    <div class="container mt-5 pt-5">
                        <div class="col-md-9 mx-auto mt-5 pt-5">
                            <div class="alert alert-warning text-center p-5" role="alert">
                                <i class="fa fa-sad-tear fa-3x mb-3"></i>
                                <h4>متاسفانه سفرنامه‌ای یافت نشد!</h4>
                                <p>هیچ سفرنامه‌ای در این دسته‌بندی وجود ندارد.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-3 memo_category_list" style="padding-top: 90px">
                <div class="container">
                    <div class="fav_box">
                        <h5 class="_all_fav_list_header">
                            <span><i class="fa fa-podcast"></i></span>
                            دسته بندی ها
                        </h5>
                        <nav class='animated bounceInDown bg-white'>
                            <ul style="padding-right: 0rem !important;">
                                {% for i , k in categories %}
                                    {% if not i.parentCat %}
                                        <li class="main-category sub-menu">
                                            <a href='{% url 'memory-category' i.slug %}'>{{ i.CatName }}
                                            </a>
                                            {% if k != 0 %}
                                                <div class='menu-toggle-box left'>
                                                    <img src="/media/down-arrow.png">
                                                </div>
                                            {% endif %}
                                            <ul style="padding-right: 0rem !important;">
                                                {% for j in ch_categories %}
                                                    {% if j.parentCat == i %}
                                                        <li>
                                                            <a href='{% url 'memory-category' j.slug %}'>{{ j.CatName }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="contact-banner">
                    <p class="reseve-title">
                        دریافت مشاوره و رزرو تور
                    </p>
                    <p class="reseve-phone">
                        021-45128
                    </p>
                    <p class="reseve-desc">
                        کارشناسان ما پاسخگوی شما خواهند بود
                    </p>
                </div>
                <div class="spacial-tours">
                    {% for tours, cities, packages in pubTours %}
                        {% if forloop.counter < 5 %}
                            <div class="col-lg-12 tour_grid">
                                <div class="row tour_data_box">
                                    <div class="col-lg-12 tour image no-padding">
                                        {% if tours.Feature %}
                                            <div class="spacial_baget">
                                                <p>
                                                    تور ویژه
                                                </p>
                                            </div>
                                        {% endif %}
                                        {% if tours.TourImage %}
                                            <img loading="lazy" class="tour-main-img" src="{{ tours.TourImage.url }}">
                                        {% else %}
                                            <img loading="lazy" class="tour-main-img"
                                                 src="/static/asset/css/images/No_Image_Available.jpg">
                                        {% endif %}
                                        <span class="country_flag_list">
                                            <img loading="lazy" src="{{ tours.Tcountry.Flagimg.url }}" alt="پرچم {{ tours.Tcountry.TitleC }}" width="30" height="30" loading="lazy">
                                            {{ tours.Tcountry.TitleC }}
                                        </span>
                                        {% if tours.satrap_gte %}
                                            <span class="grte_">
                                        گارانتی هتل
                                    </span>
                                        {% endif %}
                                        {% if tours.Cash %}
                                            <span class="cashe_">
                                        نقدی
                                    </span>
                                        {% endif %}
                                        {% if tours.Installment %}
                                            <span class="installment_">
                                        اقساطی
                                    </span>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12 no-padding">
                                        <div class="row">
                                            <div class="col-lg-12 no-padding">
                                                <p class="tour_title_">
                                                    {{ tours.Title }}
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-padding">
                                                <p class="duration_">
                                                    <img loading="lazy" class="day_icon" alt="روز" src="/static/asset/css/images/icon/day.png">
                                                    {{ tours.DayCount }}
                                                    روز و
                                                    {{ tours.NightCount }}
                                                    شب
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-padding">
                                                <p class="duration_">
                                                    <img loading="lazy" class="day_icon" alt="تاریخ" src="/static/asset/css/images/icon/date.png">
                                                    {{ tours.StartDate|to_jalali:'%Y/%m/%d' }}
                                                </p>
                                            </div>
                                            <div class="col-sm-12 col-lg-12 no-padding">
                                                <div class="row">
                                                    {#                            <div class="col-sm-6 col-lg-6 no-padding">#}
                                                    {#                                <p class="duration_">#}
                                                    {#                                    {% if cities.0.QTransfer or cities.0.GTransfer  %}#}
                                                    {#                                        ساعت حرکت: #}
                                                    {#                                {{ cities.0.FlightTime }}#}
                                                    {#                                        {% else %}#}
                                                    {#                                ساعت پرواز: #}
                                                    {#                                {{ cities.0.FlightTime }}#}
                                                    {#                                        {% endif %}#}
                                                    {#                                </p>#}
                                                    {#                            </div>#}
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-lg-12 no-padding ir_price">
                                                <p class="irprice">
                                                    {{ packages.0.DoubleBedPrice | intcomma:False }}
                                                    {{ packages.0.Pcry }}
                                                            {% if packages.0.DollerPrice and not packages.0.DoubleBedPrice_doller %}
                                                                + {{ packages.0.DollerPrice | intcomma:False }}
                                                                {{ packages.0.fr_Pcry }}
                                                            {% endif %}
                                                    {% if not packages.0.DollerPrice and packages.0.DoubleBedPrice_doller %}
                                                        + {{ packages.0.DoubleBedPrice_doller | intcomma:False }}
                                                        {{ packages.0.fr_Pcry }}
                                                    {% endif %}
                                                    {% if packages.0.DollerPrice and packages.0.DoubleBedPrice_doller %}
                                                        + {{ packages.0.DoubleBedPrice_doller | intcomma:False }}
                                                        {{ packages.0.fr_Pcry }}
                                                    {% endif %}
                                                    {% if not packages.0.DollerPrice and not packages.0.DoubleBedPrice_doller %}
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-padding">
                                                <p class="more_detail">
                                                    <a class="more_detail_link"
                                                       href="{% url 'tour-detail' tours.id tours.Slug %}">
                                                        مشاهده جزئیات
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-padding">
                                                <p class="pdf_download">
                                                    <a class="pdf_download_link"
                                                       href="{% url 'pdf-download' tours.id %}">
                                                        دریافت پکیج ها
                                                    </a>

                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'ui/base/footer.html' %}
    {% include 'ui/base/plugins.html' %}
    <script>
        $('.sub-menu ul').hide();
        $(".menu-toggle-box").click(function () {
            $(this).parent(".sub-menu").children("ul").slideToggle("100");
            $(this).find(".left").toggleClass("fa-caret-up fa-caret-down");
        });
    </script>
</div>
</body>
</html>
