{% extends 'admin-dashboard/base/base.html' %}
{% block Main %}
    <form class="input-forms" method="POST" novalidate="novalidate" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row m-t-40">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-inner border-bottom">
                        <div class="card-title-group">
                            <div class="card-title">
                                {% if item %}
                                    <h6 class="title">
                                        {% if country %}
                                            <img class="country_flag_update" src="{{ country.Flagimg.url }}">
                                        {% endif %}
                                        بروزرسانی
                                        {% if item.country %}
                                            شهر
                                            <span class="change up"> {{ item.country }}</span>
                                        {% else %}
                                            کشور
                                            <span class="change up"> {{ item.country }}</span>
                                        {% endif %}
                                        در لیست ویژه

                                    </h6>
                                {% else %}
                                    <h6 class="title">
                                        {% if country %}
                                            <img class="country_flag_update" src="{{ Country.Flagimg.url }}">
                                        {% endif %}
                                        افزودن رسانه به کشور
                                        <span class="change up"> {{ country.TitleC }}</span>
                                    </h6>
                                {% endif %}
                            </div>
                            <div class="card-tools">
                                <a href="{% url 'country_list' %}" class="link">مشاهده لیست کشور ها</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-40">

            <div class="alert-light">
                {% for message in messages %}
                    <p class="error-body ap" 
                       style="background-color: {% if message.tags == 'success' %}#d4edda{% else %}#f8d7da{% endif %}; 
                              color: {% if message.tags == 'success' %}#155724{% else %}#721c24{% endif %};
                              padding: 10px;
                              margin-bottom: 20px;
                              border-radius: 5px;">
                        {{ message }}
                    </p>
                {% endfor %}
            </div>
            <div class="col-lg-12">
                <div class="inner_section">
                    <p class="label-text tour_create">رسانه تـــور</p>
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="label-text tour_create">عنوان رسانه<span class="required">*</span></p>
                            {{ FormSet.title }}
                        </div>
                        <div class="col-lg-4">
                            <p class="label-text tour_create">نوع رسانه<span class="required">*</span></p>
                            {{ FormSet.media_type }}
                        </div>
                        <div class="col-lg-4">
                            <p class="label-text tour_create">فایل رسانه<span class="required">*</span></p>
                            <label for="id_file" class="custom-file-upload text-input">
                                <i class="fa fa-cloud-upload-alt"></i><span id="media_file"> بارگذاری فایل</span>
                            </label>
                            {{ FormSet.file }}
                            <script>
                                $(document).ready(function () {
                                    $('input[type="file"]').change(function (e) {
                                        var media_fileName = e.target.files[0].name;
                                        document.getElementById('media_file').innerHTML = '  فایل انتخابی: ' + media_fileName
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="label-text tour_create">عکس کوچک</p>
                            <label for="id_thumbnail" class="custom-file-upload text-input">
                                <i class="fa fa-cloud-upload-alt"></i><span id="thumbnail"> بارگذاری فایل</span>
                            </label>
                            {{ FormSet.thumbnail }}
                            <script>
                                $(document).ready(function () {
                                    $('input[type="file"]').change(function (e) {
                                        var thumbnail_fileName = e.target.files[0].name;
                                        document.getElementById('thumbnail').innerHTML = '  فایل انتخابی: ' + thumbnail_fileName
                                    });
                                });
                            </script>
                        </div>
                        <div class="col-lg-4">
                            <p class="label-text tour_create">ترتیب</p>
                            {{ FormSet.sort_order }}
                        </div>
                        <div class="col-lg-4">
                            <p class="spacial_feat bg-gray-dim">فعال</p>
                            {{ FormSet.is_active }}
                        </div>
                    </div>
                </div>
            </div>
            {% if item %}
                <div class="col-lg-12" style="margin-top: 20px">
                    <div class="inner_section">

                    </div>
                </div>
            {% endif %}
            <div class="hd-basic-info " style="display: block;">
                <button type="submit" class="btn btn-lg btn-info btn-block">
                    <i class="fa fa-check btn-icon font-20 edit-btn"></i><span
                        id="save-button-title">ذخیره </span>
                </button>
            </div>
            {{ Form.media }}
        </div>

        <div id="media_list">
        </div>
        <script>
            $(document).ready(function () {
                function updatemedia(url, target, page) {
                    $.ajax({
                        url: url,
                        data: {
                            'page': page,
                        },
                        success: function (data) {
                            $(target).html(data);
                        }
                    });
                }

                updatemedia('/dashboard/ajax_country_media_list/?country_id=' + {{ country.id }}, '#media_list');
                // PAGINATION WITHOUT SEARCH TERM
                $(document).on('click', '.page-item', function () {
                    const elem = $(this);
                    const page = elem.data('page');
                    updatemedia('/dashboard/ajax_country_media_list/?country_id=' + {{ country.id }}, '#media_list', page);
                });
            })
        </script>
    </form>
{% endblock %}