{% extends 'base/base.html' %}
{% block Data %}
<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-body hs">
                <h4 class="card-title hs"><i class="fa fa-pencil-alt font-20 edit-btn"></i>
                   تنظیمات فوتر
                </h4>
            </div>
            <div class="form-body">
                <div class="alert-light">
                    {% for message in messages %}
                        <p class="error-body ap">{{ message }}</p>
                    {% endfor %}
                </div>
                <form  method="POST" novalidate="novalidate" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="hd-basic-info personal">
                        <p class="label-text">آدرس<span class="required">*</span></p>
                        {{ Form.Address }}
                    </div>
                    <div class="hd-basic-info personal" style="display: block;">
                        <p class="label-text">شماره تلفن <span class="required">*</span></p>
                        {{ Form.Phone }}
                    </div>
                    <div class="hd-basic-info personal" style="display: block;">
                        <p class="label-text">ایمیل <span class="required">*</span></p>
                        {{ Form.Email }}
                    </div>
                    <div class="hd-basic-info personal" style="display: block;">
                        <p class="label-text">لینک اینستاگرام <span class="required">*</span></p>
                        {{ Form.instagram }}
                    </div>
                    <div class="hd-basic-info personal" style="display: block;">
                        <p class="label-text">لینک لینکداین <span class="required">*</span></p>
                        {{ Form.Linkedin }}
                    </div>
                    <div class="hd-basic-info personal" style="display: block;">
                        <p class="label-text">لینک تلگرام<span class="required">*</span></p>
                        {{ Form.Telegram }}
                    </div>
                    <div class="hd-basic-info personal" style="display: block;">
                        <p class="label-text">لینک ساماندهی <span class="required">*</span></p>
                        {{ Form.Samandehi }}
                    </div>
                    <div class="hd-basic-info personal" style="display: block;">
                        <p class="label-text">لینک اتحادیه <span class="required">*</span></p>
                        {{ Form.Etehadieh }}
                    </div>
                    <div class="hd-basic-info personal" style="display: block;">
                        <p class="label-text"> لینک حقوق مسافر<span class="required">*</span></p>
                        {{ Form.PsLaw }}
                    </div>
                    <div class="hd-basic-info personal" style="display: block;">
                        <p class="label-text">متن درباره ما <span class="required">*</span></p>
                        {{ Form.About }}
                    </div>
                    <div class="hd-basic-info personal">
                        <button type="submit" class="btn btn-lg btn-info btn-block">
                            <i class="fa fa-check btn-icon font-20 edit-btn"></i><span
                                id="save-button-title">ذخیره منو</span>
                        </button>
                    </div>
                    {{ form.media }}
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}