{% extends 'admin-dashboard/base/base.html' %}
{% block Main %}
    <div class="row m-t-40">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-inner border-bottom">
                    <div class="card-title-group">
                        <div class="card-title">
                            <h6 class="title">
                                بروزرسانی سفرنامه
                            </h6>
                        </div>
                        <div class="card-tools">
                            <a href="{% url 'memo-list' %}" class="link">لیست سفرنامه ها </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-20">
        <form method="POST" novalidate="novalidate" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="inner_section">
                        <div class="col-lg-12">
                            <p class="label-text">نام<span class="required">*</span></p>
                            {{ Form.Name }}
                        </div>
                        <div class="col-lg-12">
                            <p class="label-text">نام خانوادگی<span class="required">*</span></p>
                            {{ Form.Family }}
                        </div>
                        <div class="col-lg-12">
                            <p class="label-text">موبایل<span class="required">*</span></p>
                            {{ Form.Mobile }}
                        </div>
                        <div class="col-lg-12">
                            <p class="label-text">ایمیل<span class="required">*</span></p>
                            {{ Form.Email }}
                        </div>
                        <div class="col-lg-12">
                            <p class="label-text">عنوان<span class="required">*</span></p>
                            {{ Form.headline }}
                        </div>
                        <div class="col-lg-12">
                            <p class="label-text">دسته بندی مطلب <span class="required">*</span></p>
                            {{ Form.category }}
                        </div>
                        <div class="col-lg-12">
                            <p class="label-text">فعال سازی نمایش<span class="required">*</span></p>
                            {{ Form.publish }}
                        </div>
                        <div class="col-lg-12">
                            <p class="label-text">ایندکس صفحه</p>
                            {{ Form.meta_robots }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-info btn-block">
                        <i class="fa fa-check btn-icon font-20 edit-btn"></i><span
                            id="save-button-title">بروزرسانی سفرنامه </span>
                    </button>
                </div>
                <div class="col-lg-8">
                    <div class="inner_section">
                        <div class="col-lg-12">
                            <p class="label-text">متن سفرنامه<span class="required">*</span></p>
                            {{ Form.Message }}
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <p class="">تصویر<span class="required">*</span></p>
                                {{ Form.img1 }}
                            </div>
                            <div class="col-lg-4">
                                {% if data.img1 %}
                                    <img src="{{ data.img1.url }}">
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {{ Form.media }}
        </form>
    </div>
{% endblock %}