{% load jalali_tags %}{% load humanize %}{% load responsive_img %}
{% for tours,packages, cities in pubTours %}
    {% if forloop.counter < 9 %}
    <div class="col-lg-3 tour_grid">
        <div class="row tour_data_box grid-view-list">
            <div class="col-lg-12 tour image no-padding">
                {% if tours.Feature %}
                    {% if not tours.spacial_lable %}
                        <div class="spacial_baget">
                            <p>
                                تور ویژه
                            </p>
                        </div>
                    {% else %}
                        <div class="spacial_baget">
                            <p>
                                {{ tours.spacial_lable }}
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
                {% if tours.TourImage %}
                    <img loading="lazy" class="tour-main-img" src="{{ tours.TourImage.url }}"
                         srcset="{% srcset_for tours.TourImage "320,480,768" %}"
                         sizes="(max-width: 991px) 100vw, 25vw"
                         alt="{{ tours.Title }}" width="400" height="180">
                {% else %}
                    <img loading="lazy" class="tour-main-img" src="/static/asset/css/images/No_Image_Available.jpg"
                         alt="{{ tours.Title }}" width="400" height="180">
                {% endif %}
                <span class="country_flag_list">
                                            <img src="{{ tours.Tcountry.Flagimg.url }}" alt="پرچم {{ tours.Tcountry.TitleC }}" width="30" height="30" loading="lazy">
                                            {{ tours.Tcountry.TitleC }}
                                        </span>
                {% if tours.satrap_gte %}
                    <span class="grte_">
                                        گارانتی هتل
                                    </span>
                {% endif %}
                {% if tours.Cash %}
                    <span class="cashe_">
                                        نقدی
                                    </span>
                {% endif %}
                {% if tours.Installment %}
                    <span class="installment_">
                                        اقساطی
                                    </span>
                {% endif %}
            </div>
            <div class="col-lg-12 no-padding">
                <div class="row">
                    <div class="col-lg-12 no-padding">
                        <p class="tour_title_">
                            {{ tours.Title }}
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-6 no-padding">
                        <p class="duration_">
                            <img loading="lazy" class="day_icon" alt="روز" src="/static/asset/css/images/icon/day.png">
                            {{ tours.NightCount }}
                            شب و
                            {{ tours.DayCount }}
                            روز
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-6 no-padding">
                        <p class="duration_">
                            <img loading="lazy" class="day_icon" alt="تاریخ" src="/static/asset/css/images/icon/date.png">
                            {{ tours.StartDate|to_jalali:'%Y/%m/%d' }}
                        </p>
                    </div>
                    <div class="col-sm-12 col-lg-12 no-padding">
                        <div class="row">
                            {#                            <div class="col-sm-6 col-lg-6 no-padding">#}
                            {#                                <p class="duration_">#}
                            {#                                    {% if cities.0.QTransfer or cities.0.GTransfer  %}#}
                            {#                                        ساعت حرکت: #}
                            {#                                {{ cities.0.FlightTime }}#}
                            {#                                        {% else %}#}
                            {#                                ساعت پرواز: #}
                            {#                                {{ cities.0.FlightTime }}#}
                            {#                                        {% endif %}#}
                            {#                                </p>#}
                            {#                            </div>#}
                        </div>

                    </div>
                    <div class="col-sm-12 col-lg-12 no-padding ir_price">
                        <p class="irprice">
                            {{ packages.0.DoubleBedPrice | floatformat:0 | intcomma }} {{ packages.0.Pcry }}
                            {% if packages.0.DollerPrice and not packages.0.DoubleBedPrice_doller %}
                                + {{ packages.0.DollerPrice | floatformat:0 | intcomma }}
                                {% if packages.0.fr_Pcry %}
                                    {{ packages.0.fr_Pcry }}
                                {% else %}
                                    دلار
                                {% endif %}
                            {% endif %}
                            {% if not packages.0.DollerPrice and packages.0.DoubleBedPrice_doller %}
                                + {{ packages.0.DoubleBedPrice_doller | floatformat:0 | intcomma }}
                                {% if packages.0.fr_Pcry %}
                                    {{ packages.0.fr_Pcry }}
                                {% else %}
                                    دلار
                                {% endif %}
                            {% endif %}
                            {% if packages.0.DollerPrice and packages.0.DoubleBedPrice_doller %}
                                + {{ packages.0.DoubleBedPrice_doller | floatformat:0 | intcomma }}
                                {% if packages.0.fr_Pcry %}
                                    {{ packages.0.fr_Pcry }}
                                {% else %}
                                    دلار
                                {% endif %}
                            {% endif %}
                            {% if not packages.0.DollerPrice and not packages.0.DoubleBedPrice_doller %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-6 no-padding">
                        <p class="more_detail">
                            <a class="more_detail_link"
                               href="{% url 'tour-detail' tours.id tours.Slug %}">
                                مشاهده جزئیات
                            </a>
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-6 no-padding">
                        <p class="pdf_download">
                            {% if tours.pdfAvb and tours.TourPdf %}
                                <a class="pdf_download_link" href="{{ tours.TourPdf.url }}">
                                    دریافت پکیج ها
                                </a>
                            {% else %}
                                <a class="pdf_download_link" href="{% url 'pdf-download' tours.id %}">
                                    دریافت پکیج ها
                                </a>
                            {% endif %}
                                </p>
                                </div>
                                </div>

                                </div>
                                </div>
                                </div>
                            {% endif %}
{% endfor %}
<ul class="pagination">
    {% for n in tours_list.paginator.page_range %}
        {% if tours_list.number == n %}
            <li data-page='{{ n }}' class="page-item {% if tours_list.number == n %}active{% endif %}"><a
                    class="page-link">{{ n }}</a></li>
        {% elif n > tours_list.number|add:'-10' and n < tours_list.number|add:'10' %}
            <li data-page='{{ n }}' class="page-item {% if tours_list.number == n %}active{% endif %}"><a
                    class="page-link">{{ n }}</a></li>
        {% endif %}
    {% endfor %}
</ul>