<div class="col-md-6 col-xxl-6">
        <div class="card card-bordered card-full">
            <div class="card-inner">
                <div class="card-title-group mb-1">
                    <div class="card-title">
                        <h6 class="title">جدیدترین های مجله گردشگری</h6>
                        <p>نمای کلی از مجله گردشگری پلتفرم شما. <a href="#">همه مطالب مجله گردشگری</a></p>
                    </div>
                </div>
                <ul class="nav nav-tabs nav-tabs-card nav-tabs-xs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#overview" aria-selected="true"
                           role="tab">پربازدیدترین مطالب</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#thisyear" aria-selected="false" tabindex="-1"
                           role="tab">جدیدترین مطالب</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#alltime" aria-selected="false" tabindex="-1"
                           role="tab">کم بازدیدترین مطالب</a>
                    </li>
                </ul>
                <div class="tab-content mt-15">
                    <div class="tab-pane active" id="overview" role="tabpanel">
                        {% include 'admin-dashboard/dashboard/top_posts.html' %}
                    </div>
                    <div class="tab-pane" id="thisyear" role="tabpanel">
                        {% include 'admin-dashboard/dashboard/new_posts.html' %}
                    </div>
                    <div class="tab-pane" id="alltime" role="tabpanel">
                        {% include 'admin-dashboard/dashboard/low_posts.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>