<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/static/assets/css/dashlite.rtl.css">
<link rel="stylesheet" href="/static/assets/css/sweetalert2.min.css">
<link id="skin-default" rel="stylesheet" href="/static/assets/css/theme.css">
<script src="/static/assets/js/jquery-3.7.1.min.js"></script>
<script src="/static/asset/css/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/static/assets/js/convertDate.js"></script>
<script src="/static/assets/js/sweetalert2.all.min.js"></script>
