@font-face{
  font-family:'IranSans';
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url('fonts/IRANSansWeb.eot');
  src:url('fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
      url('fonts/IRANSansWeb.ttf') format('truetype');
}
@font-face{font-family:'PeydaBlack';font-display:swap;src:url('/static/asset/css/fonts/woff/PeydaWebFaNum-Black.woff') format('woff')}
@font-face{font-family:'PeydaBold';font-display:swap;src:url('/static/asset/css/fonts/woff/PeydaWeb-Bold.woff') format('woff')}
@font-face{font-family:'PeydaExtra';font-display:swap;src:url('/static/asset/css/fonts/woff/PeydaWeb-ExtraBold.woff') format('woff')}
@font-face{font-family:'PeydaExtral';font-display:swap;src:url('/static/asset/css/fonts/woff/PeydaWeb-ExtraLight.woff') format('woff')}
@font-face{font-family:'PeydaLight';font-display:swap;src:url('/static/asset/css/fonts/woff/PeydaWeb-Light.woff') format('woff')}
@font-face{font-family:'PeydaMedium';font-display:swap;src:url('/static/asset/css/fonts/woff/PeydaWeb-Medium.woff') format('woff')}
@font-face{font-family:'PeydaRegular';font-display:swap;src:url('/static/asset/css/fonts/woff/PeydaWebFaNum-Regular.woff') format('woff')}
@font-face{font-family:'PeydaSemiB';font-display:swap;src:url('/static/asset/css/fonts/woff/PeydaWebFaNum-Bold.woff') format('woff')}
body {
    background: #f2f5fa !important;
}
.mobile_filter {
  width:100%;
  height:270px;
  margin-left:auto;
  margin-right:auto;
  border-radius:15px;
  background:url('/static/Homepage/character.png') bottom left 80px/250px no-repeat,#54c1f9;
}
.mobile_main_header {
  padding-top: 15px;
  padding-bottom: 15px;
}
.mobile_filter_container {
  background: #fff;
  border-radius: 15px;
  position: relative;
  top: 280px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
    padding: 20px 5px;
}
.col-lg-6.search_f_ {
  width: 49%;
}
.search_label_ {
  font-family: PeydaSemib;
  font-size: 13px;
  margin-bottom: 0;
  text-align: right;
}
.text-input.search-input {
  width: 135px;
  border-bottom: 1px solid #efefef !important;
  border: none;
  line-height: 38px;
  font-size: 12px;
}
#id_NightCount {
  width: 71px;
  text-align: center;
}
.plus {
  background: #efefef;
  height: 40px;
  display: inline-block;
  width: 20px;
  line-height: 35px;
}
.minus {
  background: #efefef;
  height: 40px;
  display: inline-block;
  width: 20px;
  line-height: 35px;
}
#id_StartDate {
  border: none;
  border-bottom: 1px solid #efefef;
  font-size: 11px;
  width: 90%;
  line-height: 34px;
}
.col-lg-6.submite_section {
  width: 30%;
}
#search_tour {
  padding-right: 10px;
}
.submit-search {
  top: 20px;
  border-radius: 10px;
  background: #FADD4B;
}
.col-lg-6.search_f_.date_entry {
  width: 70%;
}
.destenation_selector_ {
  margin-top: 40px;
}
.sec_title {
  font-size: 18px;
  font-family: PeydaSemiB;
}
.sec_subtitle_ {
  font-size: 12px;
}
.item {
  border: 1px solid #d7d7d7;
  padding: 10px 15px;
  border-radius: 10px;
  margin-right: 5px;
  margin-top: 15px;
}
.item:hover {
  background: #fff;
}
.country_image {
  width: 22px;
}
.country_tours {
  font-family: PeydaRegular;
  font-size: 12px;
  line-height: 20px;
  margin-top: 5px;
  text-align: right !important;
}
.Country_name {
  font-size: 13px;
  font-family: PeydaSemib;
  text-decoration: #000;
  color: #000;
  position: relative;
  top: 5px;
}
.country_list_ {
  margin-top: 15px;
}
.owl-dots {
  display: none;
}
.item.tour {
  padding: 0;
  border: none;
  margin-top: 15px
}
.item-image {
  border-radius: 5px 5px 0px 0px;
}
.spacial-tour-title p {
  font-family: PeydaSemib;
  font-size: 14px;
  line-height: 35px;
  margin: 0;
}
a {
  text-decoration: none;
}
.spacial-tour {
  background: #fff;
  border-radius: 10px;
}
.spacial-tour-detail {
  padding-right: 15px;
}
a {
  text-decoration: none !important;:
}
.spacial-tour-price {
  padding-right: 15px;
}
.price-text {
  font-family: PeydaRegular;
  font-size: 14px;
  color: #7C7C7C;
  padding-bottom: 8px;
}
.spacial_tour {
  margin-top: 20px;
}
.spacial-tour-img img {
  height: 200px;
}
.about.container {
  background: url('/static/Homepage/Home-Slide-02.jpg') 0 0/cover no-repeat,0 0/cover no-repeat #fadd4b;
  padding: 40px 0;
  /*! border-radius: 50px; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 345px;
  height: 135px;
}
.col-lg-6 {
  width: 50% !important;
}
.cnpy_location.help_txt_ {
  font-family: PeydaRegular;
  font-size: 14px;
  margin: 0;
  line-height: 30px;
  margin-top: 5px;
  text-align: center;
}
.cnpy_location.slagon_txt_ {
  font-family: PeydaSemiB;
  margin: 0;
  text-align: center;
  line-height: 30px;
}
.call_to_agent_ {
  font-family: PeydaSemib;
  color: #fff;
  background: #54C1F9;
  font-size: 14px;
  padding: 0px 15px;
  border-radius: 5px;
  margin-right: 35px;
}
.col-lg-4.feat-sec {
  width: 33%;
}
.feat_img_ {
  width: 65px;
  height: 65px;
  margin-bottom: 20px;
}
.spacial_feature {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}
.feat-title {
  font-size: 14px;
  font-family: PeydaSemib;
  text-align: center;
  line-height: 24px;
}
.col-lg-12 {
  text-align: center;
}
.feat-text {
  font-size: 11px;
  text-align: center;
  font-family: PeydaRegular;
  line-height: 20px;
}
.slagon.container {
  background: #fff;
  width: 95%;
  border-radius: 10px;
  padding: 20px 10px;
  padding-bottom: 0;
  margin-top: 30px;
}
.slagon_title_ {
  font-family: PeydaSemib;
  font-size: 18px;
}
.slagon_txt_ {
  font-family: PeydaRegular;
  font-size: 14px;
}
.col-lg-12.about_detail {
  background:url('/static/Homepage/brifcase.png') bottom center/255px no-repeat;
  height: 250px;
}
.blog_slider {
  margin-top: 45px;
  height: 350px;
}
.blog_sec_title {
  font-family: PeydaSemiB;
  font-size: 18px;
  margin-bottom: 20px;
}
.accordion-button.collapsed {
  font-family: PeydaSemiB !important;
  font-size: 15px;
  text-align: right !important;
}
.faq_item_ img {
  width: 40px !important;
  height: 40px;
  display: inline-block;
}
.accordion-button::after {
  margin-right: 10px;
  margin-left: 0;
}
.col-lg-2.faq_image_ {
  width: 17% !important;
}
.col-lg-10.faq_qas_ {
  width: 83% !important;
}

.accordion-body {
  font-family: PeydaRegular;
  font-size: 14px;
  font-weight: normal;
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 15px;
  color: var(--bs-accordion-btn-color);
  text-align: right;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
  font-family: PeydaSemiB;
}
.mobile_footer {
  background: #fff;
  margin-top: 50px;
  padding: 30px;
}
.col-lg-6.menu_sec {
  text-align: left;
  position: relative;
  top: 5px;
  font-size: 25px;
}
.mobile_filter.tour_list_section {
  height: 130px;
  background: url(/static/Homepage/Tour-Archive-Slide-01.jpg) top left/cover no-repeat;
  border-radius: 20px;
}
.destenation_selector_.tour_list_page {
  margin-top: 40px;
}
.tour_sec_title {
  font-family: PeydaSemiB;
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
}

.row.all_tour_list_ {
  /*! background: #fff; */
  border-radius: 15px;
  margin-left: 0 !important;;
  margin-right: 0 !important;;
  margin-bottom: 10px !important;
}
.col-lg-8.tour_top_right {
  width: 64%;
  margin-top: 26px;
  height: 50px;
}
.col-lg-4.tour_top_left {
  width: 35%;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  float: left;
}
span {
}
.tlt span {
  vertical-align: middle;
  font-family: PeydaSemiB;
  display: block;
  /*! width: 80%; */
  font-size: 14px;
}
.instm {
  display: inline-block;
  background: #efefef;
  line-height: 20px;
  font-family: PeydaRegular;
  width: 50%;
  font-size: 12px;
  margin-bottom: 5px;
  border-radius: 10px;
  text-align: center !important;
}
.cash {
  display: inline-block;
  background: #efefef;
  line-height: 20px;
  font-family: PeydaRegular;
  width: 46%;
  font-size: 12px;
  margin: 0;
  border-radius: 10px;
  text-align: center !important;
}
.grt_ {
  background: #fadd4b;
  line-height: 20px;
  font-family: PeydaRegular;
  font-size: 12px;
  border-radius: 10px;
  text-align: center !important;
  color: #000;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row.top_section {
  height: 145px;
  width: 100% !important;
  background: #fff;
  border-radius: 15px;
}
.col-lg-4.tour_bottom {
  width: 33%;
}
.time-text span {
  font-family: PeydaRegular;
  font-size: 14px;
}
.row.bottom_section {
  height: 50px;
}
.time-text {
  padding-top: 10px;
}
.airline_tlt_ {
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 0;
  font-family: PeydaRegular;
}
.airline_name {
  line-height: 20px;
  font-family: PeydaRegular;
  font-size: 14px;
  margin-bottom: 0;
}
.row.bottom_section {
  height: 100px;
  width: 100% !important;
  background: #fff;
  border-radius: 15px;
  border-top: 2px dashed #efefef;
  margin-bottom: 10px;
}
.tour-more {
  display: inline-block;
  line-height: 28px;
  background: #fadd4b;
  border-radius: 10px;
  width: 113px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 15px;
}
.tour-more span {
  color: #000;
  font-family: PeydaRegular;
  font-size: 14px;
}
.singel-price {
  color: #282D33;
  font-family: PeydaSemiB;
  font-size: 16px;
  margin-top:15px;
}
.price_section {
  margin-top: 0 !important;
}
.tour-more.pdf {
  margin-top: 5px;
  background: 0 0;
  border-bottom: 1px solid #fadd4b;
  border-radius: 0;
  width: 78px;
  margin-right: 10px;
}
.country_list.hotel_list_.mobile_view {
  margin-top: 130px;
}
.hotel_list_title_ p {
  font-family: PeydaSemiB;
  font-size: 18px;
  padding-right: 15px;
  margin-top: 20px;
  color: #282D33;
}
.hotel-cat {
  background: #fff;
  border-radius: 10px;
}
.cat-img {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  display: block;
  position: relative;
}
.title-cat {
  line-height: 35px;
  padding-right: 10px;
  font-family: PeydaSemiB;
  font-size: 15px;
}
.cat-img img {
  height: 104px;
  width: 100%;
}
.hotel_list.hotel_data_ {
  font-size: 12px;
  padding-right: 15px;
  line-height: 20px;
  padding-bottom: 10px;
  font-family: PeydaRegular;
}
.title-cat.hotel_list {
  margin-bottom: 0;
  line-height: 30px;
}
.top_rate_ {
  position: absolute;
  bottom: 65px;
  right: 100px;
  background: #fff;
  display: block;
  height: 15px;
  line-height: 15px;
  font-size: 11px;
  font-family: PeydaSemiB;
  width: 45px;
  text-align: center;
  border-radius: 5px;
}
.gte_hotel {
  position: absolute;
  bottom: 40px;
  font-size: 11px;
  background: #FADD4B;
  line-height: 20px;
  right: 75px;
  display: block;
  width: 72px;
  text-align: center;
  font-family: PeydaSemib;
  border-radius: 5px;
  color: #000;
}
.tour_detail_page.tour_image {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.tour_title_ {
  text-align: right;
  font-family: PeydaSemib;
  font-size: 18px;
  margin-top: 30px;
}
.tour_info_data_ {
  font-family: PeydaRegular;
  font-size: 15px;
  text-align: right;
}
.tour_dest_data {
  text-align: right;
  font-size: 18px;
  font-family: PeydaSemiB;
  margin-top: 20px;
}
.col-lg-1.border_left_ {
  width: 20%;
  padding-bottom: 30px;
}
.row.city_data {
  background: #fff;
  border-radius: 15px;
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-bottom: 2px dashed #efefef;
}
.col-lg-4.border_left_ {
  width: 29%;
  text-align: center;
  font-family: PeydaSemib;
  margin-top: 20px;
}
.airline_eng_tlt_ {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 20px;
}
.flight_class_ {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 20px;
  font-family: PeydaSemiB;
  margin-top: 20px;
}
.cargo_limit_ {
  font-size: 11px;
  line-height: 20px;
  font-family: PeydaRegular;
}
.airline_fa_tlt_ {
  font-size: 11px;
  margin-bottom: 0;
  line-height: 16px;
}
.col-lg-3.border_left_ {
  width: 12%;
  text-align: center;
  font-family: PeydaRegular;
}
.tour_airline_tlt_ {
  margin-bottom: 0;
  margin-top: 20px;
}
.col-lg-4.second_row {
  width: 33%;
  text-align: center;
  border-top: 1px solid #efefef;
}
.Flight_time_ {
  text-align: center;
  font-size: 15px;
  margin-bottom: 0;
  line-height: 30px;
  margin-top: 10px;
  font-family: PeydaREgular;
}
.Flight_duration_ {
  text-align: center;
  font-size: 15px;
  margin-bottom: 0;
  line-height: 30px;
  margin-top: 10px;
  font-family: PeydaREgular;
}
.transfer_type_ {
  margin-top: 20px;
}
.cargo_limit_.line_after {
  margin-top: 12px;
}
.short-desc {
  width: 95% !important;;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 15px;
  margin-top: 20px !important;;
}
.col-lg-3 {
  width: 25%;
}
.row.pakage_container {
  width: 95% !important;;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 30px !important;
  background: #fff;
  border-radius: 15px !important;
  overflow: hidden !important;
  padding: 0;
}
.col-lg-3.hotel_data {
  width: 25% !important;
  padding: 0;
  text-align: center;
}
.hotel_image_ img {
  width: 100%;
  height: 57px;
}
.hotel_fa_tlt_ {
  padding: 0;
}
.hotel_en_tlt_ {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0px;
  padding-right: 5px;
  font-family: PeydaRegular;
}
.hotel_fa_tlt_ {
  font-size: 11px;
  line-height: 20px;
  margin-bottom: 4px;
  padding-right: 5px;
  font-family: PeydaSemib;
  margin-top: 0px;
}
.hotel_rating_ img {
  width: 60px;
  margin-top: 6px;
}
.hotel_rating_ {
  text-align: center;
  margin-bottom: 0px
}
.night_count_ {
  font-family: PeydaRegular;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0px;
}
.hotel_class_ {
  font-size: 12px;
  font-family: PeydaREgular;
  text-align: center;
  margin-bottom: 0;
}
.col-lg-4.price_ {
  width: 33.3%;
  background: #E5E1D2;
  border: 1px solid #efefef;
  text-align: center;
}
.bed_price_tlt_ {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0;
  font-family: PeydaSemib;
}
.bed_price_ {
  font-size: 12px;
  font-family: PeydaRegular;
  margin-bottom: 0px !important;
  line-height: 20px;
}
.row.peice_section {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.add_to_cart {
  color: #000;
  font-family: PeydaSemiB;
  font-size: 10px;
  background: #FADD4B;
  padding: 0px 20px;
  line-height: 17px;
  border-radius: 10px;
  height: 20px;
  display: block;
  margin-top: 10px;
}
.hotel_main_image {
  width: 95%;
  border-radius: 15px;
  overflow: hidden;
  margin-left: auto;
  margin-right:auto;
}
.hotel_main_image img {
  height: 200px;
}
.row.top_level_data {
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: #fff;
  border-radius: 15px;
  margin-top: 30px !important;
}
.row.top_level_data {
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: #fff;
  border-radius: 15px;
  margin-top: 30px !important;
}
.col-lg-4.hotel_data_detail {
  width: 33.3%;
  text-align: center;
}
.col-lg-5.hotel_data_detail {
  width: 40%;
  text-align: center;
}
.col-lg-3.hotel_data_detail {
  width: 26.7%;
  text-align: center;
  padding: 0;
}
.feature_title {
  font-size: 14px;
  font-family: PeydaSemiB;
  margin-bottom: 0;
  line-height: 25px;
  margin-top: 10px;
}
.feature_value {
  font-size: 12px;
  font-family: PeydaRegular;
  line-height: 15px;
  margin-bottom: 0;
  margin-top: 8px;
}
a.feature_title {
  font-family: PeydaSemiB;
  background: #FADD4B;
  width: 80px;
  display: block;
  color: #000;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
  top: 15px;
}
.booking_rate_ {
  height: 65px;
}
.hotel-data-i.map {
  background-size:cover !important;
  background-repeat:no-repeat!important;
  background-position:center center!important;
  border-left:none;
  background:url("/static/asset/images/spot-map-button-bg.png") no-repeat;
  background-position-x:0%;
  background-position-y:0%;
  margin-top:0;
  height:227px;
  border-radius: 15px 0px 0px 15px;
}
.row.title_line {
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.data-m img {
  width: 100px;
}
.hotel_list_title_ p {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 0;
}
.hotel_desc {
  background: #fff;
  border-radius: 10px;
}
.hotel_desc_head_ {
  text-align: right;
  font-size: 16px;
  font-family: PeydaSemiB;
  padding-right: 10px;
}
.related_tour_list {
  text-align: right;
  font-family: PeydaSemib;
  font-size: 18px;
  margin-top: 30px;
}
.menu_dropdown {
  background: #fff;
  text-align: center;
  position: absolute;
  padding: 0 !important;
  margin-left: auto;
  margin-right: auto;
  top: 75px;
  right: 0;
  z-index: 100;
  display: none;
}
.navbar-link {
  list-style: none;
  font-family: PeydaSemiB;
  padding: 0;
  margin: 0;
}
.item-link {
  line-height: 40px;
  border-bottom: 1px solid #efefef;
}
.item-link a {
  color: #000;
}
#menu_action {
  background: none;
  color: #000;
  padding: 0;
}
.hotel_list_title_ {
  margin-bottom: 20px;
}
.about_us_body {
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
}
._about_us_page {
  text-align: right;
  font-family: PeydaSemiB;
  margin-top: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}
.fa.fa-info-circle.about_ {
  color: #4394cf;
  vertical-align: middle;
  padding-left: 5px;
}
p {
  text-align: justify !important;
  font-family: PeydaRegular;
}
.contact-box {
  background: #fff;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}
.contact-text {
  font-family: PeydaSemiB;
}
.text-input {
  width: 100%;
  margin-bottom: 10px;
  font-family: PeydaRegular;
  font-size: 14px;
  line-height: 40px;
  border: none;
  background: #f2f5fa;
  border-radius: 5px;
  text-align: center;
}
.btn.btn-lg.btn-info.btn-block {
  width: 50%;
  background: #FADD4B;
  border: none;
  font-size: 13px;
  font-family: PeydaSemiB;
  margin-left: auto;
  display: block;
}
._blog_page_post_cat {
  position: absolute;
}
._blog_cat {
  font-family: PeydaRegular;
  font-size: 12px;
  background: #FADD4B;
  padding: 0px 10px;
  border-radius: 0px 15px 0px 0px;
}
.post_image_index {
  border-radius: 15px 15px 0px 0px;
}
.post_title_index {
  background: #fff;
  padding-right: 10px;
  border-radius: 0px 0px 15px 15px;
}
._index_title.blog_page {
  line-height: 50px;
  font-family: PEydaSemiB;
}
._new_posts_heading {
  font-family: PeydaSemiB;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fa.fa-file-text {
  color: #FADD4B;
  vertical-align: middle;
  padding-left: 5px;
  font-size: 25px;
}
._list_post_cat {
  position: absolute;
}
.post_list_title {
  background: #fff;
  padding-right: 15px;
  border-radius: 0px 0px 15px 15px;
}
._post_list_title {
  font-family: PeydaSemiB;
}
._post_list_title.two_col {
  font-size: 13px;
  line-height: 20px;
  padding-left: 15px;
  padding-bottom: 8px;
}
.post_list_title.two_col {
  height: 50px;
  margin-bottom: 10px;
}
._all_post_list_header {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: PeydaSemiB;
}
.fa.fa-bars {
  vertical-align: middle;
  padding-left: 10px;
}
.post_body_ {
  background: #fff;
  margin-bottom: 16px;
  border-radius:15px;
  overflow:hidden;
}
.post_title_ {
  font-family: PeydaSemiB;
  line-height: 34px;
  font-size: 18px;
}
.post_desc_short p {
  font-family: PeydaRegular;
  font-size: 14px;
}
.post_read_more_ {
  margin-bottom: 20px;
  margin-right: auto;
  width: 100px;
  text-align: center;
  background: #FADD4B;
  border-radius: 6px;
}
.read_more_btn_ {
  font-family: PeydaSemiB;
  font-size: 14px;
  line-height: 30px;
  color: #000;
}
.col-lg-4.blog_list_image {
  padding: 0;
}
._post_image {
  border-radius: 15px;
  width: 95%;
  height: 250px;
}
._post_page_cat {
  margin-top: 20px;
  text-align: right;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
._post_cat {
  background: #FADD4B;
  padding-left: 10px;
  font-family: PeydaRegular;
  padding-right: 10px;
  border-radius: 5px;
}
._post_page_title {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: PeydaSemiB;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 40px;
}
._post_page_short_desc {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: PeydaRegular;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  border-right: 3px solid #7ac9f0;
}
._post_page_full_desc {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  margin-top: 10px;
  font-family: PeydaRegular;
}
.dest_item {
  list-style: none;
  font-family: PeydaRegular;
  line-height: 30px;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}
#defualt_dest {
  position: absolute;
  background: #fff;
  border: 1px solid #efefef;
  width: 136px;
  top: 94px;
  right: 27px;
}
#list_dest {
  border: 1px solid #efefef;
  position: absolute;
  background: #fff;
  width: 135px;
  top: 94px;
  right: 26px;
  z-index: 100;
}
p {
  text-align: center !important;
}
.transfer_type_.rotate_ {
  transform: rotate(180deg);
}
.hotel_image_ {
  position: relative;
}

.top_rate_.t_mobile_view {
  position: absolute;
  bottom: 21px;
  right: 38px;
  background: #fff;
  display: block;
  height: 12px;
  line-height: 15px;
  font-size: 9px;
  font-family: PeydaSemiB;
  width: 45px;
  text-align: center;
  border-radius: 5px;
}

.gte_hotel.g_mobile_view {
  position: absolute;
  bottom: 5px;
  font-size: 8px;
  background: #FADD4B;
  line-height: 20px;
  right: 12px;
  display: block;
  width: 72px;
  text-align: center;
  font-family: PeydaSemib;
  border-radius: 5px;
  color: #000;
  height: 14px;
  line-height: 15px;
}
.col-lg-10.search_f_ {
  width: 85%;
}
.search_label_ {
}
#id_hotel_name {
  width: 100%;
}
.col-lg-2.mobile_search {
  width: 15px !important;
}
#search_link {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 40px;
}
.fa.fa-search {
  text-align: center !important;
  color: #fff;
  vertical-align: middle;
  position: relative;
  top: 8px;
  display: block;
}
.row.mobile_hotel_search {
  background: #fff;
  border-radius: 15px;
  position: relative;
  top: 140px;
  width: 95%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.page-link {
  padding: 0px 10px;
  font-family: PeydaRegular;
}
.pagination {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  float: right;
}
.pagination.tour_list_ {
  direction: rtl;
  margin-bottom: 5px;
}

.tour_origins {
  margin-top: 230px;
}
.origin_list_ {
  background: #fff;
  margin-bottom: 5px;
  border-radius: 15px;
}
.origin_tours {
  margin-bottom: 0;
  font-family: PeydaREgular;
  font-size: 14px;
  margin-top: 5px;
}
.origin_name {
  font-family: PeydaSemiB;
  margin-bottom: 0;
  margin-top: 0px;
  text-align: right !important;
  padding-right: 10px;
}
.fa.fa-map-pin {
  color: #fadd4b;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 18px;
}
.submenu_items {
  padding: 0;
  margin: 0;
}
.sub_menu {
  border-top: 1px solid #efefef;
}
.submenu_link {
  line-height: 34px;
  border-bottom: 1px solid #efefef;
  background: #f9f9f9;
}
.col-lg-6.origin_count_section {
  padding: 0;
}
.lmt_40 {
  margin-top: 120px;
}
span.plus_icon .fa.fa-plus-square{
  vertical-align: middle;
  position: relative;
  right: 20px;
  color: #00b5ec;
  cursor: pointer;
}
.sub_menu {
  display: none;
}
.item-link.call_satrap {
  background: #f6d055;
}

.dd_to_cart {
  background: #f6d055;
  width: 90px;
  display: block;
  text-align: center;
  line-height: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
  color: #000 !important;
  margin-top: 7px;
  font-size: 13px;
  padding: 0;
  height: 25px;
  padding-bottom: 3px;
}
.dd_to_cart {
  background: #f6d055;
  width: 90px;
  display: block;
  text-align: center;
  line-height: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
  color: #000 !important;
  margin-top: 7px;
  font-size: 13px;
  padding: 0;
  height: 25px;
  padding-bottom: 3px;
}
.modal-title.fs-5 {
  font-size: 12px !important;
  font-family: PeydaSemiB;
}
.btn-close {
  margin-left: 0 !important;
}
.modal_label {
  font-size: 12px;
  text-align: right !important;
  font-family: PeydaRegular;
}
.order-input {
  text-align: right;
}
.form-control.reserve {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: PeydaRegular;
  background: #f9f9f9;
  border: 1px solid #efefef;
}

.btn.btn-primary {
  font-family: PeydaRegular;
}
.col-lg-4.order_form {
  width: 33.3%;
}
.reserv-info {
  background: #fff;
  margin-top: 50px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #efefef;
}
.form-title.headline {
  font-family: PeydaSemiB;
  font-size: 20px;
}
.inform {
  font-family: PeydaRegular;
  font-size: 15px;
}

.installment_calculator {
  background: #FADD4B;
  position: fixed;
  z-index: 1000;
  height: 0px;
  overflow: hidden;
}
.installment_calc_header {
  font-family: PeydaSemiB;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 30px;
}
.input_label {
  text-align: right !important;
  font-family: PeydaRegular;
  font-size: 13px;
  margin-bottom: 0;
}
.form-control.price_input.line_1 {
  font-family: PeydaRegular;
  font-size: 14px;
  margin-bottom: 5px;
}
.calc_btn {
  width: 100%;
  line-height: 20px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-family: PeydaRegular;
  margin-bottom: 20px;
}
.result_tab {
  background: #fff;
  border-radius: 15px;
}
.installment_result_heading {
  text-align: right !important;
  font-family: PeydaSemiB;
  margin-top: 17px;
  margin-bottom: 0;
  line-height: 20px;
  color: #487eae;
}
.installment_value {
  text-align: left !important;
  font-family: PeydaSemiB;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 20px;
}
.data_heading_ {
  font-family: PeydaSemiB;
  margin-bottom: 0;
  line-height: 20px;
  margin-top: 10px;
}
.data_value_ {
  font-family: PeydaSemiB;
  margin-bottom: 0;
  line-height: 25px;
  margin-top: 15px;
  color: #FADD4B;
}
.data_currency_ {
  font-family: PeydaRegular;
  line-height: 20px;
  margin-bottom: 10px;
}
.colse_btn {
  width: 30px;
  text-align: center;
  position: absolute;
  top: 20px;
  font-size: 28px;
  cursor: pointer;
  left: 20px;
}
.fa.fa-calculator {
  font-size: 24px;
  position: fixed;
  bottom: 80px;
  background: #FADD4B;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  color: #fff;
  border-radius: 50%;
  left: 20px;
}
.form-control.price_input {
  font-family: PeydaRegular;
  font-size: 14px;
}